# Data Cleaning

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('nobel_winners_dirty.json')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
born_in           1052 non-null object
category          1052 non-null object
country           1052 non-null object
date_of_birth     1044 non-null object
date_of_death     1044 non-null object
gender            1040 non-null object
link              1052 non-null object
name              1052 non-null object
place_of_birth    1044 non-null object
place_of_death    1044 non-null object
text              1052 non-null object
year              1052 non-null int64
dtypes: int64(1), object(11)
memory usage: 98.7+ KB

없는 데이터가 있으면
1. row를 제거한다
2. 없는 데이터를 채운다

In [4]:
df.describe(include='all')

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052,1052.000000
unique,40,7,59,853,563,2,893,998,735,410,1043,NaN
top,,Physiology or Medicine,United States,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Yoichiro Nambu,,,"Michael Levitt , born in South Africa , Chemi...",NaN
freq,910,250,350,4,362,982,4,2,29,409,2,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.729087
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.155829
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1809.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1947.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000

all 옵션: 모든 데이터에 대한 통계값을 보여준다.(type이 object인 column도 포함)

In [5]:
df.describe(include=['object'])

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052
unique,40,7,59,853,563,2,893,998,735,410,1043
top,,Physiology or Medicine,United States,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Yoichiro Nambu,,,"Michael Levitt , born in South Africa , Chemi..."
freq,910,250,350,4,362,982,4,2,29,409,2

type이 object인 column에 대한 통계값을 보여준다.

In [6]:
df

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,Maurice Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Henri La Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,Corneille Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,Georges Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,Christian de Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,Karl Adolph Gjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Johannes Andreas Grib Fibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,Henrik Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,Johannes Vilhelm Jensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner *,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori *,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori *,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi *,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn *,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch *,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel *,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,Sir Howard Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,Sir Frank Macfarlane Burnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,John Carew Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,Patrick White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,John Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty & Professor Rolf Zinkernagel,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [7]:
df.head()

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [8]:
df.tail()

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [9]:
df.sample(10)

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
181,,Physiology or Medicine,United States,"July 1, 1941",,male,http://en.wikipedia.org/wiki/Alfred_G._Gilman,Alfred G. Gilman,"New Haven, Connecticut",,"Alfred G. Gilman , Physiology or Medicine, 1994",1994
417,,Economics,United States,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,William Vickrey,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey , born in Canada , Economics,...",1996
398,,Physiology or Medicine,United States,1 April 1919,"November 26, 2012",male,http://en.wikipedia.org/wiki/Joseph_Murray,Joseph E. Murray,"Milford, Massachusetts","Boston, Massachusetts","Joseph E. Murray , Physiology or Medicine, 1990",1990
163,,Physics,United States,1959-09-22,,male,http://en.wikipedia.org/wiki/Saul_Perlmutter,Saul Perlmutter,"Champaign-Urbana , Illinois , U.S.",,"Saul Perlmutter , Physics, 2011",2011
215,,Physics,United States,"June 13, 1911","September 1, 1988",male,http://en.wikipedia.org/wiki/Luis_Walter_Alvarez,Luis Alvarez,"San Francisco, California , USA","Berkeley, California","Luis Alvarez , Physics, 1968",1968
297,,Physiology or Medicine,United States,"May 23, 1925","February 2, 2008",male,http://en.wikipedia.org/wiki/Joshua_Lederberg,Joshua Lederberg,"Montclair, New Jersey , USA","NewYork-Presbyterian Hospital , New York City,...","Joshua Lederberg , Physiology or Medicine, 1958",1958
536,,Physiology or Medicine,United Kingdom,1889-11-30,1977-08-04,male,"http://en.wikipedia.org/wiki/Edgar_Adrian,_1st...",Edgar Adrian,"Hampstead , London, England","Cambridge , Cambridgeshire , England","Edgar Adrian, 1st Baron Adrian , Physiology or...",1932
10,,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
899,,Physics,Germany,21 October 1957,,male,http://en.wikipedia.org/wiki/Wolfgang_Ketterle,Wolfgang Ketterle,"Heidelberg , Germany",,"Wolfgang Ketterle , Physics, 2001",2001
782,,Physics,Japan,,,male,http://en.wikipedia.org/wiki/Hiroshi_Amano,Hiroshi Amano,,,"Hiroshi Amano , Physics, 2014",2014

pandas data type
1. object
2. int64
3. float64
4. category - 경우가 한정된 문자(ex: 남 or 여)
5. datetime

In [10]:
df.dtypes

born_in           object
category          object
country           object
date_of_birth     object
date_of_death     object
gender            object
link              object
name              object
place_of_birth    object
place_of_death    object
text              object
year               int64
dtype: object

df의 모든 데이터 type을 보여준다.

In [11]:
df.shape

(1052, 12)

df의 형태를 보여준다.

In [12]:
df[df.category=='Chemistry']

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
12,,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
26,,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
30,,Chemistry,Czech Republic,"December 20, 1890","March 27, 1967",male,http://en.wikipedia.org/wiki/Jaroslav_Heyrovsk...,Jaroslav Heyrovský,"Prague , Bohemia","Cambridge , England","Jaroslav Heyrovský , Chemistry, 1959",1959
33,,Chemistry,France,12 September 1897,17 March 1956,female,http://en.wikipedia.org/wiki/Ir%C3%A8ne_Joliot...,Irène Joliot-Curie,"Paris, France","Paris, France","Irène Joliot-Curie , Chemistry, 1935",1935
34,,Chemistry,France,19 March 1900,14 August 1958,male,http://en.wikipedia.org/wiki/Fr%C3%A9d%C3%A9ri...,Frédéric Joliot,"Paris, France","Paris, France","Frédéric Joliot , Chemistry, 1935",1935
49,,Chemistry,Germany,10 November 1918,2007-07-23,male,http://en.wikipedia.org/wiki/Ernst_Otto_Fischer,Ernst Otto Fischer,"Solln, since 1938 part of Munich, German Empire","Munich, Germany","Ernst Otto Fischer , Chemistry, 1973",1973
52,,Chemistry,Germany,"June 16, 1897","August 26, 1987",male,http://en.wikipedia.org/wiki/Georg_Wittig,Georg Wittig,"Berlin, Germany","Heidelberg , West Germany","Georg Wittig , Chemistry, 1979",1979
59,,Chemistry,Germany,18 July 1948,,male,http://en.wikipedia.org/wiki/Hartmut_Michel,Hartmut Michel,Ludwigsburg,,"Hartmut Michel , Chemistry, 1988",1988
60,,Chemistry,Germany,20 February 1937,,male,http://en.wikipedia.org/wiki/Robert_Huber,Robert Huber,Munich,,"Robert Huber , Chemistry, 1988",1988
61,,Chemistry,Germany,"September 30, 1943",,male,http://en.wikipedia.org/wiki/Johann_Deisenhofer,Johann Deisenhofer,"Zusamaltheim , Bavaria, Germany",,"Johann Deisenhofer , Chemistry, 1988",1988
70,,Chemistry,Germany,9 October 1852,15 July 1919,male,http://en.wikipedia.org/wiki/Hermann_Emil_Fischer,Hermann Emil Fischer,"Euskirchen , Germany","Berlin, Germany","Hermann Emil Fischer , Chemistry, 1902",1902
71,,Chemistry,Germany,"October 31, 1835","August 20, 1917",male,http://en.wikipedia.org/wiki/Adolf_von_Baeyer,Adolf von Baeyer,"Berlin , Germany","Starnberg , Germany","Adolf von Baeyer , Chemistry, 1905",1905
74,,Chemistry,Germany,"May 20, 1860",1917-8-13,male,http://en.wikipedia.org/wiki/Eduard_Buchner,Eduard Buchner,"Munich , Germany","Munich , Germany","Eduard Buchner , Chemistry, 1907",1907
77,,Chemistry,Germany,1853-09-02,1932-04-04,male,http://en.wikipedia.org/wiki/Wilhelm_Ostwald,Wilhelm Ostwald,"Riga , Latvia","Leipzig , Germany","Wilhelm Ostwald , born in then Russia, now La...",1909
94,,Chemistry,Israel,"December 31, 1937",,male,http://en.wikipedia.org/wiki/Avram_Hershko,Avram Hershko,"Karcag, Hungary",,"Avram Hershko , born in Hungary , Chemistry, ...",2004
95,,Chemistry,Israel,"October 1, 1947",,male,http://en.wikipedia.org/wiki/Aaron_Ciechanover,Aaron Ciechanover,"Haifa, Mandatory Palestine",,"Aaron Ciechanover , Chemistry, 2004",2004
101,Mexico,Chemistry,,1943-03-19,,male,http://en.wikipedia.org/wiki/Mario_J._Molina,Mario José Molina Henríquez *,"Mexico City , Mexico",,"Mario José Molina Henríquez *, Chemistry, 1995",1995
106,Lithuania,Chemistry,,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug *,"Želva, Lithuania",,"Aaron Klug *, Chemistry, 1982",1982
109,Latvia,Chemistry,,1853-09-02,1932-04-04,male,http://en.wikipedia.org/wiki/Wilhelm_Ostwald,Wilhelm Ostwald *,"Riga , Latvia","Leipzig , Germany","Wilhelm Ostwald *, born in then Russian Empir...",1909
121,,Chemistry,South Africa,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug,"Želva, Lithuania",,"Aaron Klug , Chemistry, 1982",1982
128,South Africa,Chemistry,,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Michael Levitt *,"Pretoria, South Africa",,"Michael Levitt *, Chemistry, 2013",2013
131,,Chemistry,United Kingdom,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug,"Želva, Lithuania",,"Aaron Klug , born in Lithuania , Chemistry, 1982",1982
138,United Kingdom,Chemistry,,26 April 1932,4 October 2000,male,http://en.wikipedia.org/wiki/Michael_Smith_(ch...,Michael Smith *,"Blackpool , England","Vancouver , British Columbia , Canada","Michael Smith *, Chemistry, 1993",1993
142,,Chemistry,United Kingdom,7 October 1939,,male,http://en.wikipedia.org/wiki/Harold_Kroto,Harold Kroto,"Wisbech , Cambridgeshire , England",,"Harold Kroto , Chemistry, 1996",1996
143,,Chemistry,United Kingdom,7 January 1941,,male,http://en.wikipedia.org/wiki/John_E._Walker,John E. Walker,"Halifax , West Yorkshire , England .",,"John E. Walker , Chemistry, 1997",1997
144,,Chemistry,United Kingdom,31 October 1925,15 March 2004,male,http://en.wikipedia.org/wiki/John_Pople,John Pople,"Burnham-on-Sea , Somerset , England","Chicago , Illinois , United States","John Pople , Chemistry, 1998",1998
151,,Chemistry,United Kingdom,19 March 1883,19 March 1950,male,http://en.wikipedia.org/wiki/Norman_Haworth,Norman Haworth,"90 Park Road, Chorley , Lancashire , England","Barnt Green , Worcestershire , England","Norman Haworth , Chemistry, 1937",1937
157,,Chemistry,United Kingdom,13 September 1886,8 February 1975,male,http://en.wikipedia.org/wiki/Robert_Robinson_(...,Robert Robinson,"Derbyshire , England","Great Missenden , Buckinghamshire , England","Robert Robinson , Chemistry, 1947",1947
167,,Chemistry,United States,1943-04-15,,male,http://en.wikipedia.org/wiki/Robert_J._Lefkowitz,Robert J. Lefkowitz,"Bronx, New York , United States",,"Robert J. Lefkowitz , Chemistry, 2012",2012
...,...,...,...,...,...,...,...,...,...,...,...,...
889,Germany,Chemistry,,"December 25, 1904","March 3, 1999",male,http://en.wikipedia.org/wiki/Gerhard_Herzberg,Gerhard Herzberg *,"Hamburg , Germany","Ottawa , Ontario","Gerhard Herzberg *, Chemistry, 1971",1971
902,,Chemistry,Germany,10 October 1936,,male,http://en.wikipedia.org/wiki/Gerhard_Ertl,Gerhard Ertl,"Bad Cannstatt , Germany",,"Gerhard Ertl , Chemistry, 2007",2007
906,,Chemistry,Germany,"December 23, 1962",,male,http://en.wikipedia.org/wiki/Stefan_Hell,Stefan Hell,"Arad , Romania",,"Stefan Hell , born in Romania , Chemistry, 2014",2014
914,,Chemistry,France,"September 28, 1852","February 20, 1907",male,http://en.wikipedia.org/wiki/Henri_Moissan,Henri Moissan,"Paris , France","Paris , France","Henri Moissan , Chemistry, 1906",1906
919,,Chemistry,France,7 November 1867,4 July 1934,female,http://en.wikipedia.org/wiki/Marie_Curie,Marie Curie,"Warsaw , Poland","Sancellemoz , France","Marie Curie , born in then Russian Empire, no...",1911
920,,Chemistry,France,"May 6, 1871","December 13, 1935",male,http://en.wikipedia.org/wiki/Victor_Grignard,Victor Grignard,"Cherbourg , France","Lyon , France","Victor Grignard , Chemistry, 1912",1912
921,,Chemistry,France,5 November 1854,14 August 1941,male,http://en.wikipedia.org/wiki/Paul_Sabatier_(ch...,Paul Sabatier,"Carcassonne, France","Toulouse, France","Paul Sabatier , Chemistry, 1912",1912
924,France,Chemistry,,12 December 1866,15 November 1919,male,http://en.wikipedia.org/wiki/Alfred_Werner,Alfred Werner *,"Mulhouse , Alsace","Zurich , Switzerland","Alfred Werner *, Chemistry, 1913",1913
935,France,Chemistry,,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir *,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir *, Chemistry, 1970",1970
942,,Chemistry,France,"September 30, 1939",,male,http://en.wikipedia.org/wiki/Jean-Marie_Lehn,Jean-Marie Lehn,"Rosheim , France",,"Jean-Marie Lehn , Chemistry, 1987",1987
949,,Chemistry,France,"October 10, 1930",,male,http://en.wikipedia.org/wiki/Yves_Chauvin,Yves Chauvin,,,"Yves Chauvin , Chemistry, 2005",2005
959,,Chemistry,Finland,15 January 1895,11 November 1973,male,http://en.wikipedia.org/wiki/Artturi_Ilmari_Vi...,Artturi Ilmari Virtanen,"Helsinki , Finland","Helsinki , Finland","Artturi Ilmari Virtanen , born in the Grand D...",1809
965,,Chemistry,Egypt,"February 26, 1946",,male,http://en.wikipedia.org/wiki/Ahmed_Zewail,Ahmed Zewail,"Damanhour , Egypt",,"Ahmed Zewail , Chemistry, 1999",1999
972,Croatia,Chemistry,,1887-09-13,1976-9-26,male,http://en.wikipedia.org/wiki/Leopold_Ru%C5%BEi...,Leopold Ružička *,"Vukovar , Austria-Hungary","Mammern , Switzerland","Leopold Ružička *, born in Austro-Hungarian E...",1939
985,,Chemistry,Canada,30 August 1871,19 October 1937,male,http://en.wikipedia.org/wiki/Ernest_Rutherford...,Ernest Rutherford,"Spring Grove, near Nelson, New Zealand","Cambridge, England","Ernest Rutherford , born in New Zealand , Che...",1908
987,Canada,Chemistry,,"May 12, 1895","March 28, 1982",male,http://en.wikipedia.org/wiki/William_Giauque,William Giauque *,"Niagara Falls, Ontario , Canada","Berkeley , California","William Giauque *, Chemistry, 1949",1949
990,,Chemistry,Canada,"December 25, 1904","March 3, 1999",male,http://en.wikipedia.org/wiki/Gerhard_Herzberg,Gerhard Herzberg,"Hamburg , Germany","Ottawa , Ontario","Gerhard Herzberg , born in Germany , Chemistr...",1971
993,Canada,Chemistry,,"November 30, 1915","November 16, 2005",male,http://en.wikipedia.org/wiki/Henry_Taube,Henry Taube *,"Neudorf , Saskatchewan , Canada","Palo Alto , California","Henry Taube *, Chemistry, 1983",1983
994,,Chemistry,Canada,23 January 1929,,male,http://en.wikipedia.org/wiki/John_Charles_Polanyi,John C. Polányi,"Berlin , Germany",,"John C. Polányi , born in Germany , Chemistry...",1986
995,,Chemistry,Canada,"May 7, 1939",,male,http://en.wikipedia.org/wiki/Sidney_Altman,Sidney Altman,"Montreal, Quebec , Canada",,"Sidney Altman , Chemistry, 1989",1989
997,Canada,Chemistry,,"July 21, 1923",,male,http://en.wikipedia.org/wiki/Rudolph_A._Marcus,Rudolph A. Marcus *,"Montreal , Quebec",,"Rudolph A. Marcus *, Chemistry, 1992",1992
998,,Chemistry,Canada,26 April 1932,4 October 2000,male,http://en.wikipedia.org/wiki/Michael_Smith_(ch...,Michael Smith,"Blackpool , England","Vancouver , British Columbia , Canada","Michael Smith , born in the United Kingdom , ...",1993
1017,,Chemistry,Austria,3 September 1869,13 December 1930,male,http://en.wikipedia.org/wiki/Fritz_Pregl,Friderik Pregl,"Ljubljana , Austria Hungary","Graz , Austria","Friderik Pregl , born in then Austria-Hungary...",1923
1018,,Chemistry,Austria,1 April 1865,23 September 1929,male,http://en.wikipedia.org/wiki/Richard_Adolf_Zsi...,Richard Adolf Zsigmondy,"Vienna , Austrian Empire","Göttingen , Germany","Richard Adolf Zsigmondy , Chemistry, 1925",1925
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn *,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1026,,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970

In [25]:
df[df.category=='Chemistry'].country.unique()

array(['', 'Belgium', 'Denmark', 'Czech Republic', 'France', 'Germany',
       'Israel', 'South Africa', 'United Kingdom', 'United States',
       'Taiwan', 'Switzerland', 'Sweden', 'Russia', 'Poland', 'Norway',
       'Netherlands', 'Japan', 'Italy', 'Hungary', 'Finland', 'Egypt',
       'Canada', 'Austria', 'Argentina'], dtype=object)

unique: 중복된 데이터 제거.

In [27]:
len(df[df.category=='Chemistry'].country.unique())

25

In [28]:
df.columns

Index(['born_in', 'category', 'country', 'date_of_birth', 'date_of_death',
       'gender', 'link', 'name', 'place_of_birth', 'place_of_death', 'text',
       'year'],
      dtype='object')

In [29]:
type(df.columns)

pandas.core.indexes.base.Index

In [30]:
print(df.columns[0])
print(df.columns[1])

born_in
category

columns를 사용하면 column 이름을 일일이 외우지 않아도 된다.

In [31]:
df2 = df.set_index('name')

In [32]:
df2

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
Maurice Maeterlinck,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
Henri La Fontaine,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
Jules Bordet,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
Corneille Heymans,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
Georges Pire,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
Albert Claude,,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
Christian de Duve,,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
Ilya Prigogine,,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
François Englert,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
Simon Kuznets *,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
Menachem Begin *,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
Shimon Peres *,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
Karl Adolph Gjellerup,,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
August Krogh,,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
Niels Bohr,,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
Johannes Andreas Grib Fibiger,,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
Henrik Dam,,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
Johannes Vilhelm Jensen,,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
Ben Roy Mottelson,,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
Aage Bohr,,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
Niels Kaj Jerne,,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
Jens Christian Skou,,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
Bertha von Suttner *,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
Gerty Cori *,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
Carl Ferdinand Cori *,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...
Victor Francis Hess,,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
Otto Loewi *,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
Richard Kuhn *,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
Wolfgang Pauli,,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
Max F. Perutz,,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
Karl von Frisch *,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
Konrad Lorenz,,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
Friedrich Hayek,,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
Walter Kohn *,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
Eric R. Kandel *,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
Elfriede Jelinek,,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
International Atomic Energy Agency,,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,None,None,"International Atomic Energy Agency , Peace, 2005",2005
Martin Karplus *,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
William Lawrence Bragg *,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
Sir Howard Florey,,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
Sir Frank Macfarlane Burnet,,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
John Carew Eccles,,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
Aleksandr M. Prokhorov *,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
Patrick White,,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
John Warcup Cornforth *,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
John Harsanyi,,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
Peter C. Doherty & Professor Rolf Zinkernagel,,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
J. Robin Warren,,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
Barry Marshall,,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
Elizabeth H. Blackburn *,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
Brian P. Schmidt,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
Carlos Saavedra Lamas,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
Bernardo Houssay,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
Luis Federico Leloir,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
Adolfo Pérez Esquivel,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [33]:
df2.reset_index()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,Maurice Maeterlinck,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,Henri La Fontaine,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,Jules Bordet,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,Corneille Heymans,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,Georges Pire,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,Albert Claude,,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,Christian de Duve,,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,Ilya Prigogine,,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,François Englert,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Simon Kuznets *,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Menachem Begin *,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Shimon Peres *,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,Karl Adolph Gjellerup,,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,August Krogh,,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,Niels Bohr,,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,Johannes Andreas Grib Fibiger,,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,Henrik Dam,,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,Johannes Vilhelm Jensen,,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,Ben Roy Mottelson,,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,Aage Bohr,,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,Niels Kaj Jerne,,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,Jens Christian Skou,,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Bertha von Suttner *,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Gerty Cori *,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Carl Ferdinand Cori *,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,Victor Francis Hess,,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Otto Loewi *,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Richard Kuhn *,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,Wolfgang Pauli,,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,Max F. Perutz,,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Karl von Frisch *,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,Konrad Lorenz,,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,Friedrich Hayek,,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Walter Kohn *,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Eric R. Kandel *,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,Elfriede Jelinek,,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,International Atomic Energy Agency,,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Martin Karplus *,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,William Lawrence Bragg *,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,Sir Howard Florey,,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,Sir Frank Macfarlane Burnet,,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,John Carew Eccles,,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Aleksandr M. Prokhorov *,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,Patrick White,,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,John Warcup Cornforth *,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,John Harsanyi,,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,Peter C. Doherty & Professor Rolf Zinkernagel,,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,J. Robin Warren,,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,Barry Marshall,,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Elizabeth H. Blackburn *,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,Brian P. Schmidt,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,Carlos Saavedra Lamas,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,Bernardo Houssay,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,Luis Federico Leloir,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,Adolfo Pérez Esquivel,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

set_index, reset_index 사용 이유
1. slicing하기 편하게 하기 위해
2. 시계열 데이터 분석을 편하게 하기 위해

In [35]:
bi_col = df.born_in
bi_col

0
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3
4
5
6
7
8
9
10
11
12
13
14                     Belarus
15                     Belarus
16                     Belarus
17
18
19
20
21
22
23
24
25
26
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022
1023                   Austria
1024                   Austria
1025
1026
1027                   Austria
1028
1029
1030                   Austria
1031                   Austria
1032
1033
1034                   Austria
1035                 Australia
1036
1037
1038
1039                 Australia
1040
1041                 Australia
1042
1043
1044
1045
1046                 Australia
1047
1048
1049
1050
1051
Name: born_in, Length: 1052, dtype: object

In [36]:
type(bi_col)

pandas.core.series.Series

변수에 series 할당: 중간 단계에서 사용하기 위해.

In [37]:
df2.iloc[0]

born_in
category                                    Physiology or Medicine
country                                                  Argentina
date_of_birth                                       8 October 1927
date_of_death                                        24 March 2002
gender                                                        male
link              http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein
place_of_birth                           Bahía Blanca ,  Argentina
place_of_death                                 Cambridge , England
text                 César Milstein , Physiology or Medicine, 1984
year                                                          1984
Name: César Milstein, dtype: object

In [38]:
df2.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

인덱스 바꾸고 iloc로 숫자 인덱스 넣어도 정상적으로 동작.

loc는 숫자 넣으면 안됨: index가 name이기 때문에 에러.

In [39]:
df2.loc['César Milstein']

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
César Milstein,,Physiology or Medicine,United Kingdom,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , born in Argentina , Physiolo...",1984

loc에 이름 넣어주면 정상적으로 동작. => iloc는 모든 경우에 사용 가능하다.

In [41]:
df[df.year > 2000].count()

born_in           202
category          202
country           202
date_of_birth     201
date_of_death     201
gender            200
link              202
name              202
place_of_birth    201
place_of_death    201
text              202
year              202
dtype: int64

In [42]:
df.born_in

0
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3
4
5
6
7
8
9
10
11
12
13
14                     Belarus
15                     Belarus
16                     Belarus
17
18
19
20
21
22
23
24
25
26
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022
1023                   Austria
1024                   Austria
1025
1026
1027                   Austria
1028
1029
1030                   Austria
1031                   Austria
1032
1033
1034                   Austria
1035                 Australia
1036
1037
1038
1039                 Australia
1040
1041                 Australia
1042
1043
1044
1045
1046                 Australia
1047
1048
1049
1050
1051
Name: born_in, Length: 1052, dtype: object

In [43]:
df.born_in.apply(len)

0        0
1       22
2       22
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       7
15       7
16       7
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27      14
28      14
29      14
        ..
1022     0
1023     7
1024     7
1025     0
1026     0
1027     7
1028     0
1029     0
1030     7
1031     7
1032     0
1033     0
1034     7
1035     9
1036     0
1037     0
1038     0
1039     9
1040     0
1041     9
1042     0
1043     0
1044     0
1045     0
1046     9
1047     0
1048     0
1049     0
1050     0
1051     0
Name: born_in, Length: 1052, dtype: int64

In [44]:
df.born_in.map(len)

0        0
1       22
2       22
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       7
15       7
16       7
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27      14
28      14
29      14
        ..
1022     0
1023     7
1024     7
1025     0
1026     0
1027     7
1028     0
1029     0
1030     7
1031     7
1032     0
1033     0
1034     7
1035     9
1036     0
1037     0
1038     0
1039     9
1040     0
1041     9
1042     0
1043     0
1044     0
1045     0
1046     9
1047     0
1048     0
1049     0
1050     0
1051     0
Name: born_in, Length: 1052, dtype: int64

함수형 패러다임: apply의 인자로 함수 이름을 넣었다.
- map: series에서만 사용 가능.
- apply: series, dataframe 모두에서 사용 가능.
- 메소드 넣으면 에러남.

In [45]:
def unknown(x):
    if not len(x):
        return 'unknown'
    else:
        return x

In [46]:
df.born_in.map(unknown)

0                      unknown
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                      unknown
4                      unknown
5                      unknown
6                      unknown
7                      unknown
8                      unknown
9                      unknown
10                     unknown
11                     unknown
12                     unknown
13                     unknown
14                     Belarus
15                     Belarus
16                     Belarus
17                     unknown
18                     unknown
19                     unknown
20                     unknown
21                     unknown
22                     unknown
23                     unknown
24                     unknown
25                     unknown
26                     unknown
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022                   unknown
1023                   Austria
1024                   Austria
1025                   unknown
1026                   unknown
1027                   Austria
1028                   unknown
1029                   unknown
1030                   Austria
1031                   Austria
1032                   unknown
1033                   unknown
1034                   Austria
1035                 Australia
1036                   unknown
1037                   unknown
1038                   unknown
1039                 Australia
1040                   unknown
1041                 Australia
1042                   unknown
1043                   unknown
1044                   unknown
1045                   unknown
1046                 Australia
1047                   unknown
1048                   unknown
1049                   unknown
1050                   unknown
1051                   unknown
Name: born_in, Length: 1052, dtype: object

사용자가 정의한 함수를 넣어도 동작한다.

In [49]:
df.born_in = df.born_in.map(unknown)
df

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,unknown,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,unknown,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,unknown,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,unknown,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,Maurice Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,unknown,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Henri La Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,unknown,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,unknown,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,Corneille Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,unknown,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,Georges Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,unknown,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,unknown,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,Christian de Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,unknown,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,unknown,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,unknown,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,Karl Adolph Gjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,unknown,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,unknown,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,unknown,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Johannes Andreas Grib Fibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,unknown,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,Henrik Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,unknown,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,Johannes Vilhelm Jensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,unknown,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,unknown,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,unknown,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,unknown,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner *,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori *,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori *,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,unknown,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi *,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn *,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,unknown,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,unknown,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch *,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,unknown,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,unknown,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel *,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,unknown,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,unknown,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,unknown,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,Sir Howard Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,unknown,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,Sir Frank Macfarlane Burnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,unknown,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,John Carew Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,unknown,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,Patrick White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,unknown,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,John Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,unknown,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty & Professor Rolf Zinkernagel,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,unknown,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,unknown,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,unknown,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,unknown,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,unknown,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,unknown,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,unknown,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

사용시 이상 없음을 확인했으므로 원본 데이터에 반영.

In [50]:
import numpy as np

bi_col = df.born_in
bi_col.replace('unknown', np.nan, inplace=True)
bi_col

0                          NaN
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                          NaN
4                          NaN
5                          NaN
6                          NaN
7                          NaN
8                          NaN
9                          NaN
10                         NaN
11                         NaN
12                         NaN
13                         NaN
14                     Belarus
15                     Belarus
16                     Belarus
17                         NaN
18                         NaN
19                         NaN
20                         NaN
21                         NaN
22                         NaN
23                         NaN
24                         NaN
25                         NaN
26                         NaN
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022                       NaN
1023                   Austria
1024                   Austria
1025                       NaN
1026                       NaN
1027                   Austria
1028                       NaN
1029                       NaN
1030                   Austria
1031                   Austria
1032                       NaN
1033                       NaN
1034                   Austria
1035                 Australia
1036                       NaN
1037                       NaN
1038                       NaN
1039                 Australia
1040                       NaN
1041                 Australia
1042                       NaN
1043                       NaN
1044                       NaN
1045                       NaN
1046                 Australia
1047                       NaN
1048                       NaN
1049                       NaN
1050                       NaN
1051                       NaN
Name: born_in, Length: 1052, dtype: object

series를 지정하여 unknown을 NaN으로 바꿨다.

In [51]:
df[df.name.str.contains('\*')]

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner *,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori *,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori *,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
50,Germany,Peace,,"May 27, 1923",,male,http://en.wikipedia.org/wiki/Henry_Kissinger,Henry Kissinger *,"Fürth , Bavaria, Germany",,"Henry Kissinger *, Peace, 1973",1973
51,Germany,Physics,,"April 26, 1933",,male,http://en.wikipedia.org/wiki/Arno_Penzias,Arno Penzias *,"Munich , Germany",,"Arno Penzias *, Physics, 1978",1978
53,Germany,Physiology or Medicine,,"April 17, 1946","March 1, 1995",male,http://en.wikipedia.org/wiki/Georges_J.F._K%C3...,Georges J.F. Köhler *,Munich,Freiburg im Breisgau,"Georges J.F. Köhler *, Physiology or Medicine,...",1984
58,Germany,Physics,,"May 25, 1921",,male,http://en.wikipedia.org/wiki/Jack_Steinberger,Jack Steinberger *,Bad Kissingen,,"Jack Steinberger *, Physics, 1988",1988
63,Germany,Physics,,9 September 1922,,male,http://en.wikipedia.org/wiki/Hans_G._Dehmelt,Hans G. Dehmelt *,"Görlitz , Germany",,"Hans G. Dehmelt *, Physics, 1989",1989
82,Italy,Physiology or Medicine,,"February 22, 1914","February 19, 2012",male,http://en.wikipedia.org/wiki/Renato_Dulbecco,Renato Dulbecco *,Catanzaro,"La Jolla , California","Renato Dulbecco *, Physiology or Medicine, 1975",1975
87,Italy,Physics,,"October 6, 1931",,male,http://en.wikipedia.org/wiki/Riccardo_Giacconi,Riccardo Giacconi *,"Genoa , Italy",,"Riccardo Giacconi *, Physics, 2002",2002
88,Italy,Physiology or Medicine,,6 October 1937,,male,http://en.wikipedia.org/wiki/Mario_Capecchi,Mario Capecchi *,"Verona , Italy",,"Mario Capecchi *, Physiology or Medicine, 2007",2007
101,Mexico,Chemistry,,1943-03-19,,male,http://en.wikipedia.org/wiki/Mario_J._Molina,Mario José Molina Henríquez *,"Mexico City , Mexico",,"Mario José Molina Henríquez *, Chemistry, 1995",1995
102,Luxembourg,Physics,,16 August 1845,13 July 1921,male,http://en.wikipedia.org/wiki/Gabriel_Lippmann,Gabriel Lippmann *,"Hollerich , Luxembourg","Atlantic Ocean, travelling from Canada to France","Gabriel Lippmann *, Physics, 1908",1908
103,Luxembourg,Physiology or Medicine,,2 August 1941,,male,http://en.wikipedia.org/wiki/Jules_A._Hoffmann,Jules A. Hoffmann *,Echternach,,"Jules A. Hoffmann *, Physiology or Medicine, 2011",2011
104,Lithuania,,,"November 30, 1926",,male,http://en.wikipedia.org/wiki/Andrew_Schally,Andrew Schally *,"Vilnius , Second Polish Republic",,"Andrew Schally *, born in then Poland, now Li...",1977
105,Lithuania,Literature,,30 June 1911,14 August 2004,male,http://en.wikipedia.org/wiki/Czes%C5%82aw_Mi%C...,Czesław Miłosz *,"Šeteniai, near Kėdainiai , (then Russian Emp...","Kraków , Poland","Czesław Miłosz *, born in partitioned Poland ...",1980
106,Lithuania,Chemistry,,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug *,"Želva, Lithuania",,"Aaron Klug *, Chemistry, 1982",1982
109,Latvia,Chemistry,,1853-09-02,1932-04-04,male,http://en.wikipedia.org/wiki/Wilhelm_Ostwald,Wilhelm Ostwald *,"Riga , Latvia","Leipzig , Germany","Wilhelm Ostwald *, born in then Russian Empir...",1909
115,Spain,Physiology or Medicine,,1905-09-24,1993-11-01,male,http://en.wikipedia.org/wiki/Severo_Ochoa,Severo Ochoa *,"Luarca , Asturias , Spain","Madrid , Spain","Severo Ochoa *, Physiology or Medicine, 1959",1959
120,South Africa,Physiology or Medicine,,"February 23, 1924",1998-05-07,male,http://en.wikipedia.org/wiki/Allan_McLeod_Cormack,Allan M. Cormack *,"Johannesburg, Gauteng",Massachusetts,"Allan M. Cormack *, Physiology or Medicine, 1979",1979
126,South Africa,Physiology or Medicine,,13 January 1927,,male,http://en.wikipedia.org/wiki/Sydney_Brenner,Sydney Brenner *,"Germiston, Gauteng , South Africa",,"Sydney Brenner *, Physiology or Medicine, 2002",2002
128,South Africa,Chemistry,,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Michael Levitt *,"Pretoria, South Africa",,"Michael Levitt *, Chemistry, 2013",2013
135,United Kingdom,Physiology or Medicine,,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne *,,,"Niels Kaj Jerne *, Physiology or Medicine, 1984",1984
138,United Kingdom,Chemistry,,26 April 1932,4 October 2000,male,http://en.wikipedia.org/wiki/Michael_Smith_(ch...,Michael Smith *,"Blackpool , England","Vancouver , British Columbia , Canada","Michael Smith *, Chemistry, 1993",1993
268,United States,Literature,,26 September 1888,4 January 1965,male,http://en.wikipedia.org/wiki/T._S._Eliot,T. S. Eliot *,"St. Louis, Missouri , United States","London, UK, United Kingdom","T. S. Eliot *, Literature, 1948",1948
...,...,...,...,...,...,...,...,...,...,...,...,...
935,France,Chemistry,,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir *,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir *, Chemistry, 1970",1970
937,France,Peace,,26 January 1904,15 January 1988,male,http://en.wikipedia.org/wiki/Se%C3%A1n_MacBride,Seán MacBride *,"Paris, France","Dublin , Republic of Ireland","Seán MacBride *, Peace, 1974",1974
938,France,Physiology or Medicine,,"January 11, 1924",,male,http://en.wikipedia.org/wiki/Roger_Guillemin,Roger Guillemin *,"Dijon , France",,"Roger Guillemin *, Physiology or Medicine, 1977",1977
962,Faroe Islands,Physiology or Medicine,,"December 15, 1860","September 24, 1904",male,http://en.wikipedia.org/wiki/Niels_Ryberg_Finsen,Niels Ryberg Finsen *,"Tórshavn , Faroe Islands","Copenhagen , Denmark","Niels Ryberg Finsen *, Physiology or Medicine,...",1903
972,Croatia,Chemistry,,1887-09-13,1976-9-26,male,http://en.wikipedia.org/wiki/Leopold_Ru%C5%BEi...,Leopold Ružička *,"Vukovar , Austria-Hungary","Mammern , Switzerland","Leopold Ružička *, born in Austro-Hungarian E...",1939
978,China,Physics,,"February 28, 1939",,male,http://en.wikipedia.org/wiki/Daniel_C._Tsui,Daniel C. Tsui *,"Henan , China",,"Daniel C. Tsui *, Physics, 1998",1998
979,China,Literature,,1940-01-04,,male,http://en.wikipedia.org/wiki/Gao_Xingjian,Gao Xingjian *,"Ganzhou , Jiangxi, China",,"Gao Xingjian *, Literature, 2000",2000
980,China,Physics,,1933-11-04,,male,http://en.wikipedia.org/wiki/Charles_K._Kao,Charles K. Kao *,"Shanghai, China",,"Charles K. Kao *, Physics, 2009",2009
987,Canada,Chemistry,,"May 12, 1895","March 28, 1982",male,http://en.wikipedia.org/wiki/William_Giauque,William Giauque *,"Niagara Falls, Ontario , Canada","Berkeley , California","William Giauque *, Chemistry, 1949",1949
989,Canada,Physiology or Medicine,,"September 22, 1901","January 12, 1997",None,http://en.wikipedia.org/wiki/Charles_Brenton_H...,Charles B. Huggins *,"Halifax, Nova Scotia","Chicago, Illinois","Charles B. Huggins *, Physiology or Medicine, ...",1966
991,Canada,Literature,,10 June 1915,5 April 2005,male,http://en.wikipedia.org/wiki/Saul_Bellow,Saul Bellow *,"Lachine, Quebec , Canada","Brookline, Massachusetts , United States","Saul Bellow *, Literature, 1976",1976
992,Canada,Physiology or Medicine,,1926-02-27,2013-09-22,male,http://en.wikipedia.org/wiki/David_H._Hubel,David H. Hubel *,"Windsor, Ontario, Canada","Lincoln, Massachusetts, United States","David H. Hubel *, Physiology or Medicine, 1981",1981
993,Canada,Chemistry,,"November 30, 1915","November 16, 2005",male,http://en.wikipedia.org/wiki/Henry_Taube,Henry Taube *,"Neudorf , Saskatchewan , Canada","Palo Alto , California","Henry Taube *, Chemistry, 1983",1983
997,Canada,Chemistry,,"July 21, 1923",,male,http://en.wikipedia.org/wiki/Rudolph_A._Marcus,Rudolph A. Marcus *,"Montreal , Quebec",,"Rudolph A. Marcus *, Chemistry, 1992",1992
1001,Canada,Economics,,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,William Vickrey *,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey *, Economics, 1996",1996
1002,Canada,Economics,,"July 1, 1941",,male,http://en.wikipedia.org/wiki/Myron_Scholes,Myron Scholes *,"Timmins, Ontario , Canada",,"Myron Scholes *, Economics, 1997",1997
1005,Canada,Physics,,"August 19, 1924","May 7, 2011",male,http://en.wikipedia.org/wiki/Willard_S._Boyle,Willard S. Boyle *,"Amherst , Nova Scotia , Canada","Wallace , Nova Scotia , Canada","Willard S. Boyle *, Physics, 2009",2009
1008,Bulgaria,Literature,,25 July 1905,14 August 1994,male,http://en.wikipedia.org/wiki/Elias_Canetti,Elias Canetti *,"Rousse , Bulgaria","Zurich, Switzerland","Elias Canetti *, Literature, 1981",1981
1009,Brazil,Physiology or Medicine,,28 February 1915,2 October 1987,male,http://en.wikipedia.org/wiki/Peter_Medawar,Peter Medawar *,"Rio de Janeiro , Brazil","London, England","Peter Medawar *, Physiology or Medicine, 1960",1960
1010,Belarus,Physics,,1930-03-15,,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,Zhores Ivanovich Alferov *,"Vitebsk , BSSR , Soviet Union",,"Zhores Ivanovich Alferov *, born in then Sovi...",2000
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi *,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn *,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch *,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel *,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009

이름에 *이 들어가있는 모든 열을 가져옴.

In [52]:
df.name = df.name.str.replace('*', '')
df.name = df.name.str.strip()

In [53]:
df[df.name.str.contains('\*')]

Empty DataFrame
Columns: [born_in, category, country, date_of_birth, date_of_death, gender, link, name, place_of_birth, place_of_death, text, year]
Index: []

In [54]:
df.name

0                                        César Milstein
1                                            Ivo Andric
2                                       Vladimir Prelog
3                       Institut de Droit International
4                                     Auguste Beernaert
5                                   Maurice Maeterlinck
6                                     Henri La Fontaine
7                                          Jules Bordet
8                                     Corneille Heymans
9                                          Georges Pire
10                                        Albert Claude
11                                    Christian de Duve
12                                       Ilya Prigogine
13                                     François Englert
14                                        Simon Kuznets
15                                       Menachem Begin
16                                         Shimon Peres
17                                Karl Adolph Gjellerup
18                                         August Krogh
19                                           Niels Bohr
20                        Johannes Andreas Grib Fibiger
21                                           Henrik Dam
22                              Johannes Vilhelm Jensen
23                                    Ben Roy Mottelson
24                                            Aage Bohr
25                                      Niels Kaj Jerne
26                                  Jens Christian Skou
27                                   Bertha von Suttner
28                                           Gerty Cori
29                                  Carl Ferdinand Cori
                             ...
1022                                Victor Francis Hess
1023                                         Otto Loewi
1024                                       Richard Kuhn
1025                                     Wolfgang Pauli
1026                                      Max F. Perutz
1027                                    Karl von Frisch
1028                                      Konrad Lorenz
1029                                    Friedrich Hayek
1030                                        Walter Kohn
1031                                     Eric R. Kandel
1032                                   Elfriede Jelinek
1033                 International Atomic Energy Agency
1034                                     Martin Karplus
1035                             William Lawrence Bragg
1036                                  Sir Howard Florey
1037                        Sir Frank Macfarlane Burnet
1038                                  John Carew Eccles
1039                             Aleksandr M. Prokhorov
1040                                      Patrick White
1041                              John Warcup Cornforth
1042                                      John Harsanyi
1043    Peter C. Doherty  & Professor  Rolf Zinkernagel
1044                                    J. Robin Warren
1045                                     Barry Marshall
1046                             Elizabeth H. Blackburn
1047                                   Brian P. Schmidt
1048                              Carlos Saavedra Lamas
1049                                   Bernardo Houssay
1050                               Luis Federico Leloir
1051                              Adolfo Pérez Esquivel
Name: name, Length: 1052, dtype: object

이름에서 * 전부 뺐다.

In [55]:
None == False

False

In [56]:
np.nan == np.nan

False

np.nan: 둘 다 없는 것이지만 주소값이 다르기때문에 서로 다르다.

nan: not available.(수치해석에 활용할 수 없다)

In [57]:
df

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,NaN,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,NaN,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,NaN,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,Maurice Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,NaN,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Henri La Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,NaN,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,NaN,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,Corneille Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,NaN,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,Georges Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,NaN,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,NaN,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,Christian de Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,NaN,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,NaN,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,NaN,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,Karl Adolph Gjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,NaN,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,NaN,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,NaN,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Johannes Andreas Grib Fibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,NaN,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,Henrik Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,NaN,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,Johannes Vilhelm Jensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,NaN,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,NaN,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,NaN,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,NaN,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,NaN,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,NaN,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,NaN,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,NaN,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,NaN,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,NaN,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,NaN,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,NaN,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,Sir Howard Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,NaN,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,Sir Frank Macfarlane Burnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,NaN,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,John Carew Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,NaN,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,Patrick White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,NaN,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,John Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,NaN,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty & Professor Rolf Zinkernagel,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,NaN,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,NaN,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,NaN,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,NaN,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,NaN,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,NaN,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,NaN,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [58]:
df.born_in.isnull()

0        True
1       False
2       False
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15      False
16      False
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27      False
28      False
29      False
        ...
1022     True
1023    False
1024    False
1025     True
1026     True
1027    False
1028     True
1029     True
1030    False
1031    False
1032     True
1033     True
1034    False
1035    False
1036     True
1037     True
1038     True
1039    False
1040     True
1041    False
1042     True
1043     True
1044     True
1045     True
1046    False
1047     True
1048     True
1049     True
1050     True
1051     True
Name: born_in, Length: 1052, dtype: bool

In [59]:
df.born_in.isna()

0        True
1       False
2       False
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15      False
16      False
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27      False
28      False
29      False
        ...
1022     True
1023    False
1024    False
1025     True
1026     True
1027    False
1028     True
1029     True
1030    False
1031    False
1032     True
1033     True
1034    False
1035    False
1036     True
1037     True
1038     True
1039    False
1040     True
1041    False
1042     True
1043     True
1044     True
1045     True
1046    False
1047     True
1048     True
1049     True
1050     True
1051     True
Name: born_in, Length: 1052, dtype: bool

isna, isnull: 동일한 결과 반환.

In [60]:
df.dropna()

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
50,Germany,Peace,,"May 27, 1923",,male,http://en.wikipedia.org/wiki/Henry_Kissinger,Henry Kissinger,"Fürth , Bavaria, Germany",,"Henry Kissinger *, Peace, 1973",1973
51,Germany,Physics,,"April 26, 1933",,male,http://en.wikipedia.org/wiki/Arno_Penzias,Arno Penzias,"Munich , Germany",,"Arno Penzias *, Physics, 1978",1978
53,Germany,Physiology or Medicine,,"April 17, 1946","March 1, 1995",male,http://en.wikipedia.org/wiki/Georges_J.F._K%C3...,Georges J.F. Köhler,Munich,Freiburg im Breisgau,"Georges J.F. Köhler *, Physiology or Medicine,...",1984
58,Germany,Physics,,"May 25, 1921",,male,http://en.wikipedia.org/wiki/Jack_Steinberger,Jack Steinberger,Bad Kissingen,,"Jack Steinberger *, Physics, 1988",1988
63,Germany,Physics,,9 September 1922,,male,http://en.wikipedia.org/wiki/Hans_G._Dehmelt,Hans G. Dehmelt,"Görlitz , Germany",,"Hans G. Dehmelt *, Physics, 1989",1989
82,Italy,Physiology or Medicine,,"February 22, 1914","February 19, 2012",male,http://en.wikipedia.org/wiki/Renato_Dulbecco,Renato Dulbecco,Catanzaro,"La Jolla , California","Renato Dulbecco *, Physiology or Medicine, 1975",1975
87,Italy,Physics,,"October 6, 1931",,male,http://en.wikipedia.org/wiki/Riccardo_Giacconi,Riccardo Giacconi,"Genoa , Italy",,"Riccardo Giacconi *, Physics, 2002",2002
88,Italy,Physiology or Medicine,,6 October 1937,,male,http://en.wikipedia.org/wiki/Mario_Capecchi,Mario Capecchi,"Verona , Italy",,"Mario Capecchi *, Physiology or Medicine, 2007",2007
101,Mexico,Chemistry,,1943-03-19,,male,http://en.wikipedia.org/wiki/Mario_J._Molina,Mario José Molina Henríquez,"Mexico City , Mexico",,"Mario José Molina Henríquez *, Chemistry, 1995",1995
102,Luxembourg,Physics,,16 August 1845,13 July 1921,male,http://en.wikipedia.org/wiki/Gabriel_Lippmann,Gabriel Lippmann,"Hollerich , Luxembourg","Atlantic Ocean, travelling from Canada to France","Gabriel Lippmann *, Physics, 1908",1908
103,Luxembourg,Physiology or Medicine,,2 August 1941,,male,http://en.wikipedia.org/wiki/Jules_A._Hoffmann,Jules A. Hoffmann,Echternach,,"Jules A. Hoffmann *, Physiology or Medicine, 2011",2011
104,Lithuania,,,"November 30, 1926",,male,http://en.wikipedia.org/wiki/Andrew_Schally,Andrew Schally,"Vilnius , Second Polish Republic",,"Andrew Schally *, born in then Poland, now Li...",1977
105,Lithuania,Literature,,30 June 1911,14 August 2004,male,http://en.wikipedia.org/wiki/Czes%C5%82aw_Mi%C...,Czesław Miłosz,"Šeteniai, near Kėdainiai , (then Russian Emp...","Kraków , Poland","Czesław Miłosz *, born in partitioned Poland ...",1980
106,Lithuania,Chemistry,,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug,"Želva, Lithuania",,"Aaron Klug *, Chemistry, 1982",1982
109,Latvia,Chemistry,,1853-09-02,1932-04-04,male,http://en.wikipedia.org/wiki/Wilhelm_Ostwald,Wilhelm Ostwald,"Riga , Latvia","Leipzig , Germany","Wilhelm Ostwald *, born in then Russian Empir...",1909
115,Spain,Physiology or Medicine,,1905-09-24,1993-11-01,male,http://en.wikipedia.org/wiki/Severo_Ochoa,Severo Ochoa,"Luarca , Asturias , Spain","Madrid , Spain","Severo Ochoa *, Physiology or Medicine, 1959",1959
120,South Africa,Physiology or Medicine,,"February 23, 1924",1998-05-07,male,http://en.wikipedia.org/wiki/Allan_McLeod_Cormack,Allan M. Cormack,"Johannesburg, Gauteng",Massachusetts,"Allan M. Cormack *, Physiology or Medicine, 1979",1979
126,South Africa,Physiology or Medicine,,13 January 1927,,male,http://en.wikipedia.org/wiki/Sydney_Brenner,Sydney Brenner,"Germiston, Gauteng , South Africa",,"Sydney Brenner *, Physiology or Medicine, 2002",2002
128,South Africa,Chemistry,,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Michael Levitt,"Pretoria, South Africa",,"Michael Levitt *, Chemistry, 2013",2013
135,United Kingdom,Physiology or Medicine,,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,,,"Niels Kaj Jerne *, Physiology or Medicine, 1984",1984
138,United Kingdom,Chemistry,,26 April 1932,4 October 2000,male,http://en.wikipedia.org/wiki/Michael_Smith_(ch...,Michael Smith,"Blackpool , England","Vancouver , British Columbia , Canada","Michael Smith *, Chemistry, 1993",1993
268,United States,Literature,,26 September 1888,4 January 1965,male,http://en.wikipedia.org/wiki/T._S._Eliot,T. S. Eliot,"St. Louis, Missouri , United States","London, UK, United Kingdom","T. S. Eliot *, Literature, 1948",1948
...,...,...,...,...,...,...,...,...,...,...,...,...
924,France,Chemistry,,12 December 1866,15 November 1919,male,http://en.wikipedia.org/wiki/Alfred_Werner,Alfred Werner,"Mulhouse , Alsace","Zurich , Switzerland","Alfred Werner *, Chemistry, 1913",1913
935,France,Chemistry,,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir *, Chemistry, 1970",1970
937,France,Peace,,26 January 1904,15 January 1988,male,http://en.wikipedia.org/wiki/Se%C3%A1n_MacBride,Seán MacBride,"Paris, France","Dublin , Republic of Ireland","Seán MacBride *, Peace, 1974",1974
938,France,Physiology or Medicine,,"January 11, 1924",,male,http://en.wikipedia.org/wiki/Roger_Guillemin,Roger Guillemin,"Dijon , France",,"Roger Guillemin *, Physiology or Medicine, 1977",1977
962,Faroe Islands,Physiology or Medicine,,"December 15, 1860","September 24, 1904",male,http://en.wikipedia.org/wiki/Niels_Ryberg_Finsen,Niels Ryberg Finsen,"Tórshavn , Faroe Islands","Copenhagen , Denmark","Niels Ryberg Finsen *, Physiology or Medicine,...",1903
972,Croatia,Chemistry,,1887-09-13,1976-9-26,male,http://en.wikipedia.org/wiki/Leopold_Ru%C5%BEi...,Leopold Ružička,"Vukovar , Austria-Hungary","Mammern , Switzerland","Leopold Ružička *, born in Austro-Hungarian E...",1939
978,China,Physics,,"February 28, 1939",,male,http://en.wikipedia.org/wiki/Daniel_C._Tsui,Daniel C. Tsui,"Henan , China",,"Daniel C. Tsui *, Physics, 1998",1998
979,China,Literature,,1940-01-04,,male,http://en.wikipedia.org/wiki/Gao_Xingjian,Gao Xingjian,"Ganzhou , Jiangxi, China",,"Gao Xingjian *, Literature, 2000",2000
980,China,Physics,,1933-11-04,,male,http://en.wikipedia.org/wiki/Charles_K._Kao,Charles K. Kao,"Shanghai, China",,"Charles K. Kao *, Physics, 2009",2009
987,Canada,Chemistry,,"May 12, 1895","March 28, 1982",male,http://en.wikipedia.org/wiki/William_Giauque,William Giauque,"Niagara Falls, Ontario , Canada","Berkeley , California","William Giauque *, Chemistry, 1949",1949
991,Canada,Literature,,10 June 1915,5 April 2005,male,http://en.wikipedia.org/wiki/Saul_Bellow,Saul Bellow,"Lachine, Quebec , Canada","Brookline, Massachusetts , United States","Saul Bellow *, Literature, 1976",1976
992,Canada,Physiology or Medicine,,1926-02-27,2013-09-22,male,http://en.wikipedia.org/wiki/David_H._Hubel,David H. Hubel,"Windsor, Ontario, Canada","Lincoln, Massachusetts, United States","David H. Hubel *, Physiology or Medicine, 1981",1981
993,Canada,Chemistry,,"November 30, 1915","November 16, 2005",male,http://en.wikipedia.org/wiki/Henry_Taube,Henry Taube,"Neudorf , Saskatchewan , Canada","Palo Alto , California","Henry Taube *, Chemistry, 1983",1983
997,Canada,Chemistry,,"July 21, 1923",,male,http://en.wikipedia.org/wiki/Rudolph_A._Marcus,Rudolph A. Marcus,"Montreal , Quebec",,"Rudolph A. Marcus *, Chemistry, 1992",1992
1001,Canada,Economics,,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,William Vickrey,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey *, Economics, 1996",1996
1002,Canada,Economics,,"July 1, 1941",,male,http://en.wikipedia.org/wiki/Myron_Scholes,Myron Scholes,"Timmins, Ontario , Canada",,"Myron Scholes *, Economics, 1997",1997
1005,Canada,Physics,,"August 19, 1924","May 7, 2011",male,http://en.wikipedia.org/wiki/Willard_S._Boyle,Willard S. Boyle,"Amherst , Nova Scotia , Canada","Wallace , Nova Scotia , Canada","Willard S. Boyle *, Physics, 2009",2009
1008,Bulgaria,Literature,,25 July 1905,14 August 1994,male,http://en.wikipedia.org/wiki/Elias_Canetti,Elias Canetti,"Rousse , Bulgaria","Zurich, Switzerland","Elias Canetti *, Literature, 1981",1981
1009,Brazil,Physiology or Medicine,,28 February 1915,2 October 1987,male,http://en.wikipedia.org/wiki/Peter_Medawar,Peter Medawar,"Rio de Janeiro , Brazil","London, England","Peter Medawar *, Physiology or Medicine, 1960",1960
1010,Belarus,Physics,,1930-03-15,,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,Zhores Ivanovich Alferov,"Vitebsk , BSSR , Soviet Union",,"Zhores Ivanovich Alferov *, born in then Sovi...",2000
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009

값 없는 행 전부 삭제.

In [62]:
dupes_by_name = df[df.duplicated('name')]
df[df.duplicated('name')].name

90                Menachem Begin
91                  Shimon Peres
109              Wilhelm Ostwald
121                   Aaron Klug
131                   Aaron Klug
134               César Milstein
135              Niels Kaj Jerne
175               Michael Levitt
194               Czesław Miłosz
265                   Gerty Cori
299                 Severo Ochoa
309             Linus C. Pauling
322                Simon Kuznets
326                 John Bardeen
332              Henry Kissinger
337              Renato Dulbecco
356                 Arno Penzias
360             Allan M. Cormack
366             Baruj Benacerraf
373            Franco Modigliani
376         Rita Levi-Montalcini
388             Jack Steinberger
394              Hans G. Dehmelt
405                 Ronald Coase
451               Sydney Brenner
452            Riccardo Giacconi
457              Daniel Kahneman
476                Robert Aumann
571            Christian de Duve
580             Frederick Sanger
                  ...
991                  Saul Bellow
992               David H. Hubel
993                  Henry Taube
995                Sidney Altman
997            Rudolph A. Marcus
998                Michael Smith
1001             William Vickrey
1002               Myron Scholes
1004             Jack W. Szostak
1005            Willard S. Boyle
1006           Ralph M. Steinman
1008               Elias Canetti
1009               Peter Medawar
1010    Zhores Ivanovich Alferov
1013              Philipp Lenard
1014          Bertha von Suttner
1016               Robert Bárány
1017              Friderik Pregl
1018     Richard Adolf Zsigmondy
1024                Richard Kuhn
1029             Friedrich Hayek
1030                 Walter Kohn
1031              Eric R. Kandel
1034              Martin Karplus
1035      William Lawrence Bragg
1039      Aleksandr M. Prokhorov
1040               Patrick White
1042               John Harsanyi
1047            Brian P. Schmidt
1050        Luis Federico Leloir
Name: name, Length: 156, dtype: object

중복하여 등장하는 이름 전부 출력

In [63]:
df.duplicated('name')

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1022    False
1023    False
1024     True
1025    False
1026    False
1027    False
1028    False
1029     True
1030     True
1031     True
1032    False
1033    False
1034     True
1035     True
1036    False
1037    False
1038    False
1039     True
1040     True
1041    False
1042     True
1043    False
1044    False
1045    False
1046    False
1047     True
1048    False
1049    False
1050     True
1051    False
Length: 1052, dtype: bool

In [64]:
all_dupes = df[df.duplicated('name') | df.duplicated('name', keep='last')]
all_dupes.count()

born_in           111
category          299
country           299
date_of_birth     297
date_of_death     297
gender            293
link              299
name              299
place_of_birth    297
place_of_death    297
text              299
year              299
dtype: int64

## Tidy Data

Tidy Data 조건
- 변수가 column으로 들어가면 안된다.
- wide보다는 long이 처리하기 빠르다.(row가 많은게 column 많은것보다 낫다)
- value와 variable의 명확한 구분.

전처리
- 중복이 있으면 제거한다.

In [65]:
data = pd.read_csv('pew.txt', sep='\t')
data

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [66]:
data[data.religion == 'Buddhist'].mean(axis=1)

2    41.1
dtype: float64

간단하게 평균을 구했다.

In [67]:
melt_data = data.melt('religion')
melt_data

                    religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

melt: 종교를 기준으로 나머지는 variable, value로 두고 wide를 long으로 바꾼다.
- 살리고자 하는 기준을 명시하면 그 기준은 남기고 나머지는 variable, value로 바꾼다.
- column명에 변수적 개념인 요소가 있으면 사용.

In [68]:
melt_data[melt_data.religion == 'Hindu']

    religion            variable  value
6      Hindu               <$10k      1
24     Hindu             $10-20k      9
42     Hindu             $20-30k      7
60     Hindu             $30-40k      9
78     Hindu             $40-50k     11
96     Hindu             $50-75k     34
114    Hindu            $75-100k     47
132    Hindu           $100-150k     48
150    Hindu               >150k     54
168    Hindu  Don't know/refused     37

분석하기 좋은 long형태의 데이터로 바꿨다.

In [69]:
melt_data.groupby('religion').mean()

                         value
religion
Agnostic                  82.6
Atheist                   51.5
Buddhist                  41.1
Catholic                 805.4
Don’t know/refused        27.2
Evangelical Prot         947.2
Hindu                     25.7
Historically Black Prot  199.5
Jehovah's Witness         21.5
Jewish                    68.2
Mainline Prot            747.0
Mormon                    58.1
Muslim                    11.6
Orthodox                  36.3
Other Christian           12.9
Other Faiths              44.9
Other World Religions      4.2
Unaffiliated             370.7

In [70]:
melt_data.groupby('religion').max()

                                   variable  value
religion
Agnostic                 Don't know/refused    137
Atheist                  Don't know/refused     76
Buddhist                 Don't know/refused     62
Catholic                 Don't know/refused   1489
Don’t know/refused       Don't know/refused    116
Evangelical Prot         Don't know/refused   1529
Hindu                    Don't know/refused     54
Historically Black Prot  Don't know/refused    339
Jehovah's Witness        Don't know/refused     37
Jewish                   Don't know/refused    162
Mainline Prot            Don't know/refused   1328
Mormon                   Don't know/refused    112
Muslim                   Don't know/refused     23
Orthodox                 Don't know/refused     73
Other Christian          Don't know/refused     18
Other Faiths             Don't know/refused     71
Other World Religions    Don't know/refused      8
Unaffiliated             Don't know/refused    597

In [71]:
melt_data.groupby('religion').min()

                        variable  value
religion
Agnostic                 $10-20k     27
Atheist                  $10-20k     12
Buddhist                 $10-20k     21
Catholic                 $10-20k    418
Don’t know/refused       $10-20k     10
Evangelical Prot         $10-20k    414
Hindu                    $10-20k      1
Historically Black Prot  $10-20k     78
Jehovah's Witness        $10-20k      6
Jewish                   $10-20k     19
Mainline Prot            $10-20k    289
Mormon                   $10-20k     29
Muslim                   $10-20k      6
Orthodox                 $10-20k     13
Other Christian          $10-20k      7
Other Faiths             $10-20k     20
Other World Religions    $10-20k      2
Unaffiliated             $10-20k    217

groupby로 묶어 각종 통계함수를 적용하였다.

In [72]:
data2 = pd.read_csv('tb.csv')
data2

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AD,1994,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AD,1996,8.0,NaN,NaN,0.0,0.0,0.0,4.0,1.0,...,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN
7,AD,1997,17.0,NaN,NaN,0.0,0.0,1.0,2.0,2.0,...,NaN,NaN,0.0,1.0,2.0,3.0,0.0,0.0,1.0,NaN
8,AD,1998,1.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AD,1999,4.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
10,AD,2000,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AD,2001,3.0,NaN,NaN,0.0,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,AD,2002,2.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
13,AD,2003,7.0,NaN,NaN,0.0,0.0,0.0,1.0,2.0,...,NaN,NaN,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN
14,AD,2004,3.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN
15,AD,2005,5.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
16,AD,2006,8.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
17,AD,2007,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
18,AD,2008,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
19,AE,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,AE,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,AE,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,AE,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,AE,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,AE,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AE,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AE,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AE,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,AE,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,AE,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5739,ZM,2008,13211.0,NaN,NaN,101.0,1120.0,3244.0,2094.0,737.0,...,NaN,NaN,165.0,1246.0,2062.0,1114.0,498.0,187.0,115.0,0.0
5740,ZW,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5741,ZW,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5742,ZW,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5743,ZW,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744,ZW,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5745,ZW,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5746,ZW,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5747,ZW,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5748,ZW,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5749,ZW,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5750,ZW,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5751,ZW,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5752,ZW,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5753,ZW,1993,5331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5754,ZW,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5755,ZW,1995,8965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5756,ZW,1996,11965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5757,ZW,1997,14512.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5758,ZW,1998,14492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5759,ZW,1999,14414.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5760,ZW,2000,14392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5761,ZW,2001,15370.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5762,ZW,2002,15941.0,NaN,NaN,191.0,600.0,2548.0,1662.0,744.0,...,NaN,NaN,222.0,914.0,2185.0,1095.0,421.0,140.0,65.0,NaN
5763,ZW,2003,14488.0,NaN,NaN,133.0,874.0,3048.0,2228.0,981.0,...,NaN,NaN,180.0,1232.0,2856.0,1480.0,565.0,225.0,114.0,NaN
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [73]:
melt_data2 = data2.melt(['iso2', 'year'])
melt_data2

       iso2  year   variable  value
0        AD  1989     new_sp    NaN
1        AD  1990     new_sp    NaN
2        AD  1991     new_sp    NaN
3        AD  1992     new_sp    NaN
4        AD  1993     new_sp   15.0
5        AD  1994     new_sp   24.0
6        AD  1996     new_sp    8.0
7        AD  1997     new_sp   17.0
8        AD  1998     new_sp    1.0
9        AD  1999     new_sp    4.0
10       AD  2000     new_sp    1.0
11       AD  2001     new_sp    3.0
12       AD  2002     new_sp    2.0
13       AD  2003     new_sp    7.0
14       AD  2004     new_sp    3.0
15       AD  2005     new_sp    5.0
16       AD  2006     new_sp    8.0
17       AD  2007     new_sp    2.0
18       AD  2008     new_sp    3.0
19       AE  1980     new_sp    NaN
20       AE  1981     new_sp    NaN
21       AE  1982     new_sp    NaN
22       AE  1983     new_sp    NaN
23       AE  1984     new_sp    NaN
24       AE  1985     new_sp    NaN
25       AE  1986     new_sp    NaN
26       AE  1987     new_sp    NaN
27       AE  1988     new_sp    NaN
28       AE  1989     new_sp    NaN
29       AE  1990     new_sp    NaN
...     ...   ...        ...    ...
121119   ZM  2008  new_sp_fu    0.0
121120   ZW  1980  new_sp_fu    NaN
121121   ZW  1981  new_sp_fu    NaN
121122   ZW  1982  new_sp_fu    NaN
121123   ZW  1983  new_sp_fu    NaN
121124   ZW  1984  new_sp_fu    NaN
121125   ZW  1985  new_sp_fu    NaN
121126   ZW  1986  new_sp_fu    NaN
121127   ZW  1987  new_sp_fu    NaN
121128   ZW  1988  new_sp_fu    NaN
121129   ZW  1989  new_sp_fu    NaN
121130   ZW  1990  new_sp_fu    NaN
121131   ZW  1991  new_sp_fu    NaN
121132   ZW  1992  new_sp_fu    NaN
121133   ZW  1993  new_sp_fu    NaN
121134   ZW  1994  new_sp_fu    NaN
121135   ZW  1995  new_sp_fu    NaN
121136   ZW  1996  new_sp_fu    NaN
121137   ZW  1997  new_sp_fu    NaN
121138   ZW  1998  new_sp_fu    NaN
121139   ZW  1999  new_sp_fu    NaN
121140   ZW  2000  new_sp_fu    NaN
121141   ZW  2001  new_sp_fu    NaN
121142   ZW  2002  new_sp_fu    NaN
121143   ZW  2003  new_sp_fu    NaN
121144   ZW  2004  new_sp_fu    NaN
121145   ZW  2005  new_sp_fu    NaN
121146   ZW  2006  new_sp_fu    NaN
121147   ZW  2007  new_sp_fu    NaN
121148   ZW  2008  new_sp_fu    0.0

[121149 rows x 4 columns]

In [74]:
melt_data2 = data2.melt(['iso2', 'year'], var_name='some', value_name='thing')
melt_data2.dropna(inplace=True)
melt_data2

       iso2  year       some   thing
4        AD  1993     new_sp    15.0
5        AD  1994     new_sp    24.0
6        AD  1996     new_sp     8.0
7        AD  1997     new_sp    17.0
8        AD  1998     new_sp     1.0
9        AD  1999     new_sp     4.0
10       AD  2000     new_sp     1.0
11       AD  2001     new_sp     3.0
12       AD  2002     new_sp     2.0
13       AD  2003     new_sp     7.0
14       AD  2004     new_sp     3.0
15       AD  2005     new_sp     5.0
16       AD  2006     new_sp     8.0
17       AD  2007     new_sp     2.0
18       AD  2008     new_sp     3.0
35       AE  1999     new_sp    31.0
36       AE  2000     new_sp    73.0
37       AE  2001     new_sp    69.0
38       AE  2002     new_sp    57.0
39       AE  2003     new_sp    77.0
40       AE  2004     new_sp    57.0
41       AE  2005     new_sp    62.0
42       AE  2006     new_sp    52.0
43       AE  2007     new_sp    56.0
44       AE  2008     new_sp    50.0
57       AF  1997     new_sp   618.0
58       AF  1998     new_sp  1833.0
59       AF  1999     new_sp  1669.0
60       AF  2000     new_sp  2892.0
61       AF  2001     new_sp  4639.0
...     ...   ...        ...     ...
120309   SZ  2008  new_sp_fu     0.0
120387   TG  2008  new_sp_fu     0.0
120442   TJ  2005  new_sp_fu     0.0
120444   TJ  2007  new_sp_fu     0.0
120445   TJ  2008  new_sp_fu     0.0
120471   TK  2008  new_sp_fu     0.0
120479   TL  2008  new_sp_fu     0.0
120504   TM  2005  new_sp_fu     0.0
120505   TM  2006  new_sp_fu     0.0
120506   TM  2007  new_sp_fu     0.0
120565   TO  2008  new_sp_fu     0.0
120589   TR  2005  new_sp_fu     0.0
120590   TR  2006  new_sp_fu     0.0
120591   TR  2007  new_sp_fu     0.0
120592   TR  2008  new_sp_fu     0.0
120621   TT  2008  new_sp_fu     0.0
120649   TV  2008  new_sp_fu     0.0
120705   UA  2006  new_sp_fu     0.0
120706   UA  2007  new_sp_fu     0.0
120734   UG  2008  new_sp_fu     0.0
120763   US  2008  new_sp_fu     0.0
120792   UY  2008  new_sp_fu     0.0
120819   UZ  2007  new_sp_fu     0.0
120878   VE  2008  new_sp_fu     0.0
120935   VN  2008  new_sp_fu     0.0
120964   VU  2008  new_sp_fu     0.0
121038   YE  2008  new_sp_fu     0.0
121092   ZA  2008  new_sp_fu     0.0
121119   ZM  2008  new_sp_fu     0.0
121148   ZW  2008  new_sp_fu     0.0

[38619 rows x 4 columns]

variable, value column의 이름을 바꾸고 NaN은 drop.

In [75]:
melt_data2.groupby('year').sum()

          thing
year
1980     9309.0
1981     8692.0
1982     8030.0
1983     8223.0
1984    11838.0
1985    13929.0
1986    15389.0
1987    22413.0
1988    25347.0
1989    25714.0
1990    29185.0
1991    29708.0
1992    33323.0
1993   811968.0
1994   918563.0
1995  1687867.0
1996  1962020.0
1997  2098090.0
1998  2247841.0
1999  2494576.0
2000  2675011.0
2001  2846873.0
2002  3239720.0
2003  3797809.0
2004  4397434.0
2005  4763678.0
2006  5041842.0
2007  5154589.0
2008  5294658.0

In [76]:
melt_data2.groupby(['iso2', 'year']).sum()

              thing
iso2 year
AD   1993      15.0
     1994      24.0
     1996      16.0
     1997      36.0
     1998       2.0
     1999       7.0
     2000       2.0
     2001       6.0
     2002       4.0
     2003      13.0
     2004       6.0
     2005      10.0
     2006      16.0
     2007       4.0
     2008       6.0
AE   1999      97.0
     2000     143.0
     2001      69.0
     2002     114.0
     2003     154.0
     2004     114.0
     2005      62.0
     2006     106.0
     2007     112.0
     2008     100.0
AF   1997     746.0
     1998    3611.0
     1999    2414.0
     2000    5558.0
     2001    9278.0
...             ...
ZA   2007  273329.0
     2008  281829.0
ZM   1994    9620.0
     1995   18615.0
     1996   12072.0
     1999   11645.0
     2000   25854.0
     2001   13024.0
     2002   32702.0
     2003   37868.0
     2004   34494.0
     2005   29714.0
     2006   28050.0
     2007   26756.0
     2008   26422.0
ZW   1993    5331.0
     1995    8965.0
     1996   11965.0
     1997   14512.0
     1998   14492.0
     1999   14414.0
     2000   14392.0
     2001   15370.0
     2002   27202.0
     2003   28976.0
     2004   29162.0
     2005   26310.0
     2006   25436.0
     2007   21489.0
     2008   19660.0

[3071 rows x 1 columns]

여러 column을 group으로 지정 가능.

In [77]:
data3 = pd.read_csv('weather.txt', sep='\t')
data3

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,MX000017004,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,MX000017004,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,MX000017004,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,MX000017004,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,MX000017004,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,MX000017004,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX000017004,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX000017004,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,MX000017004,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,MX000017004,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,MX000017004,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,MX000017004,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,MX000017004,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,MX000017004,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX000017004,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
melt_data3 = data3.melt(['id', 'year', 'month', 'element'], var_name='day')
melt_data3.dropna(inplace=True)
melt_data3

              id  year  month element  day  value
20   MX000017004  2010     12    TMAX   d1  299.0
21   MX000017004  2010     12    TMIN   d1  138.0
24   MX000017004  2010      2    TMAX   d2  273.0
25   MX000017004  2010      2    TMIN   d2  144.0
40   MX000017004  2010     11    TMAX   d2  313.0
41   MX000017004  2010     11    TMIN   d2  163.0
46   MX000017004  2010      2    TMAX   d3  241.0
47   MX000017004  2010      2    TMIN   d3  144.0
56   MX000017004  2010      7    TMAX   d3  286.0
57   MX000017004  2010      7    TMIN   d3  175.0
84   MX000017004  2010     11    TMAX   d4  272.0
85   MX000017004  2010     11    TMIN   d4  120.0
92   MX000017004  2010      3    TMAX   d5  321.0
93   MX000017004  2010      3    TMIN   d5  142.0
102  MX000017004  2010      8    TMAX   d5  296.0
103  MX000017004  2010      8    TMIN   d5  158.0
104  MX000017004  2010     10    TMAX   d5  270.0
105  MX000017004  2010     10    TMIN   d5  140.0
106  MX000017004  2010     11    TMAX   d5  263.0
107  MX000017004  2010     11    TMIN   d5   79.0
130  MX000017004  2010     12    TMAX   d6  278.0
131  MX000017004  2010     12    TMIN   d6  105.0
148  MX000017004  2010     10    TMAX   d7  281.0
149  MX000017004  2010     10    TMIN   d7  129.0
168  MX000017004  2010      8    TMAX   d8  290.0
169  MX000017004  2010      8    TMIN   d8  173.0
202  MX000017004  2010      3    TMAX  d10  345.0
203  MX000017004  2010      3    TMIN  d10  168.0
222  MX000017004  2010      2    TMAX  d11  297.0
223  MX000017004  2010      2    TMIN  d11  134.0
..           ...   ...    ...     ...  ...    ...
324  MX000017004  2010     10    TMAX  d15  287.0
325  MX000017004  2010     10    TMIN  d15  105.0
334  MX000017004  2010      3    TMAX  d16  311.0
335  MX000017004  2010      3    TMIN  d16  176.0
362  MX000017004  2010      6    TMAX  d17  280.0
363  MX000017004  2010      6    TMIN  d17  175.0
486  MX000017004  2010      2    TMAX  d23  299.0
487  MX000017004  2010      2    TMIN  d23  107.0
498  MX000017004  2010      8    TMAX  d23  264.0
499  MX000017004  2010      8    TMIN  d23  150.0
542  MX000017004  2010      8    TMAX  d25  297.0
543  MX000017004  2010      8    TMIN  d25  156.0
568  MX000017004  2010     11    TMAX  d26  281.0
569  MX000017004  2010     11    TMIN  d26  121.0
578  MX000017004  2010      4    TMAX  d27  363.0
579  MX000017004  2010      4    TMIN  d27  167.0
580  MX000017004  2010      5    TMAX  d27  332.0
581  MX000017004  2010      5    TMIN  d27  182.0
590  MX000017004  2010     11    TMAX  d27  277.0
591  MX000017004  2010     11    TMIN  d27  142.0
610  MX000017004  2010     10    TMAX  d28  312.0
611  MX000017004  2010     10    TMIN  d28  150.0
626  MX000017004  2010      6    TMAX  d29  301.0
627  MX000017004  2010      6    TMIN  d29  180.0
630  MX000017004  2010      8    TMAX  d29  280.0
631  MX000017004  2010      8    TMIN  d29  153.0
638  MX000017004  2010      1    TMAX  d30  278.0
639  MX000017004  2010      1    TMIN  d30  145.0
674  MX000017004  2010      8    TMAX  d31  254.0
675  MX000017004  2010      8    TMIN  d31  154.0

[66 rows x 6 columns]

In [79]:
melt_data3.id.unique()

array(['MX000017004'], dtype=object)

In [80]:
del melt_data3['id']
melt_data3

     year  month element  day  value
20   2010     12    TMAX   d1  299.0
21   2010     12    TMIN   d1  138.0
24   2010      2    TMAX   d2  273.0
25   2010      2    TMIN   d2  144.0
40   2010     11    TMAX   d2  313.0
41   2010     11    TMIN   d2  163.0
46   2010      2    TMAX   d3  241.0
47   2010      2    TMIN   d3  144.0
56   2010      7    TMAX   d3  286.0
57   2010      7    TMIN   d3  175.0
84   2010     11    TMAX   d4  272.0
85   2010     11    TMIN   d4  120.0
92   2010      3    TMAX   d5  321.0
93   2010      3    TMIN   d5  142.0
102  2010      8    TMAX   d5  296.0
103  2010      8    TMIN   d5  158.0
104  2010     10    TMAX   d5  270.0
105  2010     10    TMIN   d5  140.0
106  2010     11    TMAX   d5  263.0
107  2010     11    TMIN   d5   79.0
130  2010     12    TMAX   d6  278.0
131  2010     12    TMIN   d6  105.0
148  2010     10    TMAX   d7  281.0
149  2010     10    TMIN   d7  129.0
168  2010      8    TMAX   d8  290.0
169  2010      8    TMIN   d8  173.0
202  2010      3    TMAX  d10  345.0
203  2010      3    TMIN  d10  168.0
222  2010      2    TMAX  d11  297.0
223  2010      2    TMIN  d11  134.0
..    ...    ...     ...  ...    ...
324  2010     10    TMAX  d15  287.0
325  2010     10    TMIN  d15  105.0
334  2010      3    TMAX  d16  311.0
335  2010      3    TMIN  d16  176.0
362  2010      6    TMAX  d17  280.0
363  2010      6    TMIN  d17  175.0
486  2010      2    TMAX  d23  299.0
487  2010      2    TMIN  d23  107.0
498  2010      8    TMAX  d23  264.0
499  2010      8    TMIN  d23  150.0
542  2010      8    TMAX  d25  297.0
543  2010      8    TMIN  d25  156.0
568  2010     11    TMAX  d26  281.0
569  2010     11    TMIN  d26  121.0
578  2010      4    TMAX  d27  363.0
579  2010      4    TMIN  d27  167.0
580  2010      5    TMAX  d27  332.0
581  2010      5    TMIN  d27  182.0
590  2010     11    TMAX  d27  277.0
591  2010     11    TMIN  d27  142.0
610  2010     10    TMAX  d28  312.0
611  2010     10    TMIN  d28  150.0
626  2010      6    TMAX  d29  301.0
627  2010      6    TMIN  d29  180.0
630  2010      8    TMAX  d29  280.0
631  2010      8    TMIN  d29  153.0
638  2010      1    TMAX  d30  278.0
639  2010      1    TMIN  d30  145.0
674  2010      8    TMAX  d31  254.0
675  2010      8    TMIN  d31  154.0

[66 rows x 5 columns]

모든 row의 id값이 동일하므로 id column 삭제.

In [82]:
melt_data3.reset_index(inplace=True, drop=True)
melt_data3

    year  month element  day  value
0   2010     12    TMAX   d1  299.0
1   2010     12    TMIN   d1  138.0
2   2010      2    TMAX   d2  273.0
3   2010      2    TMIN   d2  144.0
4   2010     11    TMAX   d2  313.0
5   2010     11    TMIN   d2  163.0
6   2010      2    TMAX   d3  241.0
7   2010      2    TMIN   d3  144.0
8   2010      7    TMAX   d3  286.0
9   2010      7    TMIN   d3  175.0
10  2010     11    TMAX   d4  272.0
11  2010     11    TMIN   d4  120.0
12  2010      3    TMAX   d5  321.0
13  2010      3    TMIN   d5  142.0
14  2010      8    TMAX   d5  296.0
15  2010      8    TMIN   d5  158.0
16  2010     10    TMAX   d5  270.0
17  2010     10    TMIN   d5  140.0
18  2010     11    TMAX   d5  263.0
19  2010     11    TMIN   d5   79.0
20  2010     12    TMAX   d6  278.0
21  2010     12    TMIN   d6  105.0
22  2010     10    TMAX   d7  281.0
23  2010     10    TMIN   d7  129.0
24  2010      8    TMAX   d8  290.0
25  2010      8    TMIN   d8  173.0
26  2010      3    TMAX  d10  345.0
27  2010      3    TMIN  d10  168.0
28  2010      2    TMAX  d11  297.0
29  2010      2    TMIN  d11  134.0
..   ...    ...     ...  ...    ...
36  2010     10    TMAX  d15  287.0
37  2010     10    TMIN  d15  105.0
38  2010      3    TMAX  d16  311.0
39  2010      3    TMIN  d16  176.0
40  2010      6    TMAX  d17  280.0
41  2010      6    TMIN  d17  175.0
42  2010      2    TMAX  d23  299.0
43  2010      2    TMIN  d23  107.0
44  2010      8    TMAX  d23  264.0
45  2010      8    TMIN  d23  150.0
46  2010      8    TMAX  d25  297.0
47  2010      8    TMIN  d25  156.0
48  2010     11    TMAX  d26  281.0
49  2010     11    TMIN  d26  121.0
50  2010      4    TMAX  d27  363.0
51  2010      4    TMIN  d27  167.0
52  2010      5    TMAX  d27  332.0
53  2010      5    TMIN  d27  182.0
54  2010     11    TMAX  d27  277.0
55  2010     11    TMIN  d27  142.0
56  2010     10    TMAX  d28  312.0
57  2010     10    TMIN  d28  150.0
58  2010      6    TMAX  d29  301.0
59  2010      6    TMIN  d29  180.0
60  2010      8    TMAX  d29  280.0
61  2010      8    TMIN  d29  153.0
62  2010      1    TMAX  d30  278.0
63  2010      1    TMIN  d30  145.0
64  2010      8    TMAX  d31  254.0
65  2010      8    TMIN  d31  154.0

[66 rows x 5 columns]

In [85]:
melt_data3.year.unique()

array([2010])

year값도 하나밖에 없으나 나중에 추가될 가능성을 고려하여 남겨둔다.

In [86]:
melt_data3.element = melt_data3.element.str.replace('TMAX', 'MAX')
melt_data3.element = melt_data3.element.str.replace('TMIN', 'MIN')

In [87]:
melt_data3

    year  month element  day  value
0   2010     12     MAX   d1  299.0
1   2010     12     MIN   d1  138.0
2   2010      2     MAX   d2  273.0
3   2010      2     MIN   d2  144.0
4   2010     11     MAX   d2  313.0
5   2010     11     MIN   d2  163.0
6   2010      2     MAX   d3  241.0
7   2010      2     MIN   d3  144.0
8   2010      7     MAX   d3  286.0
9   2010      7     MIN   d3  175.0
10  2010     11     MAX   d4  272.0
11  2010     11     MIN   d4  120.0
12  2010      3     MAX   d5  321.0
13  2010      3     MIN   d5  142.0
14  2010      8     MAX   d5  296.0
15  2010      8     MIN   d5  158.0
16  2010     10     MAX   d5  270.0
17  2010     10     MIN   d5  140.0
18  2010     11     MAX   d5  263.0
19  2010     11     MIN   d5   79.0
20  2010     12     MAX   d6  278.0
21  2010     12     MIN   d6  105.0
22  2010     10     MAX   d7  281.0
23  2010     10     MIN   d7  129.0
24  2010      8     MAX   d8  290.0
25  2010      8     MIN   d8  173.0
26  2010      3     MAX  d10  345.0
27  2010      3     MIN  d10  168.0
28  2010      2     MAX  d11  297.0
29  2010      2     MIN  d11  134.0
..   ...    ...     ...  ...    ...
36  2010     10     MAX  d15  287.0
37  2010     10     MIN  d15  105.0
38  2010      3     MAX  d16  311.0
39  2010      3     MIN  d16  176.0
40  2010      6     MAX  d17  280.0
41  2010      6     MIN  d17  175.0
42  2010      2     MAX  d23  299.0
43  2010      2     MIN  d23  107.0
44  2010      8     MAX  d23  264.0
45  2010      8     MIN  d23  150.0
46  2010      8     MAX  d25  297.0
47  2010      8     MIN  d25  156.0
48  2010     11     MAX  d26  281.0
49  2010     11     MIN  d26  121.0
50  2010      4     MAX  d27  363.0
51  2010      4     MIN  d27  167.0
52  2010      5     MAX  d27  332.0
53  2010      5     MIN  d27  182.0
54  2010     11     MAX  d27  277.0
55  2010     11     MIN  d27  142.0
56  2010     10     MAX  d28  312.0
57  2010     10     MIN  d28  150.0
58  2010      6     MAX  d29  301.0
59  2010      6     MIN  d29  180.0
60  2010      8     MAX  d29  280.0
61  2010      8     MIN  d29  153.0
62  2010      1     MAX  d30  278.0
63  2010      1     MIN  d30  145.0
64  2010      8     MAX  d31  254.0
65  2010      8     MIN  d31  154.0

[66 rows x 5 columns]

TMAX, TMIN값 변경.

In [88]:
melt_data3.groupby(['year', 'month']).sum()

             value
year month
2010 1       423.0
     2      1639.0
     3      1463.0
     4       530.0
     5       514.0
     6       936.0
     7       925.0
     8      3088.0
     10     2099.0
     11     2031.0
     12      820.0

In [89]:
pd.pivot_table(melt_data3, index='month', values='value')

            value
month
1      211.500000
2      204.875000
3      243.833333
4      265.000000
5      257.000000
6      234.000000
7      231.250000
8      220.571429
10     209.900000
11     203.100000
12     205.000000

pivot table: groupby와 같은 결과.(엑셀 형식과 비슷한 형식으로 만들어준다)

In [90]:
melt_data3.groupby('month').mean()

       year       value
month
1      2010  211.500000
2      2010  204.875000
3      2010  243.833333
4      2010  265.000000
5      2010  257.000000
6      2010  234.000000
7      2010  231.250000
8      2010  220.571429
10     2010  209.900000
11     2010  203.100000
12     2010  205.000000

In [91]:
data3

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,MX000017004,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,MX000017004,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,MX000017004,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,MX000017004,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,MX000017004,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,MX000017004,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX000017004,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX000017004,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,MX000017004,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,MX000017004,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,MX000017004,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,MX000017004,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,MX000017004,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,MX000017004,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX000017004,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
data3.groupby('year').mean()

,month,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
year,,,,,,,,,,,,,,,,,,,,,
2010,6.272727,218.5,223.25,211.5,196.0,208.625,191.5,205.0,231.5,NaN,...,NaN,205.0,NaN,226.5,201.0,243.833333,231.0,228.5,211.5,204.0

wide format보다 long format이 통계 구하고 알아보기 훨씬 쉽다.

In [117]:
df = pd.read_csv('pew.txt', sep='\t')
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [98]:
df = df.set_index('religion')

In [99]:
df = df.stack()
df

religion
Agnostic               <$10k                  27
                       $10-20k                34
                       $20-30k                60
                       $30-40k                81
                       $40-50k                76
                       $50-75k               137
                       $75-100k              122
                       $100-150k             109
                       >150k                  84
                       Don't know/refused     96
Atheist                <$10k                  12
                       $10-20k                27
                       $20-30k                37
                       $30-40k                52
                       $40-50k                35
                       $50-75k                70
                       $75-100k               73
                       $100-150k              59
                       >150k                  74
                       Don't know/refused     76
Buddhist               <$10k                  27
                       $10-20k                21
                       $20-30k                30
                       $30-40k                34
                       $40-50k                33
                       $50-75k                58
                       $75-100k               62
                       $100-150k              39
                       >150k                  53
                       Don't know/refused     54
                                            ...
Other Faiths           <$10k                  20
                       $10-20k                33
                       $20-30k                40
                       $30-40k                46
                       $40-50k                49
                       $50-75k                63
                       $75-100k               46
                       $100-150k              40
                       >150k                  41
                       Don't know/refused     71
Other World Religions  <$10k                   5
                       $10-20k                 2
                       $20-30k                 3
                       $30-40k                 4
                       $40-50k                 2
                       $50-75k                 7
                       $75-100k                3
                       $100-150k               4
                       >150k                   4
                       Don't know/refused      8
Unaffiliated           <$10k                 217
                       $10-20k               299
                       $20-30k               374
                       $30-40k               365
                       $40-50k               341
                       $50-75k               528
                       $75-100k              407
                       $100-150k             321
                       >150k                 258
                       Don't know/refused    597
Length: 180, dtype: int64

stack: 한 열로 쌓는다 - 종교별 값에 대해 한 열로 뽑는다(melt와 유사)

In [107]:
df = df.unstack()

In [108]:
df

religion               A
Agnostic               <$10k                  27
                       $10-20k                34
                       $20-30k                60
                       $30-40k                81
                       $40-50k                76
                       $50-75k               137
                       $75-100k              122
                       $100-150k             109
                       >150k                  84
                       Don't know/refused     96
Atheist                <$10k                  12
                       $10-20k                27
                       $20-30k                37
                       $30-40k                52
                       $40-50k                35
                       $50-75k                70
                       $75-100k               73
                       $100-150k              59
                       >150k                  74
                       Don't know/refused     76
Buddhist               <$10k                  27
                       $10-20k                21
                       $20-30k                30
                       $30-40k                34
                       $40-50k                33
                       $50-75k                58
                       $75-100k               62
                       $100-150k              39
                       >150k                  53
                       Don't know/refused     54
                                            ...
Other Faiths           <$10k                  20
                       $10-20k                33
                       $20-30k                40
                       $30-40k                46
                       $40-50k                49
                       $50-75k                63
                       $75-100k               46
                       $100-150k              40
                       >150k                  41
                       Don't know/refused     71
Other World Religions  <$10k                   5
                       $10-20k                 2
                       $20-30k                 3
                       $30-40k                 4
                       $40-50k                 2
                       $50-75k                 7
                       $75-100k                3
                       $100-150k               4
                       >150k                   4
                       Don't know/refused      8
Unaffiliated           <$10k                 217
                       $10-20k               299
                       $20-30k               374
                       $30-40k               365
                       $40-50k               341
                       $50-75k               528
                       $75-100k              407
                       $100-150k             321
                       >150k                 258
                       Don't know/refused    597
Length: 180, dtype: int64

stack, unstack 차이 = 행과 열의 차이.
- stack: 첫 열을 쌓는다.(행으로 쌓는다)
- unstack: 첫 열을 풀어놓는다.(열로 쌓는다)

In [115]:
df.index = df.index.rename('A')
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
A,,,,,,,,,,,
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [112]:
temp = df['<$10k']

In [113]:
temp.rename('BBB')

A
0      27
1      12
2      27
3     418
4      15
5     575
6       1
7     228
8      20
9      19
10    289
11     29
12      6
13     13
14      9
15     20
16      5
17    217
Name: BBB, dtype: int64

In [119]:
df = pd.read_json('nobel_winners_dirty.json')

In [121]:
df.category = df.category.astype('category')
df

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,Maurice Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Henri La Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,Corneille Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,Georges Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,Christian de Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,Karl Adolph Gjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Johannes Andreas Grib Fibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,Henrik Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,Johannes Vilhelm Jensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner *,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori *,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori *,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi *,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn *,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch *,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel *,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,Sir Howard Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,Sir Frank Macfarlane Burnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,John Carew Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,Patrick White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,John Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty & Professor Rolf Zinkernagel,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [122]:
df.category.cat.codes

0       6
1       3
2       1
3       4
4       4
5       3
6       4
7       6
8       6
9       4
10      6
11      6
12      1
13      5
14      2
15      4
16      4
17      3
18      6
19      5
20      6
21      6
22      3
23      5
24      5
25      6
26      1
27      4
28      6
29      6
       ..
1022    5
1023    6
1024    1
1025    5
1026    1
1027    6
1028    6
1029    2
1030    1
1031    6
1032    3
1033    4
1034    1
1035    5
1036    6
1037    6
1038    6
1039    5
1040    3
1041    1
1042    2
1043    6
1044    6
1045    6
1046    6
1047    5
1048    4
1049    6
1050    1
1051    4
Length: 1052, dtype: int8

데이터 encoding을 바꿀 수 있다.(머신러닝에서 사용한 one hot encoding과 비슷)

In [123]:
df

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,Maurice Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Henri La Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,Corneille Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,Georges Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,Christian de Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,Karl Adolph Gjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Johannes Andreas Grib Fibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,Henrik Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,Johannes Vilhelm Jensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner *,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori *,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori *,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi *,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn *,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch *,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel *,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,Sir Howard Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,Sir Frank Macfarlane Burnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,John Carew Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,Patrick White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,John Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty & Professor Rolf Zinkernagel,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
born_in           1052 non-null object
category          1052 non-null category
country           1052 non-null object
date_of_birth     1044 non-null object
date_of_death     1044 non-null object
gender            1040 non-null object
link              1052 non-null object
name              1052 non-null object
place_of_birth    1044 non-null object
place_of_death    1044 non-null object
text              1052 non-null object
year              1052 non-null int64
dtypes: category(1), int64(1), object(10)
memory usage: 91.9+ KB

___

## Tidy Data 구조로 만드는 기법
1. melt: 분석하기 편한 데이터로 변환.(column이 값으로 들어간다)
2. stack: wide format -> long format. row로 쌓는다.(결과물: series)
3. unstack: stack으로 변환한 데이터를 다시 wide format으로 변환. 값이 column으로 들어간다.
4. pivot: index가 같은 두 row가 있을 경우 한 column에 대한 값이 다를 경우 에러 발생.(aggregation function이 아니기 때문 - pivot table은 aggregation function이 값으로 들어가므로 에러가 발생하지 않는다.)
5. concatenate
6. join

#### Split, Apply, Combine
- Split: 데이터를 쪼개 같은 속성을 가진 데이터끼리 묶어놓는다.
- Apply: 각종 통계함수 적용.
- Combine: 결과를 보여줄 때 전부 합침.

___

### 예시 - 종교 데이터

In [1]:
import pandas as pd

In [2]:
pew = pd.read_csv('pew.txt', sep='\t')
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [5]:
pew_long = pew.melt('religion')
pew_long

                    religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [7]:
pew_long.unstack(1)

religion  0                     Agnostic
          1                      Atheist
          2                     Buddhist
          3                     Catholic
          4           Don’t know/refused
          5             Evangelical Prot
          6                        Hindu
          7      Historically Black Prot
          8            Jehovah's Witness
          9                       Jewish
          10               Mainline Prot
          11                      Mormon
          12                      Muslim
          13                    Orthodox
          14             Other Christian
          15                Other Faiths
          16       Other World Religions
          17                Unaffiliated
          18                    Agnostic
          19                     Atheist
          20                    Buddhist
          21                    Catholic
          22          Don’t know/refused
          23            Evangelical Prot
          24                       Hindu
          25     Historically Black Prot
          26           Jehovah's Witness
          27                      Jewish
          28               Mainline Prot
          29                      Mormon
                          ...
value     150                         54
          151                         78
          152                          6
          153                        151
          154                        634
          155                         42
          156                          6
          157                         46
          158                         12
          159                         41
          160                          4
          161                        258
          162                         96
          163                         76
          164                         54
          165                       1489
          166                        116
          167                       1529
          168                         37
          169                        339
          170                         37
          171                        162
          172                       1328
          173                         69
          174                         22
          175                         73
          176                         18
          177                         71
          178                          8
          179                        597
Length: 540, dtype: object

___

### 예시 - Billboard 데이터

In [12]:
billboard = pd.read_csv('billboard.csv', engine='python')
billboard

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,82,70.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,71,51.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,70,61.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,84,78.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,59,53.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,60,37.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,82,68.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,81,68.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,72,57.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,99,92.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,63,55.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,77,54.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,2000-09-30,51,39.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,74,71.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,81,70.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,74,63.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,50,39.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,81,68.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,94,86.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,92,80.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,2000-09-09,91,87.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,2000-09-16,98,96.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,Eve,Got It All,3:48,Rap,2000-07-15,2000-07-22,89,88.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,2000-02-05,91,91.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,2000-03-11,95,88.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,2000-06-17,97,97.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,2000-04-15,98,98.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,2000-08-26,96,89.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,2000-01-15,99,100.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,2000-01-22,98,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,2000-12-02,92,92.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,2000-05-20,92,91.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,2000-06-17,92,92.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,2000-05-06,100,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,92,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Trina,Pull Over,2:58,Rap,2000-09-09,2000-09-16,97,93.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,2000-09-16,100,99.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,2000-07-29,97,97.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,2000-11-18,96,95.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,2000-12-23,96,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,2000-03-11,100,97.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,2000-12-02,98,98.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,Tuesday,I Know,4:06,Rock,2000-12-30,2000-12-30,98,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,2000-08-19,99,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,Master P,Souljas,3:33,Rap,2000-11-18,2000-11-18,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
billboard_long = billboard.melt(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered', 'date.peaked'], var_name='week')
billboard_long

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,value
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,x1st.week,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,x1st.week,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,x1st.week,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,x1st.week,77.0
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x1st.week,81.0
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,x1st.week,82.0
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,x1st.week,71.0
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,x1st.week,70.0
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,x1st.week,84.0
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,x1st.week,59.0
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,x1st.week,60.0
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,x1st.week,82.0
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x1st.week,81.0
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,x1st.week,72.0
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,x1st.week,99.0
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,x1st.week,63.0
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,x1st.week,77.0
22,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,2000-09-30,x1st.week,51.0
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,x1st.week,74.0
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x1st.week,81.0
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,x1st.week,74.0
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,x1st.week,50.0
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,x1st.week,81.0
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,x1st.week,94.0
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,x1st.week,92.0
...,...,...,...,...,...,...,...,...,...
24062,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,2000-09-09,x76th.week,NaN
24063,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,2000-09-16,x76th.week,NaN
24064,2000,Eve,Got It All,3:48,Rap,2000-07-15,2000-07-22,x76th.week,NaN
24065,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,2000-02-05,x76th.week,NaN
24066,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,2000-03-11,x76th.week,NaN
24067,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,2000-06-17,x76th.week,NaN
24068,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,2000-04-15,x76th.week,NaN
24069,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,2000-08-26,x76th.week,NaN
24070,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,2000-01-15,x76th.week,NaN
24071,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,2000-01-22,x76th.week,NaN
24072,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,2000-12-02,x76th.week,NaN
24073,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,2000-05-20,x76th.week,NaN
24074,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,2000-06-17,x76th.week,NaN
24075,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,2000-05-06,x76th.week,NaN
24076,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,x76th.week,NaN
24077,2000,Trina,Pull Over,2:58,Rap,2000-09-09,2000-09-16,x76th.week,NaN
24078,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,2000-09-16,x76th.week,NaN
24079,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,2000-07-29,x76th.week,NaN
24080,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,2000-11-18,x76th.week,NaN
24081,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,2000-12-23,x76th.week,NaN
24082,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,2000-03-11,x76th.week,NaN
24083,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,2000-12-02,x76th.week,NaN
24084,2000,Tuesday,I Know,4:06,Rock,2000-12-30,2000-12-30,x76th.week,NaN
24085,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,2000-08-19,x76th.week,NaN
24086,2000,Master P,Souljas,3:33,Rap,2000-11-18,2000-11-18,x76th.week,NaN
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [13]:
del billboard_long['date.peaked']

In [14]:
billboard_long

,year,artist.inverted,track,time,genre,date.entered,week,value
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,x1st.week,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,x1st.week,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,x1st.week,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,x1st.week,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,x1st.week,77.0
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,x1st.week,81.0
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,x1st.week,82.0
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,x1st.week,71.0
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,x1st.week,70.0
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,x1st.week,84.0
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,x1st.week,59.0
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,x1st.week,60.0
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,x1st.week,82.0
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,x1st.week,81.0
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,x1st.week,72.0
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,x1st.week,99.0
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,x1st.week,63.0
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,x1st.week,77.0
22,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,x1st.week,51.0
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,x1st.week,74.0
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,x1st.week,81.0
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,x1st.week,74.0
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,x1st.week,50.0
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,x1st.week,81.0
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,x1st.week,94.0
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,x1st.week,92.0
...,...,...,...,...,...,...,...,...
24062,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,x76th.week,NaN
24063,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,x76th.week,NaN
24064,2000,Eve,Got It All,3:48,Rap,2000-07-15,x76th.week,NaN
24065,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,x76th.week,NaN
24066,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,x76th.week,NaN
24067,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,x76th.week,NaN
24068,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,x76th.week,NaN
24069,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,x76th.week,NaN
24070,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,x76th.week,NaN
24071,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,x76th.week,NaN
24072,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,x76th.week,NaN
24073,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,x76th.week,NaN
24074,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,x76th.week,NaN
24075,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,x76th.week,NaN
24076,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,x76th.week,NaN
24077,2000,Trina,Pull Over,2:58,Rap,2000-09-09,x76th.week,NaN
24078,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,x76th.week,NaN
24079,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,x76th.week,NaN
24080,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,x76th.week,NaN
24081,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,x76th.week,NaN
24082,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,x76th.week,NaN
24083,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,x76th.week,NaN
24084,2000,Tuesday,I Know,4:06,Rock,2000-12-30,x76th.week,NaN
24085,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,x76th.week,NaN
24086,2000,Master P,Souljas,3:33,Rap,2000-11-18,x76th.week,NaN
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,x76th.week,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,x76th.week,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,x76th.week,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,x76th.week,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,x76th.week,NaN

In [16]:
billboard_long.week = billboard_long.week.str.replace('x', '')
billboard_long.week = billboard_long.week.str.replace('.week', '')

In [18]:
billboard_long.week = billboard_long.week.str.replace(r'[a-z]', '', regex=True)

In [19]:
billboard_long

,year,artist.inverted,track,time,genre,date.entered,week,value
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,1,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,1,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,1,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,1,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,1,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,1,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,1,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,1,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,1,77.0
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,1,81.0
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,1,82.0
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,1,71.0
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,1,70.0
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,1,84.0
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,1,59.0
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,1,60.0
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,1,82.0
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,1,81.0
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,1,72.0
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,1,99.0
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,1,63.0
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,1,77.0
22,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,1,51.0
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,1,74.0
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,1,81.0
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,1,74.0
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,1,50.0
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,1,81.0
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,1,94.0
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,1,92.0
...,...,...,...,...,...,...,...,...
24062,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,76,NaN
24063,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,76,NaN
24064,2000,Eve,Got It All,3:48,Rap,2000-07-15,76,NaN
24065,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,76,NaN
24066,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,76,NaN
24067,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,76,NaN
24068,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,76,NaN
24069,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,76,NaN
24070,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,76,NaN
24071,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,76,NaN
24072,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,76,NaN
24073,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,76,NaN
24074,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,76,NaN
24075,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,76,NaN
24076,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,76,NaN
24077,2000,Trina,Pull Over,2:58,Rap,2000-09-09,76,NaN
24078,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,76,NaN
24079,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,76,NaN
24080,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,76,NaN
24081,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,76,NaN
24082,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,76,NaN
24083,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,76,NaN
24084,2000,Tuesday,I Know,4:06,Rock,2000-12-30,76,NaN
24085,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,76,NaN
24086,2000,Master P,Souljas,3:33,Rap,2000-11-18,76,NaN
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,76,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,76,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,76,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,76,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,76,NaN

billboard 데이터를 melt시키고 week값을 숫자만 남겼다.

billboard 데이터의 문제점: 너무 많은 데이터를 담고 있다 => 관계형 DB처럼 쪼갤 필요가 있다.

___

### 예시 - Ebola 데이터

In [20]:
ebola = pd.read_csv('country_timeseries.csv')
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

문제점: 국가, status가 column으로 존재한다.

In [22]:
ebola_long = ebola.melt(['Date', 'Day'])
ebola_long.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

melt한 뒤에도 status, 국가를 분류해야하기 때문에 추가작업 필요.

=> _를 기준으로 status, country로 나눠지므로 _을 기준으로 split.

In [23]:
variable_split = ebola_long.variable.str.split('_')

status_value = variable_split.str.get(0)
country_value = variable_split.str.get(1)

ebola_long['status'] = status_value
ebola_long['country'] = country_value

In [24]:
ebola_long

            Date  Day      variable   value  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
5     12/28/2014  281  Cases_Guinea  2706.0   Cases  Guinea
6     12/27/2014  280  Cases_Guinea  2695.0   Cases  Guinea
7     12/24/2014  277  Cases_Guinea  2630.0   Cases  Guinea
8     12/21/2014  273  Cases_Guinea  2597.0   Cases  Guinea
9     12/20/2014  272  Cases_Guinea  2571.0   Cases  Guinea
10    12/18/2014  271  Cases_Guinea     NaN   Cases  Guinea
11    12/14/2014  267  Cases_Guinea  2416.0   Cases  Guinea
12     12/9/2014  262  Cases_Guinea     NaN   Cases  Guinea
13     12/7/2014  260  Cases_Guinea  2292.0   Cases  Guinea
14     12/3/2014  256  Cases_Guinea     NaN   Cases  Guinea
15    11/30/2014  253  Cases_Guinea  2164.0   Cases  Guinea
16    11/28/2014  251  Cases_Guinea     NaN   Cases  Guinea
17    11/23/2014  246  Cases_Guinea  2134.0   Cases  Guinea
18    11/22/2014  245  Cases_Guinea     NaN   Cases  Guinea
19    11/18/2014  241  Cases_Guinea  2047.0   Cases  Guinea
20    11/16/2014  239  Cases_Guinea  1971.0   Cases  Guinea
21    11/15/2014  238  Cases_Guinea     NaN   Cases  Guinea
22    11/11/2014  234  Cases_Guinea  1919.0   Cases  Guinea
23    11/10/2014  233  Cases_Guinea     NaN   Cases  Guinea
24     11/9/2014  232  Cases_Guinea  1878.0   Cases  Guinea
25     11/8/2014  231  Cases_Guinea     NaN   Cases  Guinea
26     11/4/2014  227  Cases_Guinea     NaN   Cases  Guinea
27     11/3/2014  226  Cases_Guinea  1760.0   Cases  Guinea
28     11/2/2014  225  Cases_Guinea  1731.0   Cases  Guinea
29    10/31/2014  222  Cases_Guinea     NaN   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN  Deaths    Mali
1923   5/12/2014   51   Deaths_Mali     NaN  Deaths    Mali
1924   5/10/2014   49   Deaths_Mali     NaN  Deaths    Mali
1925    5/7/2014   46   Deaths_Mali     NaN  Deaths    Mali
1926    5/5/2014   44   Deaths_Mali     NaN  Deaths    Mali
1927    5/3/2014   42   Deaths_Mali     NaN  Deaths    Mali
1928    5/1/2014   40   Deaths_Mali     NaN  Deaths    Mali
1929   4/26/2014   35   Deaths_Mali     NaN  Deaths    Mali
1930   4/24/2014   33   Deaths_Mali     NaN  Deaths    Mali
1931   4/23/2014   32   Deaths_Mali     NaN  Deaths    Mali
1932   4/22/2014   31   Deaths_Mali     NaN  Deaths    Mali
1933   4/21/2014   30   Deaths_Mali     NaN  Deaths    Mali
1934   4/20/2014   29   Deaths_Mali     NaN  Deaths    Mali
1935   4/17/2014   26   Deaths_Mali     NaN  Deaths    Mali
1936   4/16/2014   25   Deaths_Mali     NaN  Deaths    Mali
1937   4/15/2014   24   Deaths_Mali     NaN  Deaths    Mali
1938   4/14/2014   23   Deaths_Mali     NaN  Deaths    Mali
1939   4/11/2014   20   Deaths_Mali     NaN  Deaths    Mali
1940    4/9/2014   18   Deaths_Mali     NaN  Deaths    Mali
1941    4/7/2014   16   Deaths_Mali     NaN  Deaths    Mali
1942    4/4/2014   13   Deaths_Mali     NaN  Deaths    Mali
1943    4/1/2014   10   Deaths_Mali     NaN  Deaths    Mali
1944   3/31/2014    9   Deaths_Mali     NaN  Deaths    Mali
1945   3/29/2014    7   Deaths_Mali     NaN  Deaths    Mali
1946   3/28/2014    6   Deaths_Mali     NaN  Deaths    Mali
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]

In [27]:
del ebola_long['variable']

In [28]:
ebola_long

            Date  Day   value  status country
0       1/5/2015  289  2776.0   Cases  Guinea
1       1/4/2015  288  2775.0   Cases  Guinea
2       1/3/2015  287  2769.0   Cases  Guinea
3       1/2/2015  286     NaN   Cases  Guinea
4     12/31/2014  284  2730.0   Cases  Guinea
5     12/28/2014  281  2706.0   Cases  Guinea
6     12/27/2014  280  2695.0   Cases  Guinea
7     12/24/2014  277  2630.0   Cases  Guinea
8     12/21/2014  273  2597.0   Cases  Guinea
9     12/20/2014  272  2571.0   Cases  Guinea
10    12/18/2014  271     NaN   Cases  Guinea
11    12/14/2014  267  2416.0   Cases  Guinea
12     12/9/2014  262     NaN   Cases  Guinea
13     12/7/2014  260  2292.0   Cases  Guinea
14     12/3/2014  256     NaN   Cases  Guinea
15    11/30/2014  253  2164.0   Cases  Guinea
16    11/28/2014  251     NaN   Cases  Guinea
17    11/23/2014  246  2134.0   Cases  Guinea
18    11/22/2014  245     NaN   Cases  Guinea
19    11/18/2014  241  2047.0   Cases  Guinea
20    11/16/2014  239  1971.0   Cases  Guinea
21    11/15/2014  238     NaN   Cases  Guinea
22    11/11/2014  234  1919.0   Cases  Guinea
23    11/10/2014  233     NaN   Cases  Guinea
24     11/9/2014  232  1878.0   Cases  Guinea
25     11/8/2014  231     NaN   Cases  Guinea
26     11/4/2014  227     NaN   Cases  Guinea
27     11/3/2014  226  1760.0   Cases  Guinea
28     11/2/2014  225  1731.0   Cases  Guinea
29    10/31/2014  222     NaN   Cases  Guinea
...          ...  ...     ...     ...     ...
1922   5/23/2014   62     NaN  Deaths    Mali
1923   5/12/2014   51     NaN  Deaths    Mali
1924   5/10/2014   49     NaN  Deaths    Mali
1925    5/7/2014   46     NaN  Deaths    Mali
1926    5/5/2014   44     NaN  Deaths    Mali
1927    5/3/2014   42     NaN  Deaths    Mali
1928    5/1/2014   40     NaN  Deaths    Mali
1929   4/26/2014   35     NaN  Deaths    Mali
1930   4/24/2014   33     NaN  Deaths    Mali
1931   4/23/2014   32     NaN  Deaths    Mali
1932   4/22/2014   31     NaN  Deaths    Mali
1933   4/21/2014   30     NaN  Deaths    Mali
1934   4/20/2014   29     NaN  Deaths    Mali
1935   4/17/2014   26     NaN  Deaths    Mali
1936   4/16/2014   25     NaN  Deaths    Mali
1937   4/15/2014   24     NaN  Deaths    Mali
1938   4/14/2014   23     NaN  Deaths    Mali
1939   4/11/2014   20     NaN  Deaths    Mali
1940    4/9/2014   18     NaN  Deaths    Mali
1941    4/7/2014   16     NaN  Deaths    Mali
1942    4/4/2014   13     NaN  Deaths    Mali
1943    4/1/2014   10     NaN  Deaths    Mali
1944   3/31/2014    9     NaN  Deaths    Mali
1945   3/29/2014    7     NaN  Deaths    Mali
1946   3/28/2014    6     NaN  Deaths    Mali
1947   3/27/2014    5     NaN  Deaths    Mali
1948   3/26/2014    4     NaN  Deaths    Mali
1949   3/25/2014    3     NaN  Deaths    Mali
1950   3/24/2014    2     NaN  Deaths    Mali
1951   3/22/2014    0     NaN  Deaths    Mali

[1952 rows x 5 columns]

___

### 예시 - 날씨 데이터

In [29]:
weather = pd.read_csv('weather.txt', sep='\t')
weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,MX000017004,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,MX000017004,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,MX000017004,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,MX000017004,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,MX000017004,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,MX000017004,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX000017004,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX000017004,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,MX000017004,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,MX000017004,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,MX000017004,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,MX000017004,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,MX000017004,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,MX000017004,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX000017004,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
weather.describe()

,year,month,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
count,22.0,22.000000,2.000000,4.000000,4.000000,2.000000,8.000000,2.000000,2.000000,2.000000,...,0.0,4.00000,0.0,2.000000,2.000000,6.000000,2.000000,4.000000,2.000000,2.000000
mean,2010.0,6.272727,218.500000,223.250000,211.500000,196.000000,208.625000,191.500000,205.000000,231.500000,...,NaN,205.00000,NaN,226.500000,201.000000,243.833333,231.000000,228.500000,211.500000,204.000000
std,0.0,3.601347,113.844192,82.544432,64.054664,107.480231,89.042426,122.329473,107.480231,82.731493,...,NaN,91.18845,NaN,99.702056,113.137085,92.920217,114.551299,72.940615,94.045202,70.710678
min,2010.0,1.000000,138.000000,144.000000,144.000000,120.000000,79.000000,105.000000,129.000000,173.000000,...,NaN,107.00000,NaN,156.000000,121.000000,142.000000,150.000000,153.000000,145.000000,154.000000
25%,2010.0,3.250000,178.250000,158.250000,167.250000,158.000000,141.500000,148.250000,167.000000,202.250000,...,NaN,139.25000,NaN,191.250000,161.000000,170.750000,190.500000,173.250000,178.250000,179.000000
50%,2010.0,6.000000,218.500000,218.000000,208.000000,196.000000,210.500000,191.500000,205.000000,231.500000,...,NaN,207.00000,NaN,226.500000,201.000000,229.500000,231.000000,230.000000,211.500000,204.000000
75%,2010.0,9.500000,258.750000,283.000000,252.250000,234.000000,276.500000,234.750000,243.000000,260.750000,...,NaN,272.75000,NaN,261.750000,241.000000,318.250000,271.500000,285.250000,244.750000,229.000000
max,2010.0,12.000000,299.000000,313.000000,286.000000,272.000000,321.000000,278.000000,281.000000,290.000000,...,NaN,299.00000,NaN,297.000000,281.000000,363.000000,312.000000,301.000000,278.000000,254.000000

year값, id값은 전부 한가지이다 => id column은 삭제, year column은 나중에 데이터 추가될 가능성을 고려하여 남김.

In [31]:
del weather['id']

In [32]:
weather

,year,month,element,d1,d2,d3,d4,d5,d6,d7,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,281.0,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,129.0,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
weather_melt = weather.melt(['year', 'month', 'element'], var_name = 'day')
weather_melt

     year  month element  day  value
0    2010      1    TMAX   d1    NaN
1    2010      1    TMIN   d1    NaN
2    2010      2    TMAX   d1    NaN
3    2010      2    TMIN   d1    NaN
4    2010      3    TMAX   d1    NaN
5    2010      3    TMIN   d1    NaN
6    2010      4    TMAX   d1    NaN
7    2010      4    TMIN   d1    NaN
8    2010      5    TMAX   d1    NaN
9    2010      5    TMIN   d1    NaN
10   2010      6    TMAX   d1    NaN
11   2010      6    TMIN   d1    NaN
12   2010      7    TMAX   d1    NaN
13   2010      7    TMIN   d1    NaN
14   2010      8    TMAX   d1    NaN
15   2010      8    TMIN   d1    NaN
16   2010     10    TMAX   d1    NaN
17   2010     10    TMIN   d1    NaN
18   2010     11    TMAX   d1    NaN
19   2010     11    TMIN   d1    NaN
20   2010     12    TMAX   d1  299.0
21   2010     12    TMIN   d1  138.0
22   2010      1    TMAX   d2    NaN
23   2010      1    TMIN   d2    NaN
24   2010      2    TMAX   d2  273.0
25   2010      2    TMIN   d2  144.0
26   2010      3    TMAX   d2    NaN
27   2010      3    TMIN   d2    NaN
28   2010      4    TMAX   d2    NaN
29   2010      4    TMIN   d2    NaN
..    ...    ...     ...  ...    ...
652  2010      8    TMAX  d30    NaN
653  2010      8    TMIN  d30    NaN
654  2010     10    TMAX  d30    NaN
655  2010     10    TMIN  d30    NaN
656  2010     11    TMAX  d30    NaN
657  2010     11    TMIN  d30    NaN
658  2010     12    TMAX  d30    NaN
659  2010     12    TMIN  d30    NaN
660  2010      1    TMAX  d31    NaN
661  2010      1    TMIN  d31    NaN
662  2010      2    TMAX  d31    NaN
663  2010      2    TMIN  d31    NaN
664  2010      3    TMAX  d31    NaN
665  2010      3    TMIN  d31    NaN
666  2010      4    TMAX  d31    NaN
667  2010      4    TMIN  d31    NaN
668  2010      5    TMAX  d31    NaN
669  2010      5    TMIN  d31    NaN
670  2010      6    TMAX  d31    NaN
671  2010      6    TMIN  d31    NaN
672  2010      7    TMAX  d31    NaN
673  2010      7    TMIN  d31    NaN
674  2010      8    TMAX  d31  254.0
675  2010      8    TMIN  d31  154.0
676  2010     10    TMAX  d31    NaN
677  2010     10    TMIN  d31    NaN
678  2010     11    TMAX  d31    NaN
679  2010     11    TMIN  d31    NaN
680  2010     12    TMAX  d31    NaN
681  2010     12    TMIN  d31    NaN

[682 rows x 5 columns]

In [36]:
weather_melt.dropna(inplace=True)
weather_melt

     year  month element  day  value
20   2010     12    TMAX   d1  299.0
21   2010     12    TMIN   d1  138.0
24   2010      2    TMAX   d2  273.0
25   2010      2    TMIN   d2  144.0
40   2010     11    TMAX   d2  313.0
41   2010     11    TMIN   d2  163.0
46   2010      2    TMAX   d3  241.0
47   2010      2    TMIN   d3  144.0
56   2010      7    TMAX   d3  286.0
57   2010      7    TMIN   d3  175.0
84   2010     11    TMAX   d4  272.0
85   2010     11    TMIN   d4  120.0
92   2010      3    TMAX   d5  321.0
93   2010      3    TMIN   d5  142.0
102  2010      8    TMAX   d5  296.0
103  2010      8    TMIN   d5  158.0
104  2010     10    TMAX   d5  270.0
105  2010     10    TMIN   d5  140.0
106  2010     11    TMAX   d5  263.0
107  2010     11    TMIN   d5   79.0
130  2010     12    TMAX   d6  278.0
131  2010     12    TMIN   d6  105.0
148  2010     10    TMAX   d7  281.0
149  2010     10    TMIN   d7  129.0
168  2010      8    TMAX   d8  290.0
169  2010      8    TMIN   d8  173.0
202  2010      3    TMAX  d10  345.0
203  2010      3    TMIN  d10  168.0
222  2010      2    TMAX  d11  297.0
223  2010      2    TMIN  d11  134.0
..    ...    ...     ...  ...    ...
324  2010     10    TMAX  d15  287.0
325  2010     10    TMIN  d15  105.0
334  2010      3    TMAX  d16  311.0
335  2010      3    TMIN  d16  176.0
362  2010      6    TMAX  d17  280.0
363  2010      6    TMIN  d17  175.0
486  2010      2    TMAX  d23  299.0
487  2010      2    TMIN  d23  107.0
498  2010      8    TMAX  d23  264.0
499  2010      8    TMIN  d23  150.0
542  2010      8    TMAX  d25  297.0
543  2010      8    TMIN  d25  156.0
568  2010     11    TMAX  d26  281.0
569  2010     11    TMIN  d26  121.0
578  2010      4    TMAX  d27  363.0
579  2010      4    TMIN  d27  167.0
580  2010      5    TMAX  d27  332.0
581  2010      5    TMIN  d27  182.0
590  2010     11    TMAX  d27  277.0
591  2010     11    TMIN  d27  142.0
610  2010     10    TMAX  d28  312.0
611  2010     10    TMIN  d28  150.0
626  2010      6    TMAX  d29  301.0
627  2010      6    TMIN  d29  180.0
630  2010      8    TMAX  d29  280.0
631  2010      8    TMIN  d29  153.0
638  2010      1    TMAX  d30  278.0
639  2010      1    TMIN  d30  145.0
674  2010      8    TMAX  d31  254.0
675  2010      8    TMIN  d31  154.0

[66 rows x 5 columns]

값이 NaN인 row는 전부 삭제.

In [37]:
weather_melt.groupby('day').max()

     year  month element  value
day
d1   2010     12    TMIN  299.0
d10  2010      3    TMIN  345.0
d11  2010      2    TMIN  297.0
d13  2010      8    TMIN  298.0
d14  2010     10    TMIN  299.0
d15  2010     10    TMIN  287.0
d16  2010      3    TMIN  311.0
d17  2010      6    TMIN  280.0
d2   2010     11    TMIN  313.0
d23  2010      8    TMIN  299.0
d25  2010      8    TMIN  297.0
d26  2010     11    TMIN  281.0
d27  2010     11    TMIN  363.0
d28  2010     10    TMIN  312.0
d29  2010      8    TMIN  301.0
d3   2010      7    TMIN  286.0
d30  2010      1    TMIN  278.0
d31  2010      8    TMIN  254.0
d4   2010     11    TMIN  272.0
d5   2010     11    TMIN  321.0
d6   2010     12    TMIN  278.0
d7   2010     10    TMIN  281.0
d8   2010      8    TMIN  290.0

일자별 value의 최대값을 구한다.

In [38]:
weather_melt.reset_index(drop=True)

    year  month element  day  value
0   2010     12    TMAX   d1  299.0
1   2010     12    TMIN   d1  138.0
2   2010      2    TMAX   d2  273.0
3   2010      2    TMIN   d2  144.0
4   2010     11    TMAX   d2  313.0
5   2010     11    TMIN   d2  163.0
6   2010      2    TMAX   d3  241.0
7   2010      2    TMIN   d3  144.0
8   2010      7    TMAX   d3  286.0
9   2010      7    TMIN   d3  175.0
10  2010     11    TMAX   d4  272.0
11  2010     11    TMIN   d4  120.0
12  2010      3    TMAX   d5  321.0
13  2010      3    TMIN   d5  142.0
14  2010      8    TMAX   d5  296.0
15  2010      8    TMIN   d5  158.0
16  2010     10    TMAX   d5  270.0
17  2010     10    TMIN   d5  140.0
18  2010     11    TMAX   d5  263.0
19  2010     11    TMIN   d5   79.0
20  2010     12    TMAX   d6  278.0
21  2010     12    TMIN   d6  105.0
22  2010     10    TMAX   d7  281.0
23  2010     10    TMIN   d7  129.0
24  2010      8    TMAX   d8  290.0
25  2010      8    TMIN   d8  173.0
26  2010      3    TMAX  d10  345.0
27  2010      3    TMIN  d10  168.0
28  2010      2    TMAX  d11  297.0
29  2010      2    TMIN  d11  134.0
..   ...    ...     ...  ...    ...
36  2010     10    TMAX  d15  287.0
37  2010     10    TMIN  d15  105.0
38  2010      3    TMAX  d16  311.0
39  2010      3    TMIN  d16  176.0
40  2010      6    TMAX  d17  280.0
41  2010      6    TMIN  d17  175.0
42  2010      2    TMAX  d23  299.0
43  2010      2    TMIN  d23  107.0
44  2010      8    TMAX  d23  264.0
45  2010      8    TMIN  d23  150.0
46  2010      8    TMAX  d25  297.0
47  2010      8    TMIN  d25  156.0
48  2010     11    TMAX  d26  281.0
49  2010     11    TMIN  d26  121.0
50  2010      4    TMAX  d27  363.0
51  2010      4    TMIN  d27  167.0
52  2010      5    TMAX  d27  332.0
53  2010      5    TMIN  d27  182.0
54  2010     11    TMAX  d27  277.0
55  2010     11    TMIN  d27  142.0
56  2010     10    TMAX  d28  312.0
57  2010     10    TMIN  d28  150.0
58  2010      6    TMAX  d29  301.0
59  2010      6    TMIN  d29  180.0
60  2010      8    TMAX  d29  280.0
61  2010      8    TMIN  d29  153.0
62  2010      1    TMAX  d30  278.0
63  2010      1    TMIN  d30  145.0
64  2010      8    TMAX  d31  254.0
65  2010      8    TMIN  d31  154.0

[66 rows x 5 columns]

기존 인덱스는 버리고 재정리.