# Pandas - More

In [1]:
import pandas as pd

In [2]:
data_col = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('~/Downloads/ml-100k/u.data', sep='\t', names=data_col)
#ratings['date'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [3]:
ratings

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
5          298       474       4  884182806
6          115       265       2  881171488
7          253       465       5  891628467
8          305       451       3  886324817
9            6        86       3  883603013
10          62       257       2  879372434
11         286      1014       5  879781125
12         200       222       5  876042340
13         210        40       3  891035994
14         224        29       3  888104457
15         303       785       3  879485318
16         122       387       5  879270459
17         194       274       2  879539794
18         291      1042       4  874834944
19         234      1184       2  892079237
20         119       392       4  886176814
21         167       486       4  892738452
22         299       144       4  877881320
23         291       118       2  874833878
24         308         1       4  887736532
25          95       546       2  879196566
26          38        95       5  892430094
27         102       768       2  883748450
28          63       277       4  875747401
29         160       234       5  876861185
...        ...       ...     ...        ...
99970      449       120       1  879959573
99971      661       762       2  876037121
99972      721       874       3  877137447
99973      821       151       4  874792889
99974      764       596       3  876243046
99975      537       443       3  886031752
99976      618       628       2  891308019
99977      487       291       3  883445079
99978      113       975       5  875936424
99979      943       391       2  888640291
99980      864       685       4  888891900
99981      750       323       3  879445877
99982      279        64       1  875308510
99983      646       750       3  888528902
99984      654       370       2  887863914
99985      617       582       4  883789294
99986      913       690       3  880824288
99987      660       229       2  891406212
99988      421       498       4  892241344
99989      495      1091       4  888637503
99990      806       421       4  882388897
99991      676       538       4  892685437
99992      721       262       3  877137285
99993      913       209       2  881367150
99994      378        78       3  880056976
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [4]:
data_col = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('~/Downloads/ml-100k/u.data', sep='\t', names=data_col)
ratings['date'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [5]:
ratings

       user_id  movie_id  rating  timestamp                date
0          196       242       3  881250949 1997-12-04 15:55:49
1          186       302       3  891717742 1998-04-04 19:22:22
2           22       377       1  878887116 1997-11-07 07:18:36
3          244        51       2  880606923 1997-11-27 05:02:03
4          166       346       1  886397596 1998-02-02 05:33:16
5          298       474       4  884182806 1998-01-07 14:20:06
6          115       265       2  881171488 1997-12-03 17:51:28
7          253       465       5  891628467 1998-04-03 18:34:27
8          305       451       3  886324817 1998-02-01 09:20:17
9            6        86       3  883603013 1997-12-31 21:16:53
10          62       257       2  879372434 1997-11-12 22:07:14
11         286      1014       5  879781125 1997-11-17 15:38:45
12         200       222       5  876042340 1997-10-05 09:05:40
13         210        40       3  891035994 1998-03-27 21:59:54
14         224        29       3  888104457 1998-02-21 23:40:57
15         303       785       3  879485318 1997-11-14 05:28:38
16         122       387       5  879270459 1997-11-11 17:47:39
17         194       274       2  879539794 1997-11-14 20:36:34
18         291      1042       4  874834944 1997-09-21 09:42:24
19         234      1184       2  892079237 1998-04-08 23:47:17
20         119       392       4  886176814 1998-01-30 16:13:34
21         167       486       4  892738452 1998-04-16 14:54:12
22         299       144       4  877881320 1997-10-26 15:55:20
23         291       118       2  874833878 1997-09-21 09:24:38
24         308         1       4  887736532 1998-02-17 17:28:52
25          95       546       2  879196566 1997-11-10 21:16:06
26          38        95       5  892430094 1998-04-13 01:14:54
27         102       768       2  883748450 1998-01-02 13:40:50
28          63       277       4  875747401 1997-10-01 23:10:01
29         160       234       5  876861185 1997-10-14 20:33:05
...        ...       ...     ...        ...                 ...
99970      449       120       1  879959573 1997-11-19 17:12:53
99971      661       762       2  876037121 1997-10-05 07:38:41
99972      721       874       3  877137447 1997-10-18 01:17:27
99973      821       151       4  874792889 1997-09-20 22:01:29
99974      764       596       3  876243046 1997-10-07 16:50:46
99975      537       443       3  886031752 1998-01-28 23:55:52
99976      618       628       2  891308019 1998-03-31 01:33:39
99977      487       291       3  883445079 1997-12-30 01:24:39
99978      113       975       5  875936424 1997-10-04 03:40:24
99979      943       391       2  888640291 1998-02-28 04:31:31
99980      864       685       4  888891900 1998-03-03 02:25:00
99981      750       323       3  879445877 1997-11-13 18:31:17
99982      279        64       1  875308510 1997-09-26 21:15:10
99983      646       750       3  888528902 1998-02-26 21:35:02
99984      654       370       2  887863914 1998-02-19 04:51:54
99985      617       582       4  883789294 1998-01-03 01:01:34
99986      913       690       3  880824288 1997-11-29 17:24:48
99987      660       229       2  891406212 1998-04-01 04:50:12
99988      421       498       4  892241344 1998-04-10 20:49:04
99989      495      1091       4  888637503 1998-02-28 03:45:03
99990      806       421       4  882388897 1997-12-17 20:01:37
99991      676       538       4  892685437 1998-04-16 00:10:37
99992      721       262       3  877137285 1997-10-18 01:14:45
99993      913       209       2  881367150 1997-12-06 00:12:30
99994      378        78       3  880056976 1997-11-20 20:16:16
99995      880       476       3  880175444 1997-11-22 05:10:44
99996      716       204       5  879795543 1997-11-17 19:39:03
99997      276      1090       1  874795795 1997-09-20 22:49:55
99998       13       225       2  882399156 1997-12-17 22:52:36
99999       12       203       3  879959583 1997-11-19 17:13:03

[100000 rows x 5 columns]

pd.to_datetime: 시간 표시 형식 변경.

In [6]:
user_col = ['user_id', 'age', 'gender', 'occupation', 'zip code']
users = pd.read_csv('~/Downloads/ml-100k/u.user', sep='|', names=user_col)
users

     user_id  age gender     occupation zip code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
5          6   42      M      executive    98101
6          7   57      M  administrator    91344
7          8   36      M  administrator    05201
8          9   29      M        student    01002
9         10   53      M         lawyer    90703
10        11   39      F          other    30329
11        12   28      F          other    06405
12        13   47      M       educator    29206
13        14   45      M      scientist    55106
14        15   49      F       educator    97301
15        16   21      M  entertainment    10309
16        17   30      M     programmer    06355
17        18   35      F          other    37212
18        19   40      M      librarian    02138
19        20   42      F      homemaker    95660
20        21   26      M         writer    30068
21        22   25      M         writer    40206
22        23   30      F         artist    48197
23        24   21      F         artist    94533
24        25   39      M       engineer    55107
25        26   49      M       engineer    21044
26        27   40      F      librarian    30030
27        28   32      M         writer    55369
28        29   41      M     programmer    94043
29        30    7      M        student    55436
..       ...  ...    ...            ...      ...
913      914   44      F          other    08105
914      915   50      M  entertainment    60614
915      916   27      M       engineer    N2L5N
916      917   22      F        student    20006
917      918   40      M      scientist    70116
918      919   25      M          other    14216
919      920   30      F         artist    90008
920      921   20      F        student    98801
921      922   29      F  administrator    21114
922      923   21      M        student    E2E3R
923      924   29      M          other    11753
924      925   18      F       salesman    49036
925      926   49      M  entertainment    01701
926      927   23      M     programmer    55428
927      928   21      M        student    55408
928      929   44      M      scientist    53711
929      930   28      F      scientist    07310
930      931   60      M       educator    33556
931      932   58      M       educator    06437
932      933   28      M        student    48105
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [7]:
item_col = ["movie_id", "title", "release date", "video release date", "IMDb URL", "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
movies = pd.read_csv('~/Downloads/ml-100k/u.item', sep='|', encoding='latin-1', names=item_col, usecols=range(5))
movies

,movie_id,title,release date,video release date,IMDb URL
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995)
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995)
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il..."
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995)
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...
23,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...
24,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T..."
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Brothers%20Mc...
26,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...
27,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...
28,29,Batman Forever (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Batman%20Fore...
29,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...
...,...,...,...,...,...
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Entertaining%...
1653,1654,Chairman of the Board (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Chairman+of+the+Board...
1654,1655,"Favor, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Favor,%20The%..."
1655,1656,Little City (1998),20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Little+City+(...
1656,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995)
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...
1658,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,http://us.imdb.com/Title?Getting+Away+With+Mur...
1659,1660,Small Faces (1995),09-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Small%20Faces...
1660,1661,"New Age, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20..."
1661,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...
1662,1663,Nothing Personal (1995),30-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Nothing%20Per...
1663,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...
1664,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Brother%27s%2...
1665,1666,Ripe (1996),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Ripe%20%28199...
1666,1667,"Next Step, The (1995)",13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Next%20Step%2...
1667,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Wedding%20Bel...
1668,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...
1669,1670,Tainted (1998),01-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Tainted+(1998)
1670,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Further+Gestu...
1671,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993)
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995)
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20..."
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998)
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...

usecols: 표시할 column의 갯수를 제한할 수 있다.

In [8]:
movie_rating = pd.merge(movies, ratings)
movie_rating

,movie_id,title,release date,video release date,IMDb URL,user_id,rating,timestamp,date
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,308,4,887736532,1998-02-17 17:28:52
1,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,287,5,875334088,1997-09-27 04:21:28
2,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,148,4,877019411,1997-10-16 16:30:11
3,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,280,4,891700426,1998-04-04 14:33:46
4,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,66,3,883601324,1997-12-31 20:48:44
5,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,5,4,875635748,1997-09-30 16:09:08
6,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,109,4,880563619,1997-11-26 17:00:19
7,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,181,3,878962392,1997-11-08 04:13:12
8,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,95,5,879197329,1997-11-10 21:28:49
9,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,268,3,875742341,1997-10-01 21:45:41
10,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,189,5,893264174,1998-04-22 16:56:14
11,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,145,3,882181396,1997-12-15 10:23:16
12,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,158,4,880132443,1997-11-21 17:14:03
13,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,67,3,875379445,1997-09-27 16:57:25
14,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,232,4,880062302,1997-11-20 21:45:02
15,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,150,4,878746441,1997-11-05 16:14:01
16,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,289,3,876789736,1997-10-14 00:42:16
17,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,117,4,880126083,1997-11-21 15:28:03
18,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,49,2,888068651,1998-02-21 13:44:11
19,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,223,4,891549324,1998-04-02 20:35:24
20,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,56,4,892683248,1998-04-15 23:34:08
21,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,17,4,885272579,1998-01-20 05:02:59
22,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,340,5,884990988,1998-01-16 22:49:48
23,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,177,3,880130699,1997-11-21 16:44:59
24,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,194,4,879539127,1997-11-14 20:25:27
25,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,250,4,883263374,1997-12-27 22:56:14
26,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,213,2,878870719,1997-11-07 02:45:19
27,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,350,4,882345734,1997-12-17 08:02:14
28,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,348,4,886523078,1998-02-03 16:24:38
29,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,131,4,883681384,1998-01-01 19:03:04
...,...,...,...,...,...,...,...,...,...
99970,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...,894,4,882404137,1997-12-18 00:15:37
99971,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,http://us.imdb.com/Title?Getting+Away+With+Mur...,747,1,888733313,1998-03-01 06:21:53
99972,1660,Small Faces (1995),09-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Small%20Faces...,747,2,888640731,1998-02-28 04:38:51
99973,1661,"New Age, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20...",751,1,889299429,1998-03-07 19:37:09
99974,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...,762,1,878719324,1997-11-05 08:42:04
99975,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...,782,4,891500110,1998-04-02 06:55:10
99976,1663,Nothing Personal (1995),30-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Nothing%20Per...,782,2,891499700,1998-04-02 06:48:20
99977,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...,839,1,875752902,1997-10-02 00:41:42
99978,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...,880,4,892958799,1998-04-19 04:06:39
99979,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...,782,4,891499699,1998-04-02 06:48:19
99980,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...,870,4,890057322,1998-03-16 14:08:42
99981,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Brother%27s%2...,782,2,891500194,1998-04-02 06:56:34
99982,1666,Ripe (1996),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Ripe%20%28199...,782,2,891500194,1998-04-02 06:56:34
99983,1667,"Next Step, The (1995)",13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Next%20Step%2...,782,3,891500110,1998-04-02 06:55:10
99984,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Wedding%20Bel...,782,3,891500067,1998-04-02 06:54:27
99985,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...,782,2,891500150,1998-04-02 06:55:50
99986,1670,Tainted (1998),01-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Tainted+(1998),782,3,891497793,1998-04-02 06:16:33
99987,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Further+Gestu...,787,1,888980193,1998-03-04 02:56:33
99988,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993),896,2,887159554,1998-02-11 01:12:34
99989,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993),828,2,891037722,1998-03-27 22:28:42
99990,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995),835,3,891034023,1998-03-27 21:27:03
99991,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...,840,4,891211682,1998-03-29 22:48:02
99992,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20...",851,3,884222085,1998-01-08 01:14:45
99993,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...,851,2,875731674,1997-10-01 18:47:54
99994,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...,854,3,882814368,1997-12-22 18:12:48
99995,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,863,1,889289570,1998-03-07 16:52:50
99996,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,863,3,889289491,1998-03-07 16:51:31
99997,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),863,2,889289570,1998-03-07 16:52:50
99998,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,896,3,887160722,1998-02-11 01:32:02
99999,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,916,3,880845755,1997-11-29 23:22:35

movie_id를 기준으로 movies와 ratings 두 데이터프레임을 합쳤다.

In [9]:
lens = pd.merge(movie_rating, users)
lens

,movie_id,title,release date,video release date,IMDb URL,user_id,rating,timestamp,date,age,gender,occupation,zip code
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,308,4,887736532,1998-02-17 17:28:52,60,M,retired,95076
1,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,308,5,887737890,1998-02-17 17:51:30,60,M,retired,95076
2,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),308,4,887739608,1998-02-17 18:20:08,60,M,retired,95076
3,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,308,4,887738847,1998-02-17 18:07:27,60,M,retired,95076
4,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),308,5,887736696,1998-02-17 17:31:36,60,M,retired,95076
5,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,308,4,887737194,1998-02-17 17:39:54,60,M,retired,95076
6,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995),308,5,887737837,1998-02-17 17:50:37,60,M,retired,95076
7,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,308,5,887737243,1998-02-17 17:40:43,60,M,retired,95076
8,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,308,3,887739426,1998-02-17 18:17:06,60,M,retired,95076
9,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,308,4,887739056,1998-02-17 18:10:56,60,M,retired,95076
10,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995),308,3,887737383,1998-02-17 17:43:03,60,M,retired,95076
11,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,308,3,887740729,1998-02-17 18:38:49,60,M,retired,95076
12,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,308,4,887737647,1998-02-17 17:47:27,60,M,retired,95076
13,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,308,5,887737293,1998-02-17 17:41:33,60,M,retired,95076
14,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...,308,4,887738057,1998-02-17 17:54:17,60,M,retired,95076
15,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",308,4,887740649,1998-02-17 18:37:29,60,M,retired,95076
16,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,308,3,887737036,1998-02-17 17:37:16,60,M,retired,95076
17,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...,308,4,887738933,1998-02-17 18:08:53,60,M,retired,95076
18,31,Crimson Tide (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Crimson%20Tid...,308,3,887739472,1998-02-17 18:17:52,60,M,retired,95076
19,32,Crumb (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Crumb%20(1994),308,5,887737432,1998-02-17 17:43:52,60,M,retired,95076
20,42,Clerks (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Clerks%20(1994),308,4,887738191,1998-02-17 17:56:31,60,M,retired,95076
21,44,Dolores Claiborne (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Dolores%20Cla...,308,4,887740451,1998-02-17 18:34:11,60,M,retired,95076
22,45,Eat Drink Man Woman (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Yinshi%20Nan%...,308,4,887736843,1998-02-17 17:34:03,60,M,retired,95076
23,47,Ed Wood (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Ed%20Wood%20(...,308,4,887738933,1998-02-17 18:08:53,60,M,retired,95076
24,48,Hoop Dreams (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Hoop%20Dreams...,308,4,887736880,1998-02-17 17:34:40,60,M,retired,95076
25,49,I.Q. (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?I.Q.%20(1994),308,3,887740833,1998-02-17 18:40:33,60,M,retired,95076
26,50,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,308,5,887737431,1998-02-17 17:43:51,60,M,retired,95076
27,54,Outbreak (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Outbreak%20(1...,308,2,887740254,1998-02-17 18:30:54,60,M,retired,95076
28,55,"Professional, The (1994)",01-Jan-1994,NaN,http://us.imdb.com/Title?L%E9on+(1994),308,3,887738760,1998-02-17 18:06:00,60,M,retired,95076
29,56,Pulp Fiction (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,308,5,887736924,1998-02-17 17:35:24,60,M,retired,95076
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,332,Kiss the Girls (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kiss+the+Girl...,631,3,888465180,1998-02-26 03:53:00,18,F,student,38866
99971,334,U Turn (1997),01-Jan-1997,NaN,http://us.imdb.com/Title?U+Turn+(1997),631,2,888464941,1998-02-26 03:49:01,18,F,student,38866
99972,338,Bean (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Bean+(1997),631,2,888465299,1998-02-26 03:54:59,18,F,student,38866
99973,346,Jackie Brown (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,631,4,888465004,1998-02-26 03:50:04,18,F,student,38866
99974,682,I Know What You Did Last Summer (1997),17-Oct-1997,NaN,http://us.imdb.com/M/title-exact?I+Know+What+Y...,631,2,888465247,1998-02-26 03:54:07,18,F,student,38866
99975,873,Picture Perfect (1997),01-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Picture+Perfe...,631,2,888465084,1998-02-26 03:51:24,18,F,student,38866
99976,877,Excess Baggage (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Excess+Baggag...,631,2,888465131,1998-02-26 03:52:11,18,F,student,38866
99977,886,"Life Less Ordinary, A (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Life+Less+Ord...,631,4,888465216,1998-02-26 03:53:36,18,F,student,38866
99978,1527,Senseless (1998),09-Jan-1998,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,631,2,888465351,1998-02-26 03:55:51,18,F,student,38866
99979,272,Good Will Hunting (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99980,288,Scream (1996),20-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Scream%20(1996),729,2,893286261,1998-04-22 23:04:21,19,M,student,56567
99981,294,Liar Liar (1997),21-Mar-1997,NaN,http://us.imdb.com/Title?Liar+Liar+(1997),729,2,893286338,1998-04-22 23:05:38,19,M,student,56567
99982,300,Air Force One (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Air+Force+One...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99983,310,"Rainmaker, The (1997)",01-Jan-1997,NaN,"http://us.imdb.com/M/title-exact?Rainmaker,+Th...",729,3,893286204,1998-04-22 23:03:24,19,M,student,56567
99984,313,Titanic (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,729,3,893286638,1998-04-22 23:10:38,19,M,student,56567
99985,322,Murder at 1600 (1997),18-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Murder%20at%2...,729,4,893286637,1998-04-22 23:10:37,19,M,student,56567
99986,328,Conspiracy Theory (1997),08-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Conspiracy+Th...,729,3,893286638,1998-04-22 23:10:38,19,M,student,56567
99987,333,"Game, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Game%2C+The+(...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99988,338,Bean (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Bean+(1997),729,1,893286373,1998-04-22 23:06:13,19,M,student,56567
99989,346,Jackie Brown (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286168,1998-04-22 23:02:48,19,M,student,56567
99990,354,"Wedding Singer, The (1998)",13-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Wedding+Singe...,729,5,893286637,1998-04-22 23:10:37,19,M,student,56567
99991,362,Blues Brothers 2000 (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Blues+Brother...,729,4,893286637,1998-04-22 23:10:37,19,M,student,56567
99992,683,Rocket Man (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Rocket+Man+(1...,729,2,893286511,1998-04-22 23:08:31,19,M,student,56567
99993,689,"Jackal, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Jackal%2C+The...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99994,690,Seven Years in Tibet (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Seven+Years+i...,729,2,893286149,1998-04-22 23:02:29,19,M,student,56567
99995,748,"Saint, The (1997)",14-Mar-1997,NaN,http://us.imdb.com/M/title-exact?Saint%2C%20Th...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99996,751,Tomorrow Never Dies (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,729,3,893286338,1998-04-22 23:05:38,19,M,student,56567
99997,879,"Peacemaker, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Peacemaker%2C...,729,3,893286299,1998-04-22 23:04:59,19,M,student,56567
99998,894,Home Alone 3 (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286511,1998-04-22 23:08:31,19,M,student,56567
99999,901,Mr. Magoo (1997),25-Dec-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286491,1998-04-22 23:08:11,19,M,student,56567

user_id를 기준으로 movie_rating과 users 두 데이터프레임을 합쳤다.

In [10]:
lens.title.value_counts()[:100]

Star Wars (1977)                                583
Contact (1997)                                  509
Fargo (1996)                                    508
Return of the Jedi (1983)                       507
Liar Liar (1997)                                485
English Patient, The (1996)                     481
Scream (1996)                                   478
Toy Story (1995)                                452
Air Force One (1997)                            431
Independence Day (ID4) (1996)                   429
Raiders of the Lost Ark (1981)                  420
Godfather, The (1972)                           413
Pulp Fiction (1994)                             394
Twelve Monkeys (1995)                           392
Silence of the Lambs, The (1991)                390
Jerry Maguire (1996)                            384
Chasing Amy (1997)                              379
Rock, The (1996)                                378
Empire Strikes Back, The (1980)                 367
Star Trek: First Contact (1996)                 365
Back to the Future (1985)                       350
Titanic (1997)                                  350
Mission: Impossible (1996)                      344
Fugitive, The (1993)                            336
Indiana Jones and the Last Crusade (1989)       331
Willy Wonka and the Chocolate Factory (1971)    326
Princess Bride, The (1987)                      324
Forrest Gump (1994)                             321
Saint, The (1997)                               316
Monty Python and the Holy Grail (1974)          316
                                               ...
Wizard of Oz, The (1939)                        246
Star Trek: The Wrath of Khan (1982)             244
Phenomenon (1996)                               244
Casablanca (1942)                               243
Die Hard (1988)                                 243
Sting, The (1973)                               241
Devil's Own, The (1997)                         240
Dante's Peak (1997)                             240
Psycho (1960)                                   239
Graduate, The (1967)                            239
Seven (Se7en) (1995)                            236
Time to Kill, A (1996)                          232
It's a Wonderful Life (1946)                    231
Speed (1994)                                    230
In & Out (1997)                                 230
Hunt for Red October, The (1990)                227
Stand by Me (1986)                              227
GoodFellas (1990)                               226
Heat (1995)                                     223
Sound of Music, The (1965)                      222
Courage Under Fire (1996)                       221
Clockwork Orange, A (1971)                      221
Apocalypse Now (1979)                           221
Top Gun (1986)                                  220
Lion King, The (1994)                           220
Volcano (1997)                                  219
Aladdin (1992)                                  219
To Kill a Mockingbird (1962)                    219
Babe (1995)                                     219
Murder at 1600 (1997)                           218
Name: title, Length: 100, dtype: int64

In [11]:
lens.title.value_counts().nlargest(100)

Star Wars (1977)                                583
Contact (1997)                                  509
Fargo (1996)                                    508
Return of the Jedi (1983)                       507
Liar Liar (1997)                                485
English Patient, The (1996)                     481
Scream (1996)                                   478
Toy Story (1995)                                452
Air Force One (1997)                            431
Independence Day (ID4) (1996)                   429
Raiders of the Lost Ark (1981)                  420
Godfather, The (1972)                           413
Pulp Fiction (1994)                             394
Twelve Monkeys (1995)                           392
Silence of the Lambs, The (1991)                390
Jerry Maguire (1996)                            384
Chasing Amy (1997)                              379
Rock, The (1996)                                378
Empire Strikes Back, The (1980)                 367
Star Trek: First Contact (1996)                 365
Back to the Future (1985)                       350
Titanic (1997)                                  350
Mission: Impossible (1996)                      344
Fugitive, The (1993)                            336
Indiana Jones and the Last Crusade (1989)       331
Willy Wonka and the Chocolate Factory (1971)    326
Princess Bride, The (1987)                      324
Forrest Gump (1994)                             321
Saint, The (1997)                               316
Monty Python and the Holy Grail (1974)          316
                                               ...
Wizard of Oz, The (1939)                        246
Star Trek: The Wrath of Khan (1982)             244
Phenomenon (1996)                               244
Casablanca (1942)                               243
Die Hard (1988)                                 243
Sting, The (1973)                               241
Devil's Own, The (1997)                         240
Dante's Peak (1997)                             240
Psycho (1960)                                   239
Graduate, The (1967)                            239
Seven (Se7en) (1995)                            236
Time to Kill, A (1996)                          232
It's a Wonderful Life (1946)                    231
Speed (1994)                                    230
In & Out (1997)                                 230
Hunt for Red October, The (1990)                227
Stand by Me (1986)                              227
GoodFellas (1990)                               226
Heat (1995)                                     223
Sound of Music, The (1965)                      222
Courage Under Fire (1996)                       221
Clockwork Orange, A (1971)                      221
Apocalypse Now (1979)                           221
Top Gun (1986)                                  220
Lion King, The (1994)                           220
Volcano (1997)                                  219
Aladdin (1992)                                  219
To Kill a Mockingbird (1962)                    219
Babe (1995)                                     219
Murder at 1600 (1997)                           218
Name: title, Length: 100, dtype: int64

rating 수가 많은 순으로 100개의 결과를 가져왔다.

In [12]:
lens.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 13 columns):
movie_id              100000 non-null int64
title                 100000 non-null object
release date          99991 non-null object
video release date    0 non-null float64
IMDb URL              99987 non-null object
user_id               100000 non-null int64
rating                100000 non-null int64
timestamp             100000 non-null int64
date                  100000 non-null datetime64[ns]
age                   100000 non-null int64
gender                100000 non-null object
occupation            100000 non-null object
zip code              100000 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(6)
memory usage: 10.7+ MB

In [13]:
lens.groupby('title').rating.mean().nlargest(100)

title
Aiqing wansui (1994)                                          5.000000
Entertaining Angels: The Dorothy Day Story (1996)             5.000000
Great Day in Harlem, A (1994)                                 5.000000
Marlene Dietrich: Shadow and Light (1996)                     5.000000
Prefontaine (1997)                                            5.000000
Saint of Fort Washington, The (1993)                          5.000000
Santa with Muscles (1996)                                     5.000000
Someone Else's America (1995)                                 5.000000
Star Kid (1997)                                               5.000000
They Made Me a Criminal (1939)                                5.000000
Pather Panchali (1955)                                        4.625000
Anna (1996)                                                   4.500000
Everest (1998)                                                4.500000
Maya Lin: A Strong Clear Vision (1994)                        4.500000
Some Mother's Son (1996)                                      4.500000
Close Shave, A (1995)                                         4.491071
Schindler's List (1993)                                       4.466443
Wrong Trousers, The (1993)                                    4.466102
Casablanca (1942)                                             4.456790
Wallace & Gromit: The Best of Aardman Animation (1996)        4.447761
Shawshank Redemption, The (1994)                              4.445230
Rear Window (1954)                                            4.387560
Usual Suspects, The (1995)                                    4.385768
Star Wars (1977)                                              4.358491
12 Angry Men (1957)                                           4.344000
Bitter Sugar (Azucar Amargo) (1996)                           4.333333
Letter From Death Row, A (1998)                               4.333333
Third Man, The (1949)                                         4.333333
Citizen Kane (1941)                                           4.292929
Some Folks Call It a Sling Blade (1993)                       4.292683
                                                                ...
Chinatown (1974)                                              4.136054
Killing Fields, The (1984)                                    4.132231
Waiting for Guffman (1996)                                    4.127660
A Chef in Love (1996)                                         4.125000
Mr. Smith Goes to Washington (1939)                           4.123810
It's a Wonderful Life (1946)                                  4.121212
Taxi Driver (1976)                                            4.120879
Manon of the Spring (Manon des sources) (1986)                4.120690
Raging Bull (1980)                                            4.120690
Notorious (1946)                                              4.115385
Philadelphia Story, The (1940)                                4.115385
Horseman on the Roof, The (Hussard sur le toit, Le) (1995)    4.111111
Jean de Florette (1986)                                       4.109375
Grand Day Out, A (1992)                                       4.106061
Great Escape, The (1963)                                      4.104839
Graduate, The (1967)                                          4.104603
Roman Holiday (1953)                                          4.102941
High Noon (1952)                                              4.102273
Psycho (1960)                                                 4.100418
Apt Pupil (1998)                                              4.100000
Fresh (1994)                                                  4.100000
Laura (1944)                                                  4.100000
Ran (1985)                                                    4.100000
Treasure of the Sierra Madre, The (1948)                      4.100000
Hoop Dreams (1994)                                            4.094017
Arsenic and Old Lace (1944)                                   4.078261
Wizard of Oz, The (1939)                                      4.077236
Glory (1989)                                                  4.076023
Monty Python and the Holy Grail (1974)                        4.066456
Once Were Warriors (1994)                                     4.064516
Name: rating, Length: 100, dtype: float64

lens dataframe에서 평점이 높은 순으로 100개의 title을 가져왔다.

In [14]:
lens.groupby('title').rating.min().nlargest(100)

title
Aiqing wansui (1994)                                          5
Entertaining Angels: The Dorothy Day Story (1996)             5
Great Day in Harlem, A (1994)                                 5
Marlene Dietrich: Shadow and Light (1996)                     5
Prefontaine (1997)                                            5
Saint of Fort Washington, The (1993)                          5
Santa with Muscles (1996)                                     5
Someone Else's America (1995)                                 5
Star Kid (1997)                                               5
They Made Me a Criminal (1939)                                5
Anna (1996)                                                   4
Big Bang Theory, The (1994)                                   4
Bitter Sugar (Azucar Amargo) (1996)                           4
Brothers in Trouble (1995)                                    4
Butcher Boy, The (1998)                                       4
Celestial Clockwork (1994)                                    4
Crossfire (1947)                                              4
Cérémonie, La (1995)                                          4
Damsel in Distress, A (1937)                                  4
Death in Brunswick (1991)                                     4
Desert Winds (1995)                                           4
Everest (1998)                                                4
Farmer & Chase (1995)                                         4
Gate of Heavenly Peace, The (1995)                            4
He Walked by Night (1948)                                     4
I Don't Want to Talk About It (De eso no se habla) (1993)     4
Innocents, The (1961)                                         4
Jupiter's Wife (1994)                                         4
Killer: A Journal of Murder (1995)                            4
Lady of Burlesque (1943)                                      4
                                                             ..
His Girl Friday (1940)                                        3
Horseman on the Roof, The (Hussard sur le toit, Le) (1995)    3
Hour of the Pig, The (1993)                                   3
Inkwell, The (1994)                                           3
Intimate Relations (1996)                                     3
Johns (1996)                                                  3
Joy Luck Club, The (1993)                                     3
Kaspar Hauser (1993)                                          3
King of the Hill (1993)                                       3
Land and Freedom (Tierra y libertad) (1995)                   3
Last Time I Saw Paris, The (1954)                             3
Letter From Death Row, A (1998)                               3
Love Is All There Is (1996)                                   3
Mad Dog Time (1996)                                           3
Manon of the Spring (Manon des sources) (1986)                3
Margaret's Museum (1995)                                      3
Mark of Zorro, The (1940)                                     3
Maya Lin: A Strong Clear Vision (1994)                        3
Men With Guns (1997)                                          3
Mirage (1995)                                                 3
Mr. Wonderful (1993)                                          3
My Favorite Season (1993)                                     3
Nelly & Monsieur Arnaud (1995)                                3
Next Step, The (1995)                                         3
Nico Icon (1995)                                              3
Night Flier (1997)                                            3
Normal Life (1996)                                            3
Other Voices, Other Rooms (1997)                              3
Paris Was a Woman (1995)                                      3
Price Above Rubies, A (1998)                                  3
Name: rating, Length: 100, dtype: int64

lens dataframe에서 평점 수가 적은 순으로 100개의 title을 가져왔다.

In [15]:
lens.groupby('user_id').count()

,movie_id,title,release date,video release date,IMDb URL,rating,timestamp,date,age,gender,occupation,zip code
user_id,,,,,,,,,,,,
1,272,272,271,0,271,272,272,272,272,272,272,272
2,62,62,62,0,62,62,62,62,62,62,62,62
3,54,54,54,0,54,54,54,54,54,54,54,54
4,24,24,24,0,24,24,24,24,24,24,24,24
5,175,175,174,0,174,175,175,175,175,175,175,175
6,211,211,211,0,211,211,211,211,211,211,211,211
7,403,403,403,0,403,403,403,403,403,403,403,403
8,59,59,59,0,59,59,59,59,59,59,59,59
9,22,22,22,0,22,22,22,22,22,22,22,22
10,184,184,184,0,184,184,184,184,184,184,184,184
11,181,181,181,0,181,181,181,181,181,181,181,181
12,51,51,51,0,51,51,51,51,51,51,51,51
13,636,636,636,0,636,636,636,636,636,636,636,636
14,98,98,98,0,98,98,98,98,98,98,98,98
15,104,104,104,0,104,104,104,104,104,104,104,104
16,140,140,140,0,140,140,140,140,140,140,140,140
17,28,28,28,0,28,28,28,28,28,28,28,28
18,277,277,277,0,277,277,277,277,277,277,277,277
19,20,20,20,0,20,20,20,20,20,20,20,20
20,48,48,48,0,48,48,48,48,48,48,48,48
21,179,179,179,0,179,179,179,179,179,179,179,179
22,128,128,128,0,128,128,128,128,128,128,128,128
23,151,151,151,0,151,151,151,151,151,151,151,151
24,68,68,68,0,68,68,68,68,68,68,68,68
25,78,78,78,0,78,78,78,78,78,78,78,78
26,107,107,107,0,107,107,107,107,107,107,107,107
27,25,25,25,0,25,25,25,25,25,25,25,25
28,79,79,79,0,79,79,79,79,79,79,79,79
29,34,34,34,0,34,34,34,34,34,34,34,34
30,43,43,43,0,43,43,43,43,43,43,43,43
...,...,...,...,...,...,...,...,...,...,...,...,...
914,23,23,23,0,23,23,23,23,23,23,23,23
915,26,26,26,0,26,26,26,26,26,26,26,26
916,317,317,317,0,317,317,317,317,317,317,317,317
917,35,35,35,0,35,35,35,35,35,35,35,35
918,103,103,103,0,103,103,103,103,103,103,103,103
919,217,217,217,0,217,217,217,217,217,217,217,217
920,26,26,26,0,26,26,26,26,26,26,26,26
921,110,110,110,0,110,110,110,110,110,110,110,110
922,127,127,127,0,127,127,127,127,127,127,127,127
923,74,74,74,0,74,74,74,74,74,74,74,74
924,82,82,82,0,82,82,82,82,82,82,82,82
925,32,32,32,0,32,32,32,32,32,32,32,32
926,20,20,20,0,20,20,20,20,20,20,20,20
927,120,120,120,0,120,120,120,120,120,120,120,120
928,32,32,32,0,32,32,32,32,32,32,32,32
929,49,49,49,0,49,49,49,49,49,49,49,49
930,63,63,63,0,63,63,63,63,63,63,63,63
931,61,61,61,0,61,61,61,61,61,61,61,61
932,241,241,241,0,241,241,241,241,241,241,241,241
933,184,184,184,0,184,184,184,184,184,184,184,184
934,174,174,174,0,174,174,174,174,174,174,174,174
935,39,39,39,0,39,39,39,39,39,39,39,39
936,142,142,142,0,142,142,142,142,142,142,142,142
937,40,40,40,0,40,40,40,40,40,40,40,40
938,108,108,108,0,108,108,108,108,108,108,108,108
939,49,49,49,0,49,49,49,49,49,49,49,49
940,107,107,107,0,107,107,107,107,107,107,107,107
941,22,22,22,0,22,22,22,22,22,22,22,22
942,79,79,79,0,79,79,79,79,79,79,79,79
943,168,168,168,0,168,168,168,168,168,168,168,168

각 user가 남긴 평점 수를 가져왔다.

In [16]:
import numpy as np

movie_stats = lens.groupby('title').agg({'rating': [np.size, np.mean]})

atleast_100 = movie_stats['rating']['size'] >= 100
movie_stats[atleast_100].sort_values(by=[('rating', 'mean')], ascending=False)

                                                   rating
                                                     size      mean
title
Close Shave, A (1995)                                 112  4.491071
Schindler's List (1993)                               298  4.466443
Wrong Trousers, The (1993)                            118  4.466102
Casablanca (1942)                                     243  4.456790
Shawshank Redemption, The (1994)                      283  4.445230
Rear Window (1954)                                    209  4.387560
Usual Suspects, The (1995)                            267  4.385768
Star Wars (1977)                                      583  4.358491
12 Angry Men (1957)                                   125  4.344000
Citizen Kane (1941)                                   198  4.292929
To Kill a Mockingbird (1962)                          219  4.292237
One Flew Over the Cuckoo's Nest (1975)                264  4.291667
Silence of the Lambs, The (1991)                      390  4.289744
North by Northwest (1959)                             179  4.284916
Godfather, The (1972)                                 413  4.283293
Secrets & Lies (1996)                                 162  4.265432
Good Will Hunting (1997)                              198  4.262626
Manchurian Candidate, The (1962)                      131  4.259542
Dr. Strangelove or: How I Learned to Stop Worry...    194  4.252577
Raiders of the Lost Ark (1981)                        420  4.252381
Vertigo (1958)                                        179  4.251397
Titanic (1997)                                        350  4.245714
Lawrence of Arabia (1962)                             173  4.231214
Maltese Falcon, The (1941)                            138  4.210145
Empire Strikes Back, The (1980)                       367  4.204360
Boot, Das (1981)                                      201  4.203980
Sling Blade (1996)                                    136  4.198529
As Good As It Gets (1997)                             112  4.196429
Godfather: Part II, The (1974)                        209  4.186603
African Queen, The (1951)                             152  4.184211
...                                                   ...       ...
Ace Ventura: Pet Detective (1994)                     103  3.048544
Conan the Barbarian (1981)                            107  3.046729
Grumpier Old Men (1995)                               148  3.040541
Star Trek: The Motion Picture (1979)                  117  3.034188
Broken Arrow (1996)                                   254  3.031496
First Wives Club, The (1996)                          160  3.018750
Net, The (1995)                                       120  3.008333
Evita (1996)                                          259  2.980695
Natural Born Killers (1994)                           128  2.953125
Lost World: Jurassic Park, The (1997)                 158  2.943038
Dante's Peak (1997)                                   240  2.933333
Nutty Professor, The (1996)                           163  2.914110
101 Dalmatians (1996)                                 109  2.908257
Father of the Bride Part II (1995)                    128  2.898438
Mars Attacks! (1996)                                  217  2.847926
Multiplicity (1996)                                   134  2.835821
Alien 3 (1992)                                        100  2.830000
Volcano (1997)                                        219  2.808219
Waterworld (1995)                                     102  2.803922
Beavis and Butt-head Do America (1996)                156  2.788462
Mimic (1997)                                          101  2.742574
Down Periscope (1996)                                 101  2.702970
George of the Jungle (1997)                           162  2.685185
Batman Returns (1992)                                 142  2.683099
Batman Forever (1995)                                 114  2.666667
Spawn (1997)                                          143  2.615385
Event Horizon (1997)                                  127  2.574803
Crash (1996)                                          128  2.546875
Jungle2Jungle (1997)                                  132  2.439394
Cable Guy, The (1996)                                 106  2.339623

[338 rows x 2 columns]

lens dataframe에서 rating 갯수가 100개 이상인 title을 가져오고 rating 평균이 높은 순으로 정렬하였다.

agg: 하나의 series 내에 2개 이상의 series를 출력하고자 할때 사용.