# Pandas-advance

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data-zillow.csv')

In [3]:
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

___

### 통계함수 적용

In [4]:
data.count()

Date          10830
RegionID      10830
RegionName    10830
State         10830
Metro         10256
County        10830
SizeRank      10830
Zhvi          10830
dtype: int64

In [5]:
data.skew()

RegionID    1.973159
SizeRank    0.000000
Zhvi        6.714811
dtype: float64

In [6]:
data.kurtosis()

RegionID     2.291461
SizeRank    -1.200000
Zhvi        82.042387
dtype: float64

In [7]:
data.cov()

              RegionID      SizeRank          Zhvi
RegionID  1.579538e+10  2.044245e+07 -1.037760e+09
SizeRank  2.044245e+07  9.774978e+06 -9.274275e+07
Zhvi     -1.037760e+09 -9.274275e+07  6.582212e+10

각종 통계함수를 적용하여 통계치를 별도로 구할 수 있다.

___

In [12]:
data.at[1, 'Metro'] = 'Los Angeles Long Beach Anaheim'
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

1번 index의 row의 Metro 내용을 수정하였다.

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [13]:
data.loc[7, 'Metro':'County']

Metro     Dallas-Fort Worth
County               Dallas
Name: 7, dtype: object

7번 index의 row의 Metro부터 County까지의 column 값을 가져왔다.

column명을 직접 넣는 방법으로도 slicing 가능.

In [15]:
data['lee'] = 3
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi,lee
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400,3
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900,3
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700,3
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300,3
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300,3
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500,3
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100,3
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700,3
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400,3
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300,3
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300,3
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600,3
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500,3
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300,3
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100,3
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800,3
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400,3
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600,3
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300,3
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100,3
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200,3
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900,3
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500,3
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900,3
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800,3
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900,3
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700,3
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100,3
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600,3
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700,3
...,...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500,3
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700,3
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600,3
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800,3
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000,3
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400,3
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000,3
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600,3
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300,3
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200,3
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700,3
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900,3
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600,3
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100,3
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900,3
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400,3
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800,3
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600,3
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600,3
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300,3
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700,3
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700,3
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700,3
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600,3
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200,3
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200,3
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900,3
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100,3
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800,3
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400,3

없는 column명과 값을 입력하면 입력된 값으로 일괄 적용된 새로운 column 생성.
- broadcasting: 입력한 값으로 전체 값이 설정된다.

In [16]:
del data['lee']
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

del 함수를 통해 column 삭제 가능.

In [17]:
data.iloc[7, [4, 7]]

Metro    Dallas-Fort Worth
Zhvi                164700
Name: 7, dtype: object

In [18]:
data.iloc[7, 4:7]

Metro       Dallas-Fort Worth
County                 Dallas
SizeRank                    7
Name: 7, dtype: object

In [19]:
data.loc[11, :]

Date          2017-05-31
RegionID           10221
RegionName        Austin
State                 TX
Metro             Austin
County            Travis
SizeRank              11
Zhvi              321600
Name: 11, dtype: object

In [20]:
data.iloc[201:205, 3:6]

    State                           Metro         County
201    OH                          Canton          Stark
202    LA                     New Orleans      Jefferson
203    CA       Santa Maria-Santa Barbara  Santa Barbara
204    CA  Los Angeles-Long Beach-Anaheim    Los Angeles

index를 이용한 slicing.

In [21]:
data.loc[data.Date == '2017-05-31']

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [22]:
data.loc[data.State == 'CA']

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
30,2017-05-31,20288,Sacramento,CA,Sacramento,Sacramento,30,299200
32,2017-05-31,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,32,552700
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
49,2017-05-31,16764,Anaheim,CA,Los Angeles-Long Beach-Anaheim,Orange,49,568800
50,2017-05-31,47568,Santa Ana,CA,Los Angeles-Long Beach-Anaheim,Orange,50,509800
55,2017-05-31,47401,Riverside,CA,Riverside,Riverside,55,349900
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
65,2017-05-31,7266,Stockton,CA,Stockton,San Joaquin,65,256100
70,2017-05-31,25934,Modesto,CA,Modesto,Stanislaus,70,260800
83,2017-05-31,20328,San Bernardino,CA,Riverside,San Bernardino,83,253300
84,2017-05-31,24225,Corona,CA,Riverside,Riverside,84,436800
85,2017-05-31,51405,Chula Vista,CA,San Diego,San Diego,85,486900
89,2017-05-31,24741,Fontana,CA,Riverside,San Bernardino,89,348200
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
134,2017-05-31,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,134,245800
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
144,2017-05-31,13108,Ontario,CA,Riverside,San Bernardino,144,387400
...,...,...,...,...,...,...,...,...
10288,2017-05-31,118339,Sugarloaf,CA,Riverside,San Bernardino,10288,158900
10308,2017-05-31,48103,Upper Lake,CA,Clearlake,Lake,10308,270200
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10364,2017-05-31,25385,Kernville,CA,Bakersfield,Kern,10364,183700
10367,2017-05-31,34197,Sutter Creek,CA,NaN,Amador,10367,278400
10406,2017-05-31,8113,Cazadero,CA,Santa Rosa,Sonoma,10406,466800
10419,2017-05-31,18156,Fort Jones,CA,NaN,Siskiyou,10419,212200
10421,2017-05-31,10479,Bodega Bay,CA,Santa Rosa,Sonoma,10421,810100
10435,2017-05-31,16803,Armona,CA,Hanford,Kings,10435,142400
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10470,2017-05-31,49133,Homewood,CA,Sacramento,Placer,10470,644200
10490,2017-05-31,23250,Friant,CA,Fresno,Fresno,10490,476600
10514,2017-05-31,6588,Posey,CA,Visalia,Tulare,10514,133000
10515,2017-05-31,8383,Berry Creek,CA,Chico,Butte,10515,199600
10517,2017-05-31,16066,Volcano,CA,NaN,Amador,10517,283700
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10553,2017-05-31,29343,Santa Ysabel,CA,San Diego,San Diego,10553,470400
10578,2017-05-31,44163,Big Pine,CA,NaN,Inyo,10578,219900
10580,2017-05-31,35629,Fawnskin,CA,Riverside,San Bernardino,10580,279700
10612,2017-05-31,30306,Avila Beach,CA,San Luis Obispo,San Luis Obispo,10612,831400
10640,2017-05-31,55340,Annapolis,CA,Santa Rosa,Sonoma,10640,720200
10645,2017-05-31,35001,Angelus Oaks,CA,Riverside,San Bernardino,10645,204600
10667,2017-05-31,56922,Los Alamos,CA,Santa Maria-Santa Barbara,Santa Barbara,10667,535000
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10761,2017-05-31,23931,Campo,CA,San Diego,San Diego,10761,283200
10775,2017-05-31,36187,Prather,CA,Fresno,Fresno,10775,360200
10776,2017-05-31,36324,Tahoma,CA,Sacramento,El Dorado,10776,509800
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600

In [23]:
data.loc[data['State'] == 'CA']

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
30,2017-05-31,20288,Sacramento,CA,Sacramento,Sacramento,30,299200
32,2017-05-31,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,32,552700
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
49,2017-05-31,16764,Anaheim,CA,Los Angeles-Long Beach-Anaheim,Orange,49,568800
50,2017-05-31,47568,Santa Ana,CA,Los Angeles-Long Beach-Anaheim,Orange,50,509800
55,2017-05-31,47401,Riverside,CA,Riverside,Riverside,55,349900
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
65,2017-05-31,7266,Stockton,CA,Stockton,San Joaquin,65,256100
70,2017-05-31,25934,Modesto,CA,Modesto,Stanislaus,70,260800
83,2017-05-31,20328,San Bernardino,CA,Riverside,San Bernardino,83,253300
84,2017-05-31,24225,Corona,CA,Riverside,Riverside,84,436800
85,2017-05-31,51405,Chula Vista,CA,San Diego,San Diego,85,486900
89,2017-05-31,24741,Fontana,CA,Riverside,San Bernardino,89,348200
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
134,2017-05-31,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,134,245800
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
144,2017-05-31,13108,Ontario,CA,Riverside,San Bernardino,144,387400
...,...,...,...,...,...,...,...,...
10288,2017-05-31,118339,Sugarloaf,CA,Riverside,San Bernardino,10288,158900
10308,2017-05-31,48103,Upper Lake,CA,Clearlake,Lake,10308,270200
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10364,2017-05-31,25385,Kernville,CA,Bakersfield,Kern,10364,183700
10367,2017-05-31,34197,Sutter Creek,CA,NaN,Amador,10367,278400
10406,2017-05-31,8113,Cazadero,CA,Santa Rosa,Sonoma,10406,466800
10419,2017-05-31,18156,Fort Jones,CA,NaN,Siskiyou,10419,212200
10421,2017-05-31,10479,Bodega Bay,CA,Santa Rosa,Sonoma,10421,810100
10435,2017-05-31,16803,Armona,CA,Hanford,Kings,10435,142400
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10470,2017-05-31,49133,Homewood,CA,Sacramento,Placer,10470,644200
10490,2017-05-31,23250,Friant,CA,Fresno,Fresno,10490,476600
10514,2017-05-31,6588,Posey,CA,Visalia,Tulare,10514,133000
10515,2017-05-31,8383,Berry Creek,CA,Chico,Butte,10515,199600
10517,2017-05-31,16066,Volcano,CA,NaN,Amador,10517,283700
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10553,2017-05-31,29343,Santa Ysabel,CA,San Diego,San Diego,10553,470400
10578,2017-05-31,44163,Big Pine,CA,NaN,Inyo,10578,219900
10580,2017-05-31,35629,Fawnskin,CA,Riverside,San Bernardino,10580,279700
10612,2017-05-31,30306,Avila Beach,CA,San Luis Obispo,San Luis Obispo,10612,831400
10640,2017-05-31,55340,Annapolis,CA,Santa Rosa,Sonoma,10640,720200
10645,2017-05-31,35001,Angelus Oaks,CA,Riverside,San Bernardino,10645,204600
10667,2017-05-31,56922,Los Alamos,CA,Santa Maria-Santa Barbara,Santa Barbara,10667,535000
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10761,2017-05-31,23931,Campo,CA,San Diego,San Diego,10761,283200
10775,2017-05-31,36187,Prather,CA,Fresno,Fresno,10775,360200
10776,2017-05-31,36324,Tahoma,CA,Sacramento,El Dorado,10776,509800
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600

조건을 입력하여 검색.

In [24]:
data.loc[data.Metro == 'New York', 'County']

0             Queens
63             Essex
72            Hudson
138      Westchester
176          Passaic
225            Union
291        Middlesex
338            Ocean
387            Ocean
402          Passaic
406         Dutchess
521      Westchester
541            Ocean
564          Passaic
582           Hudson
591            Essex
611      Westchester
631           Hudson
651           Nassau
716           Hudson
727      Westchester
732           Nassau
735         Monmouth
750            Essex
760          Passaic
779            Ocean
781            Union
787        Middlesex
800           Orange
806        Middlesex
            ...
9591       Hunterdon
9614         Suffolk
9714         Suffolk
9732           Ocean
9777           Ocean
9791           Ocean
9805        Monmouth
9817           Ocean
9819        Monmouth
9820           Ocean
9860        Monmouth
9939       Hunterdon
10011          Ocean
10022        Suffolk
10113        Suffolk
10158        Suffolk
10173         Bergen
10203        Suffolk
10258          Ocean
10284         Sussex
10360          Ocean
10375        Suffolk
10383        Passaic
10408        Suffolk
10457        Suffolk
10495          Ocean
10589          Ocean
10700         Orange
10818         Nassau
10827      Hunterdon
Name: County, Length: 648, dtype: object

Metro가 New York인 모든 row의 County column값을 모두 가져온다.(Series형태로 리턴)

In [25]:
data.sort_values(['RegionID', 'State'], ascending=False)

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
...,...,...,...,...,...,...,...,...
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900

RegionID를 기준으로 내림차순 정렬, 같은 값일 경우 State를 기준으로 내림차순 정렬.

In [26]:
data.sort_values(['RegionID', 'State'], ascending=[True, False])

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

RegionID를 기준으로 오름차순 정렬, 같은 값일 경우 State를 기준으로 내림차순 정렬.

sort_values 인자
- by: sort할 기준.
    * 리스트로 넣으면 같은 결과에 대해 하위 sort기준 적용 가능.
- axis 
    * 0: 열
    * 1: 행
- ascending
    * True: 오름차순
    * False: 내림차순.
    * 리스트로 넣으면 by의 순서에 맞게 True, False 설정됨.
- inplace: True로 설정하면 데이터 자체를 sort한 결과로 덮어쓴다.(원본 데이터가 바뀜)

In [27]:
data.sort_values(['RegionID', 'State'], ascending=False, axis=1)

KeyError: 'RegionID'

에러: axis=1일 경우 sort시 비교할 값이 없기 때문.

In [28]:
data.reset_index()

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
2,2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...,...
10800,10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

.reset_index
- sorting된 결과대로 다시 인덱스를 붙인다.
- 과거의 인덱스를 추가해준다.

In [29]:
data.reset_index(drop=True)

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

.reset_index 인자
- drop
    * True로 설정시 과거 인덱스 저장 안함.

In [30]:
data.filter(items = ['State', 'Metro'])

      State                           Metro
0        NY                        New York
1        CA  Los Angeles Long Beach Anaheim
2        IL                         Chicago
3        PA                    Philadelphia
4        AZ                         Phoenix
5        NV                       Las Vegas
6        CA                       San Diego
7        TX               Dallas-Fort Worth
8        CA                        San Jose
9        FL                    Jacksonville
10       CA                   San Francisco
11       TX                          Austin
12       MI                         Detroit
13       OH                        Columbus
14       TN                         Memphis
15       NC                       Charlotte
16       TX                         El Paso
17       MA                          Boston
18       WA                         Seattle
19       MD                       Baltimore
20       CO                          Denver
21       DC                      Washington
22       TN                       Nashville
23       WI                       Milwaukee
24       AZ                          Tucson
25       OR                        Portland
26       OK                   Oklahoma City
27       NE                           Omaha
28       NM                     Albuquerque
29       CA                          Fresno
...     ...                             ...
10800    VA                        Staunton
10801    WV                      Charleston
10802    CO               Steamboat Springs
10803    VA                         Roanoke
10804    MD       California-Lexington Park
10805    KY                          Murray
10806    MO                     Springfield
10807    MD                       Salisbury
10808    CA                   San Francisco
10809    IN                          Jasper
10810    CA  Los Angeles-Long Beach-Anaheim
10811    GA                         Atlanta
10812    CO                         Greeley
10813    CO                         Durango
10814    GA                        Columbus
10815    AR                      Fort Smith
10816    NJ                   Atlantic City
10817    CA                   San Francisco
10818    NY                        New York
10819    AR                    Fayetteville
10820    NC                       Asheville
10821    IN                    Kendallville
10822    MD                             NaN
10823    NY                        Kingston
10824    AL                      Montgomery
10825    OR                             NaN
10826    TX                         Houston
10827    NJ                        New York
10828    VA                        Richmond
10829    NH                          Boston

[10830 rows x 2 columns]

.filter 인자
- items: column명
    * dict에 list넣은 방법과 똑같다
- like: 특정 단어 포함
- regex: 정규식

In [31]:
data.filter(regex='^Region', axis=0)

Empty DataFrame
Columns: [Date, RegionID, RegionName, State, Metro, County, SizeRank, Zhvi]
Index: []

In [32]:
data.filter(regex='^Region', axis=1)

       RegionID         RegionName
0          6181           New York
1         12447        Los Angeles
2         17426            Chicago
3         13271       Philadelphia
4         40326            Phoenix
5         18959          Las Vegas
6         54296          San Diego
7         38128             Dallas
8         33839           San Jose
9         25290       Jacksonville
10        20330      San Francisco
11        10221             Austin
12        17762            Detroit
13        10920           Columbus
14        32811            Memphis
15        24043          Charlotte
16        17933            El Paso
17        44269             Boston
18        16037            Seattle
19         3523          Baltimore
20        11093             Denver
21        41568         Washington
22         6118          Nashville
23         5976          Milwaukee
24         7481             Tucson
25        13373           Portland
26        33225      Oklahoma City
27        40152              Omaha
28        23429        Albuquerque
29        18203             Fresno
...         ...                ...
10800     36944       Mount Sidney
10801     44501        Cedar Grove
10802     44615              Clark
10803     44844          Daleville
10804     49693        Piney Point
10805     50692               Almo
10806    171874         Bois D Arc
10807      7512            Tyaskin
10808      8646          Inverness
10809     13137             Otwell
10810     25468        Lake Hughes
10811     25749        Marble Hill
10812     25835               Mead
10813     32017           Hesperus
10814     32847            Midland
10815     46172             Lavaca
10816     46452       Mays Landing
10817     49856      Stinson Beach
10818     54802   Upper Brookville
10819     55357            Decatur
10820      5216         Horse Shoe
10821     12312             Laotto
10822     18317          Goldsboro
10823     19929          Phoenicia
10824     22147              Jones
10825     26077            Nehalem
10826     24105  Clear Lake Shores
10827    737788    Lebanon Borough
10828    182023            Henrico
10829     51793     East Hampstead

[10830 rows x 2 columns]

In [33]:
data['Zhvi'] > 500000

0         True
1         True
2        False
3        False
4        False
5        False
6         True
7        False
8         True
9        False
10        True
11       False
12       False
13       False
14       False
15       False
16       False
17        True
18        True
19       False
20       False
21        True
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10800    False
10801    False
10802    False
10803    False
10804    False
10805    False
10806    False
10807    False
10808     True
10809    False
10810    False
10811    False
10812    False
10813    False
10814    False
10815    False
10816    False
10817     True
10818     True
10819    False
10820    False
10821    False
10822    False
10823    False
10824    False
10825    False
10826    False
10827    False
10828    False
10829    False
Name: Zhvi, Length: 10830, dtype: bool

조건에 부합하면 True, 아니면 False(Series 형태로 반환)

In [34]:
data[data.Zhvi >= 1000000]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
181,2017-05-31,54626,Sunnyvale,CA,San Jose,Santa Clara,181,1509300
234,2017-05-31,13713,Santa Clara,CA,San Jose,Santa Clara,234,1071500
238,2017-05-31,16992,Berkeley,CA,San Francisco,Alameda,238,1102000
308,2017-05-31,13699,San Mateo,CA,San Francisco,San Mateo,308,1198300
360,2017-05-31,26964,Santa Monica,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,360,1423000
423,2017-05-31,13712,Santa Barbara,CA,Santa Maria-Santa Barbara,Santa Barbara,423,1050900
433,2017-05-31,20128,Redwood City,CA,San Francisco,San Mateo,433,1373600
479,2017-05-31,32999,Mountain View,CA,San Jose,Santa Clara,479,1523400
539,2017-05-31,47164,Pleasanton,CA,San Francisco,Alameda,539,1008800
579,2017-05-31,26374,Palo Alto,CA,San Jose,Santa Clara,579,2572300
639,2017-05-31,50749,Arcadia,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,639,1110800
673,2017-05-31,45565,Greenwich,CT,Stamford,Fairfield,673,1351300
686,2017-05-31,53571,Newport Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,686,1725900
757,2017-05-31,4281,Cupertino,CA,San Jose,Santa Clara,757,1847800
902,2017-05-31,38134,Danville,CA,San Francisco,Contra Costa,902,1222700
982,2017-05-31,17272,Campbell,CA,San Jose,Santa Clara,982,1143100
1079,2017-05-31,39748,Menlo Park,CA,San Francisco,San Mateo,1079,1968500
1132,2017-05-31,18375,Great Neck,NY,New York,Nassau,1132,1235800
1242,2017-05-31,10389,Beverly Hills,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1242,3041900
1275,2017-05-31,19100,Los Gatos,CA,San Jose,Santa Clara,1275,1742500
1281,2017-05-31,19177,Manhattan Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1281,2241400
1368,2017-05-31,54053,Rancho Palos Verdes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1368,1303100
1370,2017-05-31,31623,Foster City,CA,San Francisco,San Mateo,1370,1497000
1393,2017-05-31,6916,San Carlos,CA,San Francisco,San Mateo,1393,1619900
1417,2017-05-31,33874,Saratoga,CA,San Jose,Santa Clara,1417,2453600
1459,2017-05-31,17235,Burlingame,CA,San Francisco,San Mateo,1459,1870200
1476,2017-05-31,39511,Los Altos,CA,San Jose,Santa Clara,1476,2822900
1588,2017-05-31,19379,Mill Valley,CA,San Francisco,Marin,1588,1471500
1609,2017-05-31,41610,Wellesley,MA,Boston,Norfolk,1609,1239900
...,...,...,...,...,...,...,...,...
9339,2017-05-31,38980,Hidden Hills,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,9339,3186400
9370,2017-05-31,22015,Laurel Hollow,NY,New York,Nassau,9370,1585300
9417,2017-05-31,43996,Avalon,NJ,Ocean City,Cape May,9417,1167500
9432,2017-05-31,116639,Mission Canyon,CA,Santa Maria-Santa Barbara,Santa Barbara,9432,1339500
9450,2017-05-31,57134,Woodway,WA,Seattle,Snohomish,9450,1256800
9464,2017-05-31,157546,Chevy Chase Terrace,MD,Washington,Montgomery,9464,1149900
9523,2017-05-31,38975,Hewlett Harbor,NY,New York,Nassau,9523,1304800
9602,2017-05-31,33312,Palos Verdes Peninsula,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,9602,1557700
9714,2017-05-31,7774,Water Mill,NY,New York,Suffolk,9714,4085200
9819,2017-05-31,38157,Deal,NJ,New York,Monmouth,9819,1977000
9873,2017-05-31,398956,New Shoreham,RI,Providence,Washington,9873,1079400
9913,2017-05-31,52358,Gulf Stream,FL,Miami-Fort Lauderdale,Palm Beach,9913,1719000
9923,2017-05-31,42091,Bell Canyon,CA,Ventura,Ventura,9923,1643200
9953,2017-05-31,44575,Chilmark,MA,Vineyard Haven,Dukes,9953,1534600
10011,2017-05-31,23619,Bay Head,NJ,New York,Ocean,10011,1228600
10022,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
10179,2017-05-31,49145,Glenbrook,NV,Gardnerville Ranchos,Douglas,10179,1129700
10180,2017-05-31,124901,Jupiter Island,FL,Port St. Lucie,Martin,10180,4248200
10193,2017-05-31,28049,Yarrow Point,WA,Seattle,King,10193,2556000
10203,2017-05-31,30203,Amagansett,NY,New York,Suffolk,10203,2613800
10205,2017-05-31,3734,Boca Grande,FL,Fort Myers,Lee,10205,1382300
10319,2017-05-31,54570,Stone Harbor,NJ,Ocean City,Cape May,10319,1286400
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10360,2017-05-31,11829,Harvey Cedars,NJ,New York,Ocean,10360,1012000
10375,2017-05-31,33971,Shelter Island Heights,NY,New York,Suffolk,10375,1153600
10457,2017-05-31,36840,Bridgehampton,NY,New York,Suffolk,10457,1703600
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600

조건 검사 결과가 True인 값들을 모아 dataframe형태로 반환.

In [35]:
data.filter(like='Met', axis=1)

                                Metro
0                            New York
1      Los Angeles Long Beach Anaheim
2                             Chicago
3                        Philadelphia
4                             Phoenix
5                           Las Vegas
6                           San Diego
7                   Dallas-Fort Worth
8                            San Jose
9                        Jacksonville
10                      San Francisco
11                             Austin
12                            Detroit
13                           Columbus
14                            Memphis
15                          Charlotte
16                            El Paso
17                             Boston
18                            Seattle
19                          Baltimore
20                             Denver
21                         Washington
22                          Nashville
23                          Milwaukee
24                             Tucson
25                           Portland
26                      Oklahoma City
27                              Omaha
28                        Albuquerque
29                             Fresno
...                               ...
10800                        Staunton
10801                      Charleston
10802               Steamboat Springs
10803                         Roanoke
10804       California-Lexington Park
10805                          Murray
10806                     Springfield
10807                       Salisbury
10808                   San Francisco
10809                          Jasper
10810  Los Angeles-Long Beach-Anaheim
10811                         Atlanta
10812                         Greeley
10813                         Durango
10814                        Columbus
10815                      Fort Smith
10816                   Atlantic City
10817                   San Francisco
10818                        New York
10819                    Fayetteville
10820                       Asheville
10821                    Kendallville
10822                             NaN
10823                        Kingston
10824                      Montgomery
10825                             NaN
10826                         Houston
10827                        New York
10828                        Richmond
10829                          Boston

[10830 rows x 1 columns]

In [36]:
data[(data['Zhvi'] > 1000000) & (data['State'] == 'NY')]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1132,2017-05-31,18375,Great Neck,NY,New York,Nassau,1132,1235800
2405,2017-05-31,54333,Scarsdale,NY,New York,Westchester,2405,1468100
2619,2017-05-31,47495,Rye,NY,New York,Westchester,2619,1736400
3032,2017-05-31,25725,Manhasset,NY,New York,Nassau,3032,1483400
3064,2017-05-31,18955,Larchmont,NY,New York,Westchester,3064,1052200
3474,2017-05-31,18478,Harrison,NY,New York,Westchester,3474,1031200
3904,2017-05-31,13937,Southampton,NY,New York,Suffolk,3904,1398200
4700,2017-05-31,52907,Lawrence,NY,New York,Nassau,4700,1124600
5682,2017-05-31,40053,North Hills,NY,New York,Nassau,5682,1431800
6386,2017-05-31,53705,Old Westbury,NY,New York,Nassau,6386,2230800
6661,2017-05-31,12894,Muttontown,NY,New York,Nassau,6661,1613400
6736,2017-05-31,17874,East Hills,NY,New York,Nassau,6736,1299300
7728,2017-05-31,194752,Flower Hill,NY,New York,Nassau,7728,1220300
8093,2017-05-31,16387,Sands Point,NY,New York,Nassau,8093,2289600
8317,2017-05-31,35276,Cold Spring Harbor,NY,New York,Suffolk,8317,1164600
8611,2017-05-31,47499,Sag Harbor,NY,New York,Suffolk,8611,1576200
9028,2017-05-31,18963,Lattingtown,NY,New York,Nassau,9028,1184500
9055,2017-05-31,19808,Oyster Bay Cove,NY,New York,Nassau,9055,1649400
9179,2017-05-31,26537,Plandome,NY,New York,Nassau,9179,2024500
9370,2017-05-31,22015,Laurel Hollow,NY,New York,Nassau,9370,1585300
9523,2017-05-31,38975,Hewlett Harbor,NY,New York,Nassau,9523,1304800
9714,2017-05-31,7774,Water Mill,NY,New York,Suffolk,9714,4085200
10022,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
10203,2017-05-31,30203,Amagansett,NY,New York,Suffolk,10203,2613800
10375,2017-05-31,33971,Shelter Island Heights,NY,New York,Suffolk,10375,1153600
10457,2017-05-31,36840,Bridgehampton,NY,New York,Suffolk,10457,1703600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600

여러 조건 사용시 &를 사용하여 연결.

In [37]:
filt = data['Metro'].isin(['New York', 'San Francisco'])
data[filt]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
63,2017-05-31,12970,Newark,NJ,New York,Essex,63,232800
72,2017-05-31,25320,Jersey City,NJ,New York,Hudson,72,380000
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
138,2017-05-31,34937,Yonkers,NY,New York,Westchester,138,439700
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
176,2017-05-31,19873,Paterson,NJ,New York,Passaic,176,195200
223,2017-05-31,51518,Concord,CA,San Francisco,Contra Costa,223,549800
225,2017-05-31,31388,Elizabeth,NJ,New York,Union,225,263300
238,2017-05-31,16992,Berkeley,CA,San Francisco,Alameda,238,1102000
291,2017-05-31,11267,Edison,NJ,New York,Middlesex,291,335600
308,2017-05-31,13699,San Mateo,CA,San Francisco,San Mateo,308,1198300
310,2017-05-31,31163,Daly City,CA,San Francisco,San Mateo,310,838500
313,2017-05-31,13698,San Leandro,CA,San Francisco,Alameda,313,593600
338,2017-05-31,395471,Lakewood Township,NJ,New York,Ocean,338,301300
339,2017-05-31,16780,Antioch,CA,San Francisco,Contra Costa,339,399600
372,2017-05-31,32540,Livermore,CA,San Francisco,Alameda,372,721000
387,2017-05-31,34311,Toms River,NJ,New York,Ocean,387,264900
402,2017-05-31,24120,Clifton,NJ,New York,Passaic,402,307000
406,2017-05-31,398360,Town of Poughkeepsie,NY,New York,Dutchess,406,207800
411,2017-05-31,26751,Richmond,CA,San Francisco,Contra Costa,411,444700
433,2017-05-31,20128,Redwood City,CA,San Francisco,San Mateo,433,1373600
461,2017-05-31,34637,Walnut Creek,CA,San Francisco,Contra Costa,461,847400
497,2017-05-31,40355,Pittsburg,CA,San Francisco,Contra Costa,497,384500
520,2017-05-31,20337,San Ramon,CA,San Francisco,Contra Costa,520,969400
521,2017-05-31,26114,New Rochelle,NY,New York,Westchester,521,648900
539,2017-05-31,47164,Pleasanton,CA,San Francisco,Alameda,539,1008800
541,2017-05-31,17158,Brick,NJ,New York,Ocean,541,260600
...,...,...,...,...,...,...,...,...
9791,2017-05-31,56726,Ship Bottom,NJ,New York,Ocean,9791,586800
9805,2017-05-31,20400,Sea Bright,NJ,New York,Monmouth,9805,420100
9817,2017-05-31,55585,Beach Haven,NJ,New York,Ocean,9817,728800
9819,2017-05-31,38157,Deal,NJ,New York,Monmouth,9819,1977000
9820,2017-05-31,188709,Ortley Beach,NJ,New York,Ocean,9820,343300
9860,2017-05-31,55928,Interlaken,NJ,New York,Monmouth,9860,640300
9939,2017-05-31,17072,Bloomsbury,NJ,New York,Hunterdon,9939,281100
10011,2017-05-31,23619,Bay Head,NJ,New York,Ocean,10011,1228600
10022,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
10094,2017-05-31,39301,La Honda,CA,San Francisco,San Mateo,10094,768400
10113,2017-05-31,397701,Town of Shelter Island,NY,New York,Suffolk,10113,964600
10158,2017-05-31,39376,Laurel,NY,New York,Suffolk,10158,573400
10173,2017-05-31,32940,Moonachie,NJ,New York,Bergen,10173,569300
10203,2017-05-31,30203,Amagansett,NY,New York,Suffolk,10203,2613800
10258,2017-05-31,33909,Seaside Park,NJ,New York,Ocean,10258,546700
10284,2017-05-31,188629,Crandon Lakes,NJ,New York,Sussex,10284,190300
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10360,2017-05-31,11829,Harvey Cedars,NJ,New York,Ocean,10360,1012000
10375,2017-05-31,33971,Shelter Island Heights,NY,New York,Suffolk,10375,1153600
10383,2017-05-31,53566,Newfoundland,NJ,New York,Passaic,10383,296000
10408,2017-05-31,35369,East Marion,NY,New York,Suffolk,10408,593700
10457,2017-05-31,36840,Bridgehampton,NY,New York,Suffolk,10457,1703600
10495,2017-05-31,397820,Long Beach Township,NJ,New York,Ocean,10495,817300
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10589,2017-05-31,42001,Barnegat Light,NJ,New York,Ocean,10589,788800
10700,2017-05-31,39679,Maybrook,NY,New York,Orange,10700,130500
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100

Metro가 리스트의 내용과 일치하는 모든 결과를 모아 dataframe형태로 반환한다.

isin == in(기능 똑같음). 나열된 조건을 만족하면 True, 아니면 False.(in을 사용 못하는 경우를 커버하기 위해 만들어졌음.)

In [38]:
data['State'].unique()

array(['NY', 'CA', 'IL', 'PA', 'AZ', 'NV', 'TX', 'FL', 'MI', 'OH', 'TN',
       'NC', 'MA', 'WA', 'MD', 'CO', 'DC', 'WI', 'OR', 'OK', 'NE', 'NM',
       'MO', 'VA', 'GA', 'HI', 'MN', 'LA', 'KS', 'AK', 'KY', 'NJ', 'AL',
       'IN', 'IA', 'ID', 'SC', 'UT', 'AR', 'RI', 'MS', 'CT', 'DE', 'MT',
       'NH', 'ND', 'WY', 'WV', 'ME'], dtype=object)

결과에서 중복을 제거하여 보여준다.

In [39]:
data[data['State'].isin(['DC', 'PA'])]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
54,2017-05-31,26529,Pittsburgh,PA,Pittsburgh,Allegheny,54,122600
230,2017-05-31,16726,Allentown,PA,Allentown,Lehigh,230,114100
301,2017-05-31,11335,Erie,PA,Erie,Erie,301,78600
327,2017-05-31,41629,West Chester,PA,Philadelphia,Chester,327,389900
355,2017-05-31,397569,Bethlehem Township,PA,Allentown,Northampton,355,258600
395,2017-05-31,6696,Reading,PA,Reading,Berks,395,64200
470,2017-05-31,20398,Scranton,PA,Scranton,Lackawanna,470,78300
478,2017-05-31,17008,Bethlehem,PA,Allentown,Northampton,478,154800
604,2017-05-31,397184,York Township,PA,York,York,604,180400
664,2017-05-31,398816,Lancaster,PA,Lancaster,Lancaster,664,118700
733,2017-05-31,30424,Bensalem,PA,Philadelphia,Bucks,733,238200
789,2017-05-31,397360,Millcreek Township,PA,Erie,Erie,789,156400
793,2017-05-31,397013,Upper Darby Township,PA,Philadelphia,Delaware,793,92900
845,2017-05-31,39416,Levittown,PA,Philadelphia,Bucks,845,219200
857,2017-05-31,11817,Harrisburg,PA,Harrisburg,Dauphin,857,69600
937,2017-05-31,398631,Hempfield Township,PA,Pittsburgh,Westmoreland,937,139800
979,2017-05-31,41815,York,PA,York,York,979,76400
1000,2017-05-31,29058,Penn Hills,PA,Pittsburgh,Allegheny,1000,89000
1049,2017-05-31,217168,Wilkes-Barre,PA,Scranton,Luzerne,1049,51800
1073,2017-05-31,47837,State College,PA,State College,Centre,1073,290000
1103,2017-05-31,398814,Manheim Township,PA,Lancaster,Lancaster,1103,217900
1117,2017-05-31,10806,Chester Township,PA,Philadelphia,Delaware,1117,68700
1219,2017-05-31,15120,Havertown,PA,Philadelphia,Delaware,1219,299500
1299,2017-05-31,40036,Norristown,PA,Philadelphia,Montgomery,1299,133700
1346,2017-05-31,33155,North Huntingdon,PA,Pittsburgh,Westmoreland,1346,144700
1359,2017-05-31,396639,Ross Township,PA,Pittsburgh,Allegheny,1359,175800
1371,2017-05-31,397912,Butler Township,PA,Pittsburgh,Butler,1371,139900
1414,2017-05-31,397097,Middletown Township,PA,Philadelphia,Bucks,1414,309600
...,...,...,...,...,...,...,...,...
10075,2017-05-31,208070,Baidland,PA,Pittsburgh,Washington,10075,145100
10098,2017-05-31,37567,Brickerville,PA,Lancaster,Lancaster,10098,206700
10100,2017-05-31,214067,Oakland,PA,New Castle,Lawrence,10100,60700
10104,2017-05-31,33087,New Oxford,PA,Gettysburg,Adams,10104,143800
10108,2017-05-31,54737,Trevorton,PA,Sunbury,Northumberland,10108,65300
10124,2017-05-31,397475,Londonderry Township,PA,NaN,Bedford,10124,110200
10199,2017-05-31,212557,Lenape Heights,PA,Pittsburgh,Armstrong,10199,113100
10228,2017-05-31,55098,West Brownsville,PA,Pittsburgh,Washington,10228,69300
10233,2017-05-31,13793,Shamokin Dam,PA,Selinsgrove,Snyder,10233,157500
10250,2017-05-31,214406,Pennsbury Village,PA,Pittsburgh,Allegheny,10250,118200
10322,2017-05-31,216081,Stormstown,PA,State College,Centre,10322,315900
10334,2017-05-31,50987,Bessemer,PA,New Castle,Lawrence,10334,72300
10358,2017-05-31,212363,Lake Meade,PA,Gettysburg,Adams,10358,184900
10372,2017-05-31,11703,Green Lane,PA,Philadelphia,Montgomery,10372,277300
10459,2017-05-31,56032,Dunnstown,PA,Lock Haven,Clinton,10459,151100
10461,2017-05-31,43810,Abbottstown,PA,Gettysburg,Adams,10461,146200
10482,2017-05-31,16858,Avonmore,PA,Pittsburgh,Westmoreland,10482,79700
10498,2017-05-31,212360,Lake Heritage,PA,Gettysburg,Adams,10498,204200
10520,2017-05-31,35721,Jonestown,PA,Lebanon,Lebanon,10520,167400
10532,2017-05-31,16338,Topton,PA,Reading,Berks,10532,164600
10573,2017-05-31,210660,Flying Hills,PA,Reading,Berks,10573,132300
10610,2017-05-31,32975,Mount Holly Springs,PA,Harrisburg,Cumberland,10610,136100
10633,2017-05-31,51312,Cecil,PA,Pittsburgh,Washington,10633,198100
10647,2017-05-31,16160,Smethport,PA,Bradford,McKean,10647,77600
10663,2017-05-31,398809,Union Township,PA,New Castle,Lawrence,10663,111000
10670,2017-05-31,35994,Rheems,PA,Lancaster,Lancaster,10670,188900
10698,2017-05-31,397444,London Grove Township,PA,Philadelphia,Chester,10698,321300
10707,2017-05-31,396967,Napier Township,PA,NaN,Bedford,10707,138700
10712,2017-05-31,397405,Highland Township,PA,Gettysburg,Adams,10712,234500
10727,2017-05-31,20695,Sturgeon,PA,Pittsburgh,Allegheny,10727,175900

In [40]:
data.isin({'State':['CA'], 'Metro':['San Francisco']})

        Date  RegionID  RegionName  State  Metro  County  SizeRank   Zhvi
0      False     False       False  False  False   False     False  False
1      False     False       False   True  False   False     False  False
2      False     False       False  False  False   False     False  False
3      False     False       False  False  False   False     False  False
4      False     False       False  False  False   False     False  False
5      False     False       False  False  False   False     False  False
6      False     False       False   True  False   False     False  False
7      False     False       False  False  False   False     False  False
8      False     False       False   True  False   False     False  False
9      False     False       False  False  False   False     False  False
10     False     False       False   True   True   False     False  False
11     False     False       False  False  False   False     False  False
12     False     False       False  False  False   False     False  False
13     False     False       False  False  False   False     False  False
14     False     False       False  False  False   False     False  False
15     False     False       False  False  False   False     False  False
16     False     False       False  False  False   False     False  False
17     False     False       False  False  False   False     False  False
18     False     False       False  False  False   False     False  False
19     False     False       False  False  False   False     False  False
20     False     False       False  False  False   False     False  False
21     False     False       False  False  False   False     False  False
22     False     False       False  False  False   False     False  False
23     False     False       False  False  False   False     False  False
24     False     False       False  False  False   False     False  False
25     False     False       False  False  False   False     False  False
26     False     False       False  False  False   False     False  False
27     False     False       False  False  False   False     False  False
28     False     False       False  False  False   False     False  False
29     False     False       False   True  False   False     False  False
...      ...       ...         ...    ...    ...     ...       ...    ...
10800  False     False       False  False  False   False     False  False
10801  False     False       False  False  False   False     False  False
10802  False     False       False  False  False   False     False  False
10803  False     False       False  False  False   False     False  False
10804  False     False       False  False  False   False     False  False
10805  False     False       False  False  False   False     False  False
10806  False     False       False  False  False   False     False  False
10807  False     False       False  False  False   False     False  False
10808  False     False       False   True   True   False     False  False
10809  False     False       False  False  False   False     False  False
10810  False     False       False   True  False   False     False  False
10811  False     False       False  False  False   False     False  False
10812  False     False       False  False  False   False     False  False
10813  False     False       False  False  False   False     False  False
10814  False     False       False  False  False   False     False  False
10815  False     False       False  False  False   False     False  False
10816  False     False       False  False  False   False     False  False
10817  False     False       False   True   True   False     False  False
10818  False     False       False  False  False   False     False  False
10819  False     False       False  False  False   False     False  False
10820  False     False       False  False  False   False     False  False
10821  False     False       False  False  False   False     False  False
10822  False     False       False  False  False   False     False  False
10823  False     False       False  False  False   False     False  False
10824  False     False       False  False  False   False     False  False
10825  False     False       False  False  False   False     False  False
10826  False     False       False  False  False   False     False  False
10827  False     False       False  False  False   False     False  False
10828  False     False       False  False  False   False     False  False
10829  False     False       False  False  False   False     False  False

[10830 rows x 8 columns]

isin: True/False 반환. => True/False만으로 dataframe을 만들어 반환.

In [41]:
print(type(data['Date']))
print(type(data[['Date', 'Zhvi']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

dict 방식: 인자 1개 = Series, 2개 이상 = DataFrame형태로 반환.

In [42]:
print(type(data.loc[1:3, ["Date"]]))
print(type(data.loc[1:3, "Date"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

loc 방식: []안에 조건 주면 Dataframe, 아니면 Series형태로 반환.

In [46]:
print(len(data.axes))
print(data.axes)
print(data.columns)

2
[RangeIndex(start=0, stop=10830, step=1), Index(['Date', 'RegionID', 'RegionName', 'State', 'Metro', 'County',
       'SizeRank', 'Zhvi'],
      dtype='object')]
Index(['Date', 'RegionID', 'RegionName', 'State', 'Metro', 'County',
       'SizeRank', 'Zhvi'],
      dtype='object')

In [47]:
data.mean(axis=1)

0        2.261937e+05
1        2.141160e+05
2        8.004267e+04
3        5.019133e+04
4        8.387667e+04
5        7.848800e+04
6        2.088007e+05
7        6.761167e+04
8        3.037490e+05
9        5.919967e+04
10       4.048800e+05
11       1.106107e+05
12       1.975800e+04
13       4.641100e+04
14       3.797500e+04
15       6.928600e+04
16       4.378300e+04
17       1.996287e+05
18       2.287850e+05
19       4.154733e+04
20       1.314377e+05
21       1.991630e+05
22       7.821333e+04
23       3.796633e+04
24       5.743500e+04
25       1.437660e+05
26       5.531700e+04
27       6.409300e+04
28       7.101900e+04
29       7.697733e+04
             ...
10800    9.508133e+04
10801    4.300067e+04
10802    1.580057e+05
10803    1.068157e+05
10804    1.228323e+05
10805    6.629900e+04
10806    1.105600e+05
10807    4.130633e+04
10808    3.759180e+05
10809    3.538200e+04
10810    1.019927e+05
10811    1.388200e+05
10812    1.290823e+05
10813    1.143100e+05
10814    8.952033e+04
10815    5.846233e+04
10816    6.802267e+04
10817    1.078091e+06
10818    6.747400e+05
10819    5.982533e+04
10820    9.091200e+04
10821    6.027767e+04
10822    6.827967e+04
10823    5.111733e+04
10824    4.639033e+04
10825    1.430340e+05
10826    7.561033e+04
10827    3.265717e+05
10828    1.412170e+05
10829    1.196740e+05
Length: 10830, dtype: float64

In [48]:
data.mean(axis='columns')

0        2.261937e+05
1        2.141160e+05
2        8.004267e+04
3        5.019133e+04
4        8.387667e+04
5        7.848800e+04
6        2.088007e+05
7        6.761167e+04
8        3.037490e+05
9        5.919967e+04
10       4.048800e+05
11       1.106107e+05
12       1.975800e+04
13       4.641100e+04
14       3.797500e+04
15       6.928600e+04
16       4.378300e+04
17       1.996287e+05
18       2.287850e+05
19       4.154733e+04
20       1.314377e+05
21       1.991630e+05
22       7.821333e+04
23       3.796633e+04
24       5.743500e+04
25       1.437660e+05
26       5.531700e+04
27       6.409300e+04
28       7.101900e+04
29       7.697733e+04
             ...
10800    9.508133e+04
10801    4.300067e+04
10802    1.580057e+05
10803    1.068157e+05
10804    1.228323e+05
10805    6.629900e+04
10806    1.105600e+05
10807    4.130633e+04
10808    3.759180e+05
10809    3.538200e+04
10810    1.019927e+05
10811    1.388200e+05
10812    1.290823e+05
10813    1.143100e+05
10814    8.952033e+04
10815    5.846233e+04
10816    6.802267e+04
10817    1.078091e+06
10818    6.747400e+05
10819    5.982533e+04
10820    9.091200e+04
10821    6.027767e+04
10822    6.827967e+04
10823    5.111733e+04
10824    4.639033e+04
10825    1.430340e+05
10826    7.561033e+04
10827    3.265717e+05
10828    1.412170e+05
10829    1.196740e+05
Length: 10830, dtype: float64

In [49]:
data.mean(axis=0)

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

In [50]:
data.mean(axis='rows')

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

axis=1의 평균 결과: 전체 row 갯수와 일치.

axis=0의 평균 결과: 전체 row의 column별 값의 평균.

0, 1대신 rows, columns를 사용해도 같은 결과를 반환한다.

In [52]:
print(data.RegionID.max(axis=0))
print(data.RegionID.max())

737791
737791

axis값 필요 없음: dataframe과 관련한 값이 아닌 series와 관련된 값이므로 따로 axis값 필요 없다.(1차원이면 axis값 필요없다)

In [53]:
df = pd.read_csv('data-netflix.csv', index_col='title')
df

,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
title,,,,,,
White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80
Once Upon a Time,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
Sherlock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
Death Note,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2006,77.0,80
Naruto,TV-PG,Parental guidance suggested. May not be suitab...,70,2008,88.0,80
The Hunter,R,language and brief violence,100,2011,NaN,82
Lottie Dottie Chicken,TV-Y,Suitable for all ages.,10,2009,NaN,82
Arrow,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2015,96.0,80
Black Mirror,TV-MA,For mature audiences. May not be suitable for...,110,2016,80.0,80
The Originals,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,74.0,80
The 100,NR,This movie has not been rated.,124,2016,97.0,80
Masha and the Bear,TV-Y,Suitable for all ages.,10,2013,81.0,80
"Ã“ Pai, Ã“ - Look at This",TV-MA,For mature audiences. May not be suitable for...,110,2007,NaN,82
Nymphomaniac: Volume 1,NR,This movie has not been rated.,124,2013,NaN,82
Hunter X Hunter (2011),NR,This movie has not been rated.,124,2013,57.0,80
Marvel's Luke Cage,TV-MA,For mature audiences. May not be suitable for...,110,2016,95.0,80
Marvel's Iron Fist,TV-MA,NaN,110,2017,98.0,80
Narcos,TV-MA,For mature audiences. May not be suitable for...,110,2016,94.0,80
The Flash,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
The Seven Deadly Sins,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
Scream,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
...,...,...,...,...,...,...
Annie,PG,adult content and mld violence,60,1982,68.0,80
An American Tail: Fievel Goes West,G,General Audiences. Suitable for all ages.,35,1991,NaN,82
D2: The Mighty Ducks,PG,some mild language and rough hockey action,60,1994,70.0,80
"Honey, I Shrunk the Kids",PG,Parental guidance suggested. May not be suitab...,60,1989,80.0,80
The Iron Giant,PG,fantasy action and mild language,60,1999,83.0,80
The Fox and the Hound 2,G,General Audiences. Suitable for all ages.,35,2006,NaN,82
Air Buddies,PG,"some mild, rude humor",60,2006,NaN,82
Dr. Dolittle: Tail to the Chief,PG,brief mild language and some rude behavior,60,2008,NaN,82
Flicka 2,PG,some reckless behavior,60,2010,NaN,82
H2O: Just Add Water,TV-PG,Parental guidance suggested. May not be suitab...,70,2009,74.0,80
The Gruffalo,TV-Y,Suitable for all ages.,10,2009,NaN,82
Dolphin Tale,PG,some mild thematic elements,60,2011,NaN,82
Pound Puppies,TV-Y,Suitable for all ages.,10,2013,NaN,82
Beverly Hills Chihuahua 3: Viva La Fiesta!,G,General Audiences. Suitable for all ages.,35,2012,NaN,82
The Magic School Bus,TV-Y,Suitable for all ages.,10,1997,81.0,80
Step Dogs,TV-PG,Parental guidance suggested. May not be suitab...,70,2013,NaN,82
PokÃ©mon: Indigo League,TV-Y,Suitable for all ages.,10,2000,74.0,80
Mia and Me,TV-Y,Suitable for all ages.,10,2015,NaN,82
Paddington,PG,mild action and rude humor,60,2014,70.0,80
Russell Madness,PG,some rude humor and sports action,60,2015,NaN,82
My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
Growing Up Wild,G,NaN,35,2016,80.0,80

In [55]:
df.filter(regex='Anato', axis=0)

,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
title,,,,,,
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80

정규식에 맞는 결과만 불러온다.

___

In [56]:
apt = pd.read_csv('apt_final.csv')

In [57]:
apt.head()

,price_per_area,price,con_year,year,dong,aptnm,month,dat,area,area_sub,...,seoul_cons_ratio,bond_one_year,bond_three_year,bond_five_year,bond_ten_year,corp_bond_yield_rate,call_rate,interest,interest_on_loan,cd
0,1979,71000.0,1982,2009,개포동,개포주공 3단지,10,1~10,35.87,small,...,10.061728,3.52,4.47,4.91,5.45,5.6,1.99,3.51,5.88,2.79
1,1994,83700.0,1982,2009,개포동,개포주공 1단지,10,1~10,41.98,small,...,10.061728,3.52,4.47,4.91,5.45,5.6,1.99,3.51,5.88,2.79
2,1128,173500.0,2004,2009,개포동,개포자이(12-2),10,1~10,153.80,large,...,10.061728,3.52,4.47,4.91,5.45,5.6,1.99,3.51,5.88,2.79
3,1204,65000.0,1983,2009,개포동,개포주공 5단지,10,1~10,53.98,small,...,10.061728,3.52,4.47,4.91,5.45,5.6,1.99,3.51,5.88,2.79
4,1214,160000.0,1986,2009,개포동,현대2,10,1~10,131.83,large,...,10.061728,3.52,4.47,4.91,5.45,5.6,1.99,3.51,5.88,2.79

In [58]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429466 entries, 0 to 429465
Data columns (total 62 columns):
price_per_area          429466 non-null int64
price                   429466 non-null float64
con_year                429466 non-null int64
year                    429466 non-null int64
dong                    429466 non-null object
aptnm                   429466 non-null object
month                   429466 non-null int64
dat                     429466 non-null object
area                    429466 non-null float64
area_sub                429466 non-null object
loc                     429466 non-null int64
floor                   429466 non-null int64
qrt                     429466 non-null object
yyyyqrt                 429466 non-null object
yyyym                   429466 non-null int64
gu                      429466 non-null object
num_children            429466 non-null int64
num_elementary          429466 non-null int64
num_middle              429466 non-null int64
num_high                429466 non-null int64
edu_subsidy             429466 non-null int64
basic_living            429466 non-null int64
hospital                429466 non-null int64
num_beds                429466 non-null int64
park_area               429466 non-null float64
salary_councilor        429466 non-null int64
obesity                 429466 non-null float64
total_in                429466 non-null int64
total_out               429466 non-null int64
inner_in                429466 non-null int64
inner_out               429466 non-null int64
outer_in                429466 non-null int64
outer_out               429466 non-null int64
city_in                 429466 non-null int64
city_out                429466 non-null int64
consm_price_idx         429466 non-null float64
food_price_idx          429466 non-null float64
prod_price_idx          429466 non-null float64
rental_house_idx        429466 non-null float64
pub_service_idx         429466 non-null float64
pri_service_idx         429466 non-null float64
source_price_idx        429466 non-null float64
life_price_idx          429466 non-null float64
debt                    429466 non-null int64
farm_assets             429466 non-null int64
none_farm_assets        429466 non-null int64
assets                  429466 non-null int64
current_assets          429466 non-null int64
current_debt_ratio      429466 non-null float64
asset_debt_ratio        429466 non-null float64
seoul_cons_result       429466 non-null int64
national_cons_result    429466 non-null int64
seoul_cons_ratio        429466 non-null float64
bond_one_year           429466 non-null float64
bond_three_year         429466 non-null float64
bond_five_year          429466 non-null float64
bond_ten_year           429466 non-null float64
corp_bond_yield_rate    429466 non-null float64
call_rate               429466 non-null float64
interest                429466 non-null float64
interest_on_loan        429466 non-null float64
cd                      429466 non-null float64
dtypes: float64(24), int64(31), object(7)
memory usage: 203.1+ MB

In [59]:
filt = apt['gu'].isin(['강남구'])
print(len(apt[filt]))
apt[filt]

38922

,price_per_area,price,con_year,year,dong,aptnm,month,dat,area,area_sub,...,seoul_cons_ratio,bond_one_year,bond_three_year,bond_five_year,bond_ten_year,corp_bond_yield_rate,call_rate,interest,interest_on_loan,cd
0,1979,71000.0,1982,2009,개포동,개포주공 3단지,10,1~10,35.870,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
1,1994,83700.0,1982,2009,개포동,개포주공 1단지,10,1~10,41.980,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
2,1128,173500.0,2004,2009,개포동,개포자이(12-2),10,1~10,153.800,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
3,1204,65000.0,1983,2009,개포동,개포주공 5단지,10,1~10,53.980,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
4,1214,160000.0,1986,2009,개포동,현대2,10,1~10,131.830,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
5,1480,75000.0,1982,2009,개포동,개포주공 4단지,10,1~10,50.670,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
6,1030,82000.0,1987,2009,개포동,우성8,10,11~20,79.610,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
7,1275,78000.0,1983,2009,개포동,개포주공 5단지,10,11~20,61.190,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
8,1975,100000.0,1982,2009,개포동,개포주공 1단지,10,11~20,50.640,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
9,1133,44800.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,39.530,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
10,1115,37000.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,33.180,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
11,1063,53000.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,49.860,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
12,2223,112000.0,1982,2009,개포동,개포주공 4단지,10,11~20,50.390,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
13,1284,78000.0,1983,2009,개포동,개포주공 7단지,10,11~20,60.760,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
14,1905,80000.0,1982,2009,개포동,개포주공 4단지,10,11~20,41.990,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
15,2240,113500.0,1982,2009,개포동,개포주공 4단지,10,11~20,50.670,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
16,1200,66000.0,1987,2009,개포동,개포6차우성아파트1동~8동,10,11~20,54.980,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
17,938,98000.0,1984,2009,개포동,개포우성3차,10,11~20,104.430,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
18,1320,110500.0,1983,2009,개포동,개포주공 7단지,10,21~31,83.700,medium,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
19,1394,116000.0,1983,2009,개포동,개포주공 6단지,10,21~31,83.210,medium,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
20,1880,80000.0,1982,2009,개포동,개포주공 1단지,10,21~31,42.550,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
21,1906,80000.0,1982,2009,개포동,개포주공 1단지,10,21~31,41.980,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
22,1937,98100.0,1982,2009,개포동,개포주공 1단지,10,21~31,50.640,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
23,1945,98500.0,1982,2009,개포동,개포주공 1단지,10,21~31,50.640,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
24,1936,69000.0,1982,2009,개포동,개포주공 1단지,10,21~31,35.640,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
25,1036,52950.0,1992,2009,개포동,삼익대청아파트,10,21~31,51.120,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
26,1016,136500.0,2004,2009,개포동,개포자이(12-2),10,21~31,134.300,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
27,1922,68500.0,1982,2009,개포동,개포주공 1단지,10,21~31,35.640,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
28,1868,79500.0,1982,2009,개포동,개포주공 4단지,10,21~31,42.550,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
29,2058,52000.0,1982,2009,개포동,주공2,10,21~31,25.270,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364426,1434,86000.0,1999,2017,청담동,청담우방,5,21~31,59.970,small,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364427,1395,118000.0,1994,2017,청담동,청강(건영),5,21~31,84.595,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364428,1407,119000.0,1994,2017,청담동,청강(건영),5,21~31,84.595,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364429,1503,160000.0,1980,2017,청담동,청담삼익아파트,5,21~31,106.440,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364430,1050,103000.0,2005,2017,청담동,이편한세상,5,21~31,98.050,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364431,981,115000.0,2003,2017,청담동,한신오페라하우스,5,21~31,117.190,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364432,1253,137000.0,1984,2017,청담동,진흥아파트,5,21~31,109.310,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364433,915,108500.0,1999,2017,청담동,청담우방,5,21~31,118.530,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364434,1251,75000.0,1999,2017,청담동,삼성청담공원아파트,5,21~31,59.930,small,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364435,1117,94500.0,1997,2017,청담동,청담동삼성1차아파트101동,5,21~31,84.570,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364436,1352,81000.0,1999,2017,청담동,삼성청담공원아파트,5,21~31,59.930,small,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364437,1597,170000.0,1980,2017,청담동,청담삼익아파트,5,21~31,106.440,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364438,1295,106000.0,2002,2017,청담동,청담대림e-편한세상,5,21~31,81.840,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364439,1073,115000.0,1999,2017,청담동,삼성청담공원아파트,5,21~31,107.220,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364440,1384,83000.0,1999,2017,청담동,청담우방,5,21~31,59.970,small,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364441,1231,104500.0,1999,2017,청담동,삼성청담아파트,5,21~31,84.860,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364442,1259,135000.0,1999,2017,청담동,삼성청담공원아파트,5,21~31,107.220,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364443,1317,79000.0,1999,2017,청담동,삼성청담아파트,5,21~31,59.990,small,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364444,1720,180000.0,1980,2017,청담동,청담삼익아파트,5,21~31,104.630,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364445,1008,170000.0,2002,2017,청담동,상지리츠빌6,5,21~31,168.670,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364446,1105,118500.0,1999,2017,청담동,삼성청담공원아파트,5,21~31,107.220,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364447,620,95000.0,2000,2017,청담동,골든아트빌,5,21~31,153.330,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364448,1991,164000.0,2012,2017,청담동,청담자이,5,21~31,82.365,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364449,1979,163000.0,2012,2017,청담동,청담자이,5,21~31,82.365,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364450,2398,119000.0,2012,2017,청담동,청담자이,5,21~31,49.619,small,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364451,920,78000.0,2005,2017,청담동,범신칼릭스빌,5,21~31,84.780,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364452,1226,135000.0,1992,2017,청담동,청담아이파크,5,21~31,110.110,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364453,1124,95500.0,1999,2017,청담동,삼성청담공원아파트,5,21~31,84.960,medium,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364454,1434,51500.0,2005,2017,청담동,휴먼스타빌,5,21~31,35.905,small,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39
364455,1019,117000.0,1999,2017,청담동,삼성청담아파트,5,21~31,114.830,large,...,10.463629,1.46,1.69,1.91,2.26,2.26,1.23,1.48,3.45,1.39

강남구의 모든 아파트 정보를 가져왔다.

In [60]:
apt[filt].describe()['price']

count     38922.000000
mean      97633.451210
std       56418.735605
min        1000.000000
25%       62000.000000
50%       85500.000000
75%      120000.000000
max      650000.000000
Name: price, dtype: float64

강남구의 아파트 가격 평균을 구함.

In [61]:
apt[filt].describe()['price_per_area']['mean']

1176.6974461744

강남구의 아파트 평당가를 구함.

In [79]:
filt = apt['gu'].isin(['강남구'])
b = set(apt[filt].dong)
b

{'개포동',
 '논현동',
 '대치동',
 '도곡동',
 '삼성동',
 '세곡동',
 '수서동',
 '신사동',
 '압구정동',
 '역삼동',
 '율현동',
 '일원동',
 '자곡동',
 '청담동'}

In [80]:
list(map(lambda x: x in b, apt.dong))

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 ...]

b의 데이터가 apt.dong에 있는지 검사.

In [81]:
data['RegionName'].str.upper()

0                 NEW YORK
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

pandas의 object는 대부분 문자열이다 => 정규식 적용하면 대부분 해결된다.
- object일 경우 .str, .str에서 사용 가능한 메소드 사용 가능.

In [82]:
data['RegionName'] = data.RegionName.str.upper()

In [83]:
data

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,NEW YORK,NY,New York,Queens,0,672400
1,2017-05-31,12447,LOS ANGELES,CA,Los Angeles Long Beach Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,CHICAGO,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,PHILADELPHIA,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,PHOENIX,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,LAS VEGAS,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,SAN DIEGO,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,DALLAS,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,SAN JOSE,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,JACKSONVILLE,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,SAN FRANCISCO,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,AUSTIN,TX,Austin,Travis,11,321600
12,2017-05-31,17762,DETROIT,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,COLUMBUS,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,MEMPHIS,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,CHARLOTTE,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,EL PASO,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,BOSTON,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,SEATTLE,WA,Seattle,King,18,670300
19,2017-05-31,3523,BALTIMORE,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,DENVER,CO,Denver,Denver,20,383200
21,2017-05-31,41568,WASHINGTON,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,NASHVILLE,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,MILWAUKEE,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,TUCSON,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,PORTLAND,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,OKLAHOMA CITY,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,OMAHA,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,ALBUQUERQUE,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,FRESNO,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,MOUNT SIDNEY,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,CEDAR GROVE,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,CLARK,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,DALEVILLE,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,PINEY POINT,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,ALMO,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,BOIS D ARC,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,TYASKIN,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,INVERNESS,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,OTWELL,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,LAKE HUGHES,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,MARBLE HILL,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,MEAD,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,HESPERUS,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,MIDLAND,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,LAVACA,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,MAYS LANDING,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,STINSON BEACH,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,UPPER BROOKVILLE,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,DECATUR,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,HORSE SHOE,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,LAOTTO,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,GOLDSBORO,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,PHOENICIA,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,JONES,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,NEHALEM,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,CLEAR LAKE SHORES,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,LEBANON BOROUGH,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,HENRICO,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,EAST HAMPSTEAD,NH,Boston,Rockingham,10829,296400

수정사항 반영.

In [84]:
data.RegionName.str.replace('YORK','york')

0                 NEW york
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

replace: regular expression을 적용하면 편하게 쓸 수 있다.

In [85]:
data.RegionName.map(lambda x: x+'normal')

0                 NEW YORKnormal
1              LOS ANGELESnormal
2                  CHICAGOnormal
3             PHILADELPHIAnormal
4                  PHOENIXnormal
5                LAS VEGASnormal
6                SAN DIEGOnormal
7                   DALLASnormal
8                 SAN JOSEnormal
9             JACKSONVILLEnormal
10           SAN FRANCISCOnormal
11                  AUSTINnormal
12                 DETROITnormal
13                COLUMBUSnormal
14                 MEMPHISnormal
15               CHARLOTTEnormal
16                 EL PASOnormal
17                  BOSTONnormal
18                 SEATTLEnormal
19               BALTIMOREnormal
20                  DENVERnormal
21              WASHINGTONnormal
22               NASHVILLEnormal
23               MILWAUKEEnormal
24                  TUCSONnormal
25                PORTLANDnormal
26           OKLAHOMA CITYnormal
27                   OMAHAnormal
28             ALBUQUERQUEnormal
29                  FRESNOnormal
                  ...
10800         MOUNT SIDNEYnormal
10801          CEDAR GROVEnormal
10802                CLARKnormal
10803            DALEVILLEnormal
10804          PINEY POINTnormal
10805                 ALMOnormal
10806           BOIS D ARCnormal
10807              TYASKINnormal
10808            INVERNESSnormal
10809               OTWELLnormal
10810          LAKE HUGHESnormal
10811          MARBLE HILLnormal
10812                 MEADnormal
10813             HESPERUSnormal
10814              MIDLANDnormal
10815               LAVACAnormal
10816         MAYS LANDINGnormal
10817        STINSON BEACHnormal
10818     UPPER BROOKVILLEnormal
10819              DECATURnormal
10820           HORSE SHOEnormal
10821               LAOTTOnormal
10822            GOLDSBOROnormal
10823            PHOENICIAnormal
10824                JONESnormal
10825              NEHALEMnormal
10826    CLEAR LAKE SHORESnormal
10827      LEBANON BOROUGHnormal
10828              HENRICOnormal
10829       EAST HAMPSTEADnormal
Name: RegionName, Length: 10830, dtype: object

map만으로 바꾸고싶은 내용을 전부 수정할 수 있다.

In [86]:
data.County.str.lower()

0                      queens
1                 los angeles
2                        cook
3                philadelphia
4                    maricopa
5                       clark
6                   san diego
7                      dallas
8                 santa clara
9                       duval
10              san francisco
11                     travis
12                      wayne
13                   franklin
14                     shelby
15                mecklenburg
16                    el paso
17                    suffolk
18                       king
19             baltimore city
20                     denver
21       district of columbia
22                   davidson
23                  milwaukee
24                       pima
25                  multnomah
26                   oklahoma
27                    douglas
28                 bernalillo
29                     fresno
                 ...
10800                 augusta
10801                 kanawha
10802                   routt
10803               botetourt
10804             saint marys
10805                calloway
10806                  greene
10807                wicomico
10808                   marin
10809                    pike
10810             los angeles
10811                  dawson
10812                    weld
10813                la plata
10814                muscogee
10815               sebastian
10816                atlantic
10817                   marin
10818                  nassau
10819                  benton
10820               henderson
10821                   noble
10822                caroline
10823                  ulster
10824                 autauga
10825               tillamook
10826               galveston
10827               hunterdon
10828                 henrico
10829              rockingham
Name: County, Length: 10830, dtype: object

In [87]:
data.RegionName.str.replace(' ', '')

0                NEWYORK
1             LOSANGELES
2                CHICAGO
3           PHILADELPHIA
4                PHOENIX
5               LASVEGAS
6               SANDIEGO
7                 DALLAS
8                SANJOSE
9           JACKSONVILLE
10          SANFRANCISCO
11                AUSTIN
12               DETROIT
13              COLUMBUS
14               MEMPHIS
15             CHARLOTTE
16                ELPASO
17                BOSTON
18               SEATTLE
19             BALTIMORE
20                DENVER
21            WASHINGTON
22             NASHVILLE
23             MILWAUKEE
24                TUCSON
25              PORTLAND
26          OKLAHOMACITY
27                 OMAHA
28           ALBUQUERQUE
29                FRESNO
              ...
10800        MOUNTSIDNEY
10801         CEDARGROVE
10802              CLARK
10803          DALEVILLE
10804         PINEYPOINT
10805               ALMO
10806           BOISDARC
10807            TYASKIN
10808          INVERNESS
10809             OTWELL
10810         LAKEHUGHES
10811         MARBLEHILL
10812               MEAD
10813           HESPERUS
10814            MIDLAND
10815             LAVACA
10816        MAYSLANDING
10817       STINSONBEACH
10818    UPPERBROOKVILLE
10819            DECATUR
10820          HORSESHOE
10821             LAOTTO
10822          GOLDSBORO
10823          PHOENICIA
10824              JONES
10825            NEHALEM
10826    CLEARLAKESHORES
10827     LEBANONBOROUGH
10828            HENRICO
10829      EASTHAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

In [88]:
apt2 = apt[['year', 'price']]
apt2

        year     price
0       2009   71000.0
1       2009   83700.0
2       2009  173500.0
3       2009   65000.0
4       2009  160000.0
5       2009   75000.0
6       2009   82000.0
7       2009   78000.0
8       2009  100000.0
9       2009   44800.0
10      2009   37000.0
11      2009   53000.0
12      2009  112000.0
13      2009   78000.0
14      2009   80000.0
15      2009  113500.0
16      2009   66000.0
17      2009   98000.0
18      2009  110500.0
19      2009  116000.0
20      2009   80000.0
21      2009   80000.0
22      2009   98100.0
23      2009   98500.0
24      2009   69000.0
25      2009   52950.0
26      2009  136500.0
27      2009   68500.0
28      2009   79500.0
29      2009   52000.0
...      ...       ...
429436  2017   31000.0
429437  2017   45800.0
429438  2017   22800.0
429439  2017   34000.0
429440  2017   39500.0
429441  2017   29000.0
429442  2017   29000.0
429443  2017   38000.0
429444  2017   25200.0
429445  2017   31300.0
429446  2017   34300.0
429447  2017   35000.0
429448  2017   42500.0
429449  2017   33800.0
429450  2017   12000.0
429451  2017   36900.0
429452  2017   35000.0
429453  2017   26950.0
429454  2017   37500.0
429455  2017   34800.0
429456  2017   35500.0
429457  2017   31500.0
429458  2017   44300.0
429459  2017   12300.0
429460  2017   40000.0
429461  2017   35900.0
429462  2017   34800.0
429463  2017   39000.0
429464  2017   23500.0
429465  2017   35200.0

[429466 rows x 2 columns]

In [89]:
apt2.groupby('year').mean()

             price
year
2009  53154.423087
2010  54481.975525
2011  47782.875191
2012  49748.876154
2013  47549.218954
2014  46254.399498
2015  47321.686795
2016  56794.748497
2017  65054.597161

apt의 연도별로 group을 만들어 연도별 평균을 구할 수 있다.