# 파이썬 - 연산

___

In [1]:
a_list = []
print(id(a_list))

a_list += [1]
print(id(a_list))

4423706056
4423706056

증감연산자를 사용하면 주소값이 바뀌지 않는다.

In [2]:
a_list.append(2)
print(id(a_list))
a_list.extend([3])
print(id(a_list))

4423706056
4423706056

append, extend 연산 후에도 주소값이 바뀌지 않는다.

In [4]:
print(3 and 'aaaa')
print(3 and True)

aaaa
True

and 연산자: 둘 다 True이면 마지막 인자를 결과값으로 반환한다.

In [8]:
print(3 or False)
print(4 or 9)
print([] or 0)

3
4
0

or 연산자: 둘 중 하나만 True이면 True인 인자를 결과값으로 반환하고, 앞에서 True인 인자가 나왔으면 이후의 연산은 수행하지 않는다. 둘 다 False이면 마지막 인자를 결과값으로 반환한다.

In [9]:
a = 0
b = 1
b / a > 0

ZeroDivisionError: division by zero

In [10]:
a = 0
b = 1
a != 0 and b / a > 0
a and b / a > 0

0

and 연산자의 첫 인자가 False이면 바로 False를 리턴하는 특성을 활용한 예외 처리

In [11]:
for i in range(10):
    print(i)
    if i == 3:
        break
else:
    print('마침')

0
1
2
3

for 구문이 완벽히 끝나야 else 구문이 실행됨: break로 for문 중간에서 나왔으므로 else 실행 안됨.

In [12]:
a = [-1e50, 1, 1e50]
%time sum(a)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.87 µs

0.0

%time: 연산에 걸린 시간 측정

In [13]:
%timeit sum(a)

221 ns ± 9.64 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

%timeit: 연산을 여러번 시도하여 걸린 평균 시간 측정

In [14]:
a = 10
b = 15 if a > 5 else 5
b

15

C의 삼항연산자 역할. b는 a가 5보다 크면 15, 이외의 경우 5가 할당된다.

In [15]:
a = input()
try:
    b = int(a)
except:
    print('숫자로 입력해라')
else:
    print('Got It')
finally:
    print('무조건 실행됨')

k
숫자로 입력해라
무조건 실행됨

예외 처리 구문

파이썬에서 else 쓰는 경우들
1. if/else구문
2. 3항연산구문
3. for문
4. while문
5. 예외처리구문

___

# Error

파이썬에서 Exception = 통상적인 Runtime Error와 동일하다.

In [16]:
a = 10
if a > 10:
    print('a')
else:
    raise Exception('aaa')

Exception: aaa

raise: 에러나 Exception을 고의로 발생시킨다.

In [18]:
b = 11
assert b == 10

AssertionError:

assert: 디버깅 목적으로 주로 사용한다.

값의 조건을 넣는 것이 핵심

장점: 정상 동작하는 경우 코드의 흐름에 어떠한 영향도 끼치지 않는다(흐름 제어에 용이)

___

# Function

파이썬 함수의 특징
1. First Class Function(FCF): 함수를 값처럼 사용할 수 있다.
2. High Order Function(HOF): 고차 함수 - 함수를 인자로 쓸 수 있고, 리턴값을 함수로 할 수 있는 함수.

    => First Class Function이면 High Order Function이다.
3. 함수형 패러다임을 지원한다: lambda function 사용 가능.
4. return type을 명시하지 않아도 된다: 암묵적으로 return None이 들어가 있다.

In [19]:
a = lambda x: x+1

In [21]:
b = lambda x,y: x+y+3
b(2, 3)

8

lambda function
- :을 기준으로 x를 받으면 리턴값을 x+1로 해준다(식 = expression => 다른 함수에 바로 들어갈 수 있음)
- 익명함수라고도 한다.
- Statement가 아닌 Expression이므로 함수의 인자로 쓰일 수 있다.

___

# Functional Paradigm

In [22]:
def moon_sun(x, y):
    return x, y

moon_sun(1, 3)

(1, 3)

Positional 방식: 순서대로 짝을 이뤄 리턴. 순서를 꼭 맞춰줘야 한다.

In [23]:
moon_sun(y=3, x=1)

(1, 3)

Keyword 방식: 순서와 상관없이 parameter를 지목하여 넣으면 순서를 맞춘 것과 동일한 결과.

In [24]:
def moon_sun(x, y, *z):
    return x, y, z
moon_sun(1, 2, 23, 4352, 43, 6, "11", ['assd'])

(1, 2, (23, 4352, 43, 6, '11', ['assd']))

*은 나머지 값을 의미하므로 x=1, y=2, z=나머지 전부.

In [25]:
def moon_sun(x, *y, z):
    return x, y, z
moon_sun(1, 2, 23, 4352, 43, 6, "11", ['assd'])

TypeError: moon_sun() missing 1 required keyword-only argument: 'z'

In [30]:
moon_sun(1, 23, 2, 4352, 43, 6, "11", z=['assd'])

(1, (23, 2, 4352, 43, 6, '11'), ['assd'])

*은 마지막 인자에만 사용

중간에 사용하려면 마지막 인자를 keyword방식으로 넣어줘야 사용 가능하다.

In [32]:
def moon_sun(*, x, y):
    return x, y
moon_sun(1, 2, 23, 4352, 43, 6, x = "11", y = ['assd'])

TypeError: moon_sun() takes 0 positional arguments but 6 positional arguments (and 2 keyword-only arguments) were given

첫 parameter로 * 넣고 나머지 값들 지정해서 쓰면 keyword만 사용 가능하다.

In [33]:
moon_sun(x=2, y=2)

(2, 2)

In [34]:
def moon_sun(x, y):
    return x, y
moon_sun(y=2)

TypeError: moon_sun() missing 1 required positional argument: 'x'

함수 header 맞춰서 input을 주지 않으면 에러(C의 함수 signature 지켜야 하는 규칙과 같다)

In [35]:
def moon_sun(x=3, y):
    return x, y

SyntaxError: non-default argument follows default argument (<ipython-input-35-76a993adba4a>, line 1)

In [36]:
def moon_sun(x, y=3):
    return x, y

parameter 초기값 지정시 뒤에것들부터 차례로 값 지정 가능(중간에 parameter값 빠진 경우는 존재할 수 없다)

In [37]:
def moon_sun(x, y=3, z=1):
    return x, y, z
print(moon_sun(3))
print(moon_sun(3, 7))
print(moon_sun(3, 7, 8))

(3, 3, 1)
(3, 7, 1)
(3, 7, 8)

parameter 초기값을 지정한 경우 input에서 값이 주어지지 않았으면 초기값이 들어간다.

In [38]:
def moon_sun(x or 3):
    return x

SyntaxError: invalid syntax (<ipython-input-38-dd631670a2fc>, line 1)

In [39]:
moon_sun(7 or 23)

(7, 3, 1)

parameter로는 or 사용 불가, argument로는 or 사용 가능.

In [40]:
a = input('xxx:')
moon_sun(a or 23)

xxx:

(23, 3, 1)

In [42]:
a = input('xxx:')
moon_sun(a or 23)

xxx:3

('3', 3, 1)

argument에 or연산을 적용하였으므로 a값이 None이면 23, None이 아니면 a의 값으로 argument가 적용된다.

In [47]:
def moon_sun(x, *z):
    return x, z
moon_sun(1, (23, 3, 34, 5423))

(1, ((23, 3, 34, 5423),))

In [48]:
moon_sun(1, *(23, 3, 34, 5423))

(1, (23, 3, 34, 5423))

In [49]:
moon_sun(1, *[23, 3, 34, 5423])

(1, (23, 3, 34, 5423))

*을 써주면 tuple을 unpacking해준 상태로 argument로 들어간다.

In [50]:
moon_sun(1, *{23, 3, 34, 5423})

(1, (34, 3, 5423, 23))

In [51]:
moon_sun(1, *frozenset({23, 3, 34, 5423}))

(1, (34, 3, 5423, 23))

sequence가 아닌 set, frozenset을 unpacking후 argument로 넣었으므로 원래의 순서가 보전되지 않는다.

In [52]:
moon_sun(1, *'aaaa')

(1, ('a', 'a', 'a', 'a'))

In [53]:
def moon_sun(x, **z):
    return x, z

In [54]:
moon_sun(1, x=2, y=3)

TypeError: moon_sun() got multiple values for argument 'x'

x에 1이 들어갔으나 x=2로 다시 넣었으므로 에러

In [56]:
moon_sun(1, a=2, y=3)

(1, {'a': 2, 'y': 3})

정상 동작

In [57]:
def moon_sun(x, **z):
    if 'a' in z:
        print('aaa')
    return x, z

In [58]:
moon_sun(1, b=2, y=3)

(1, {'b': 2, 'y': 3})

In [59]:
moon_sun(1, a=2, y=3)

aaa

(1, {'a': 2, 'y': 3})

key값이 a인 argument가 주어지면 aaa 출력됨.

In [60]:
def moon_sun(x, **y, *z):
    return x, y, z

SyntaxError: invalid syntax (<ipython-input-60-858884c73cb4>, line 1)

In [61]:
def moon_sun(x, *y, **z):
    return x, y, z

'*'이 여러개인 argument와 한개인 argument 같이 쓰려면: 적은 순서대로 넣어줘야 한다.

In [62]:
moon_sun(1, 3, 4, 2, 423, a=2, b=3)

(1, (3, 4, 2, 423), {'a': 2, 'b': 3})

x: 1, y: 나머지, z: {'a':2, 'b':3}

In [65]:
moon_sun(1, 3, 4, 2, 34, z=**{1:'3'})

SyntaxError: invalid syntax (<ipython-input-65-617eb8db3a5c>, line 1)

In [76]:
x = {1:'a', 2:'b'}
y = {2:'c', 3:'d'}
z = {x}

TypeError: unhashable type: 'dict'

In [77]:
z = {**x}
z

{1: 'a', 2: 'b'}

z에 x 대입하려면: x를 unpacking해줘야 한다.

In [78]:
z = {**x, **y}
z

{1: 'a', 2: 'c', 3: 'd'}

x에서 온 2:'b'가 y에서 온 2:'c'로 덮어씌워짐.

In [79]:
def moon_sun(**z):
    return z

In [80]:
moon_sun(**{1:'3'})

TypeError: moon_sun() keywords must be strings

In [81]:
moon_sun(z={1:'3'})

{'z': {1: '3'}}

keyword를 지정하여 입력하면 정상 실행된다.

dict의 경우 keyword가 숫자면 안됨.

In [82]:
def moon_sun4(x, *y):
    return x, y

In [83]:
moon_sun4(1, *[2, 3, 3, 4, 5])

(1, (2, 3, 3, 4, 5))

argument에 *, ** 붙으면 unpacking해준다.

In [84]:
a = {'a':1, 'b':2, 'c':3}
for i in a:
    print(i)

a
b
c

dict는 key값으로만 검색하므로 key값을 모두 출력하였다.

In [85]:
for i in a.values():
    print(i)

1
2
3

dict를 value값으로만 검색하였으므로 value값을 모두 출력하였다.

In [86]:
for i in a.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)

dict를 key, value 모두로 검색하였으므로 key, value 쌍으로 모두 출력하였다.

___

# Functional Programming

iterator generator: 루프를 없애는 기법(루프를 깔끔히 표현)

In [90]:
temp = list()
for i in range(1, 11):
    temp.append(i)
i

10

루프의 문제점: loop scope가 global이므로 루프를 나가도 값이 유지된다.

In [91]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

comprehension 방식: 루프를 완전히 없애지는 못하나 scope 문제 해결, 간결하게 표현.

In [92]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

반복문 안쓰고 리스트에 원소 추가 가능

Map, Filter, Reduce: 가장 기본적인 Functional Programming(High Order Function)

___

Reduce = 줄여 나간다.

Reduce 예시: 1~10까지의 합 구하기

In [93]:
sum(list(range(1,11)))

55

In [95]:
list(map(lambda x:x+2, range(1,11)))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [96]:
sum(list(map(lambda x:x+2, range(1,11))))

75

For문 안쓰고 한줄로 끝.

___

Map: 어떠한 함수의 형태로 Mapping시키는 것.

In [97]:
list(map(lambda x:x+2, 'abc'))

TypeError: must be str, not int

str형에 lambda function 적용 불가

In [98]:
list(map(lambda x:x+2, (1,2,3)))

[3, 4, 5]

In [99]:
list(map(lambda x:x+2, [1,2,3]))

[3, 4, 5]

In [100]:
list(map(lambda x:x+2, {1,2,3}))

[3, 4, 5]

str 제외한 모든 iterable 형태에 대해 lambda function 적용 가능.

In [102]:
def add_two(x):
    return x+2
set(map(add_two, {1,2,3}))

{3, 4, 5}

lambda 대신 다른 함수를 정의한 경우 그 함수의 이름만 argument로 넣어준다.

In [112]:
for i in map(lambda x:x+1, range(10)):
    print(i)

1
2
3
4
5
6
7
8
9
10

___

Filter: 조건 적용하여 조건에 맞는것만 구한다.

In [103]:
list(filter(lambda x:x>2, {1,2,3}))

[3]

In [104]:
all([" ", [], (), {}])

False

In [105]:
all("")

True

all: argument가 전부 참이어야 True 리턴.

In [106]:
any([" ", [], (), {}])

True

any: argument들 중 어느 하나라도 참이면 True 리턴.

In [108]:
a = enumerate([1,2,3])
a

In [110]:
b = (x for x in range(10))
b

결과값이 <> 안에 있는 대부분의 경우는 generator이거나 enumerate이다.

In [111]:
for i, j in enumerate(range(3, 11), 10):
    print(i, j)

10 3
11 4
12 5
13 6
14 7
15 8
16 9
17 10

enumerate: iterable이 들어오면 index를 생성해 준다.

In [114]:
d = [(a, x, a*x) for a in range(2,10) for x in range(1,10)] #구구단 전체 출력
d

[(2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16),
 (4, 5, 20),
 (4, 6, 24),
 (4, 7, 28),
 (4, 8, 32),
 (4, 9, 36),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (8, 1, 8),
 (8, 2, 16),
 (8, 3, 24),
 (8, 4, 32),
 (8, 5, 40),
 (8, 6, 48),
 (8, 7, 56),
 (8, 8, 64),
 (8, 9, 72),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

함수의 default값(parameter의 default값)으로 절대 mutable한 값을 쓰지 말라.

In [116]:
import time
time.time()
def time_at(time = time.time()):
    return time

In [117]:
time_at()

1530805562.153698

In [120]:
time.sleep(5)
time_at()

1530805562.153698

time이 parameter로 고정되었으므로 sleep하고난 후에도 같은 값이 나온다.

In [121]:
x = 1
y = 3
def e():
    x = 2
    x += 3
    print('---',x)
    print('---',y)
    return x

print(e())
print(x)

--- 5
--- 3
5
1

함수의 scope에 의해 함수 밖에서의 x, y값은 변하지 않는다.

y: 함수 안에 값이 없으므로 함수 밖의 y가 출력된다.(가장 가까운 곳에 정의된 변수 값을 사용한다)

Scope 범위 - LEGB: Local, Enclosing, Global, Built-in

In [122]:
x = 1
y = 3
def e():
    x = 2
    def f():
        global x
        return x
    return f
print(e()())
print(x)

1
1

global x를 선언하였으므로 f 내에서 사용하는 x에 대한 연산은 함수 밖의 x에 대한 연산으로 적용