In [1]:
import sqlite3 as sql

In [8]:
con = None

try:
    con = sql.connect('test.db')
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print("SQLite Version: ", data)
    
except Exception as e:
    print("Error: ", e)
    
finally:
    if con:
        con.close()

SQLite Version:  ('3.23.1',)

버전 확인을 위해 연결, cursor를 생성. 작업 종료시 연결도 종료.

In [11]:
con = sql.connect('test.db')

with con:
    cur = con.cursor()
    cur.execute("DROP TABLE IF EXISTS Cars")
    cur.execute("CREATE TABLE Cars(Id INT PRIMARY KEY, Name TEXT, Price INT)")
    cur.execute("INSERT INTO Cars VALUES(1, 'Audi', 52642)")
    cur.execute("INSERT INTO Cars VALUES(2, 'Mercedes', 57127)")
    cur.execute("INSERT INTO Cars VALUES(3, 'Skoda', 9000)")
    cur.execute("INSERT INTO Cars VALUES(4, 'Volvo', 29000)")
    cur.execute("INSERT INTO Cars VALUES(5, 'Bentley', 350000)")
    cur.execute("INSERT INTO Cars VALUES(6, 'Hummer', 41400)")
    cur.execute("INSERT INTO Cars VALUES(7, 'Volkswagen', 21600)")

db 삽입 - 삽입할 값에 대해 개별적으로 sql문 만들어 실행.

In [13]:
cars = [
    (1, 'Audi', 52642),
    (2, 'Mercedes', 57127),
    (3, 'Skoda', 9000),
    (4, 'Volvo', 29000),
    (5, 'Bentley', 350000),
    (6, 'Hummer', 41400),
    (7, 'Volkswagen', 21600)
]

con = sql.connect('test.db')

with con:
    cur = con.cursor()
    cur.execute("DROP TABLE IF EXISTS Cars")
    cur.execute("CREATE TABLE Cars(Id INT PRIMARY KEY, Name TEXT, Price INT)")
    cur.executemany("INSERT INTO Cars VALUES (?, ?, ?)", cars)

db 삽입 - 삽입할 값들을 튜플 형태로 만들고 이를 모아 리스트로 만든 후, executemany를 활용하여 한번에 삽입.

In [25]:
try:
    con = sql.connect('test.db')
    cur = con.cursor()
    cur.executescript("""
        DROP TABLE IF EXISTS Cars;
        CREATE TABLE Cars(Id INT PRIMARY KEY, Name TEXT, Price INT);
        INSERT INTO Cars VALUES(1, 'Audi', 52642);
        INSERT INTO Cars VALUES(2, 'Mercedes', 57127);
        INSERT INTO Cars VALUES(3, 'Skoda', 9000);
        INSERT INTO Cars VALUES(4, 'Volvo', 29000);
        INSERT INTO Cars VALUES(5, 'Bentley', 350000);
        INSERT INTO Cars VALUES(6, 'Hummer', 41400);
        INSERT INTO Cars VALUES(7, 'Volkswagen', 21600);
    """)
    
    con.commit()
    
except Exceptions as e:
    if con:
        con.rollback()
    
    print("Error: ", e)
    
finally:
    if con:
        con.close()

db 삽입 - executescript를 활용하여 실행할 sql문들을 script 형태로 만들어 한번에 실행.

In [26]:
cur.execute("SELECT * FROM Cars")
cur.fetchall()

ProgrammingError: Cannot operate on a closed database.

연결 끊었으므로 검색 안됨.

In [27]:
con = sql.connect(":memory:")

with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Friends(Id INTEGER PRIMARY KEY, Name TEXT);")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Tom');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Rebecca');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Jim');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Robert');")
    
    lid = cur.lastrowid
    print("The last Id of the inserted row is: ", lid)

The last Id of the inserted row is:  4

lastrowid: 마지막으로 sql문 실행 완료된 행의 id값 반환.

In [28]:
cur.execute("SELECT * FROM Friends")
cur.fetchall()

[(1, 'Tom'), (2, 'Rebecca'), (3, 'Jim'), (4, 'Robert')]

In [30]:
uId = 1
uPrice = 62300

con = sql.connect('test.db')

with con:
    cur = con.cursor()
    cur.execute("UPDATE Cars SET Price=? WHERE Id=?", (uPrice, uId))
    print("Number of rows updated:", cur.rowcount)

Number of rows updated: 1

변수 형태로 값을 저장한 후 삽입, 갱신, 조건문에 이용할 수 있다.

In [32]:
cur.execute("SELECT * FROM Cars")
cur.fetchall()

[(1, 'Audi', 62300),
 (2, 'Mercedes', 57127),
 (3, 'Skoda', 9000),
 (4, 'Volvo', 29000),
 (5, 'Bentley', 350000),
 (6, 'Hummer', 41400),
 (7, 'Volkswagen', 21600)]